---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '食品・健康食品',
	description: '',
}

const contentsList = [
    { num: 1, txt: '食品・健康食品に関する分野の分析項目', href: '#health-food' },
    { num: 2, txt: '機能性食品、特定保健用食品（特保＝トクホ）の分析', href: '#functional-food' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="食品・健康食品" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="ライフサイエンス" parent3="食品・健康食品"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/food_01.webp"}
                    alt="食品・健康食品"
                    lead="近年、食の安全性が注目を集めていますが、弊社では、食品の主成分、不純物/微量重金属、異物分析、包装容器の分析など、広い分野の分析で経験を有しています。"
                />
                <h2 id="health-food" class="h2-service">食品・健康食品に関する分野の分析項目</h2>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="29">主要成分・不純物の成分分析組成分析、構造解析</td>
                      <td rowspan="29"><a href="../../documents/o1502_510.html">GC/MS</a>、<a href="../../documents/o1501_510.html">GC-MS/MS</a>、HPLC、<a href="../../documents/o1803_510.html">NMR</a>、<a href="../../documents/an1303_530.html">ICP-AES</a>、<a href="../../documents/an1602_530.html">ICP-MS</a>、<a href="../../documents/x9301_510.html">単結晶Ｘ線構造解析</a></td>
                      <td>多糖類の分子量分布測定：ペクチン、ヒアルロン酸</td>
                    </tr>
                    <tr>
                      <td>アミノ酸一斉分析（タンパク質の加水分解にも対応）</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o564_133.html">NMRによるアルコール発酵のリアルタイムモニタリング</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o500_133.html">NMRによるラフィノース（三糖）の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o538_133.html">NMR多変量解析による食用油の組成解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o539_133.html">NMR多変量解析による食用油の熱劣化解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o484_133.html">LC/MSによるオリゴ糖の定性・定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o490_133.html">酸分解を用いたオリゴ糖の構成単糖分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o480_133.html">LC/MSを用いたグリセライドの分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o545_133.html">LC/MSによる胆汁酸の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o518_133.html">お茶飲料中カテキン類の高分解能LC/MS分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o491_133.html">LC/MS多変量解析による製品特性の解析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o520_133.html">LC/MS多変量解析による製品特性の解析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o489_133.html">MS/MS分析によるペプチドのアミノ酸配列解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o529_133.html">MALDI-TOF/TOF-MSによるペプチドのアミノ酸配列解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o485_133.html">誘導体化を用いたアミノ酸の高感度一斉分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o515_133.html">誘導体化を用いたアミノ酸中のヒスタミンの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o351_133.html">単糖～オリゴ糖の定性・定量分析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o390_133.html">単糖～オリゴ糖の定性・定量分析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o395_133.html">オリゴ糖（単糖～七糖）のHPLC分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p286_133.html">近赤外測定による酒類中のエタノール定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o9904_133.html">サプリメント中のアスタキサンチン分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o9903_133.html">市販オリーブオイル中の中性脂質分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i218_133.html">サプリメント中の微量金属元素分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i231_133.html">茶葉中の無機元素分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i284_133.html">技能試験「玄米中の無機元素分析（3）」</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i308_133.html">認証標準物質NMIJ CRMの分析 ｢メカジキ魚肉粉末中の元素分析｣</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x9301_133.html">単結晶Ｘ線構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m247_133.html">SEM-EDSによる天然塩の分析</a></td>
                    </tr>
                     <tr>
                      <td rowspan="4">香気、異臭成分の分析</td>
                      <td rowspan="4">HS-GC/MS、<a href="../../documents/o1501_510.html">GC-MS/MS</a></td>
                      <td><a href="../../documents/o467_133.html">揮発（香気）成分のSPMEおよびMC濃縮による定性分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/o363_133.html">コーヒーの香気成分分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o419_133.html">固相抽出-熱抽出GC/MSによるカレーパウダーの香気成分の高感度分析</a></td>
                    </tr>
                    <tr>
                      <td>酒類の香気成分分析</td>
                    </tr>
                    <tr>
                      <td rowspan="4">容器包装材料の分析評価</td>
                      <td rowspan="4">HPLC、NMR、<a href="../../documents/f1501_510.html">FT-IR</a>、MS、<a href="../../documents/o1502_510.html">GC/MS</a>、HS-GC/MS、<a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0502_520.html">SEM</a></td>
                      <td>材料分析：組成分析</td>
                    </tr>
                    <tr>
                      <td>多層フィルム・シートの構造（形態）や材料分析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i224_133.html">ICP-MSによる食品容器・包装材料中の有害金属分析 </a></td>
                    </tr>
                    <tr>
                      <td>容器からの臭気分析</td>
                    </tr>
                    <tr>
                      <td rowspan="7">微量有害成分分析</td>
                      <td rowspan="7"><a href="../../documents/an1303_530.html">ICP-AES</a>、<a href="../../documents/an1602_530.html">ICP-MS</a>、IC（1）、<a href="../../documents/i0801_530.html">IC（2）</a>、<a href="../../documents/o1502_510.html">GC/MS</a>、<a href="../../documents/o1501_510.html">GC-MS/MS</a>、<a href="../../documents/c0601_510.html">LC/MS</a></td>
                      <td><a href="../../documents/i218_133.html">ICP-AES、ICP-MS、ICによる微量元素（金属・非金属）分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i221_133.html">食品中の微量金属の定量</a></td>
                    </tr>
                    <tr>
                       <td><a href="../../documents/o467_133.html">揮発（香気）成分のSPMEおよびMC濃縮による定性分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o387_133.html">固相抽出-熱抽出GC/MSによる特定農薬成分の高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f092_133.html">グリオキサールの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o515_133.html">誘導体化を用いたアミノ酸中のヒスタミンの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o487_133.html">ASAP-MSによるレモン表面の農薬分析</a></td>
                    </tr>
                    <tr>
                      <td>機能性試験</td>
                      <td>NMR、MS、<a href="../../documents/f1501_510.html">FT-IR</a>、HPLC</td>
                      <td><a href="../../documents/p255_133.html">粘弾性による乳製品（バター・マーガリン）の塗りやすさ評価</a></td>
                    </tr>
                    <tr>
                      <td rowspan="3">体内動態試験</td>
                      <td rowspan="3"><a href="../../documents/c0601_520.html">LC-MS</a>、LC-MS/MS</td>
                      <td>動物血液、組織試料中の活性成分定量分析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o275_133.html">LC-MS/MS SRMによる動物検体中の微量成分の定量</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o9906_133.html">ラットに投与した活性物質の代謝物解析手順</a></td>
                    </tr>
                    <tr>
                      <td>食品中の異物分析</td>
                      <td><a href="../../documents/f1502_510.html">顕微FT-IR</a>、<a href="../../documents/s1403_530.html">EPMA</a>、<a href="../../documents/an1316_510.html">Py-GC/MS</a>、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../materials/foreign_substance.html">異物分析　（試験法詳細）</a></td>
                    </tr>
                  </tbody>
                </table>
                <h3 class="h3-service-list">安全性評価（変異原性試験）</h3>
                <p>特保申請に必要な変異原性試験（Ames試験）を実施しています。</p>
                <ul class="ul-arrow-small">
                    <li><a href="safety_test.html">安全性評価　（試験法詳細）</a></li>
                </ul>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-service-doc {
  tbody tr:first-child th:nth-child(1) {
    min-width: 200px!important;
  }
  tbody tr:first-child th:nth-child(2) {
    min-width: 145px!important;
  }

  tbody tr:first-child th:last-child {
    min-width: 450px!important;
  }
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>