---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: '化粧品・医薬部外品・家庭用品・トイレタリー',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="化粧品・医薬部外品・家庭用品・トイレタリー" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="ライフサイエンス" parent3="化粧品・医薬部外品・家庭用品・トイレタリー"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/life_01.webp"}
                    alt="化粧品・医薬部外品・家庭用品・トイレタリー"
                    lead="化粧品・医薬部外品、家庭用品（トイレタリー）など生活に密接に関連した商品群の、研究開発、安全性評価、製品製造販売のステージで、成分分析、安全性試験、異物分析など、広く分析評価が可能です。"
                />
                <h2 class="h2-service">化粧品・医薬部外品・家庭用品・トイレタリー分析項目</h2>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                    <td rowspan="5">主要成分の組成分析構造解析</td>
                      <td rowspan="5"><a href="../../documents/f1501_510.html">FT-IR</a>、<a href="../../documents/c0601_510.html">LC/MS</a>、NMR、MS、<a href="../../documents/x9301_510.html">単結晶Ｘ線構造解析</a>、<a href="../../documents/an1303_530.html">ICP-AES</a>、<a href="../../documents/an1602_530.html">ICP-MS</a>、IC（1）、<a href="../../documents/i0801_530.html">IC（2）</a></td>
                      <td>界面活性剤の分析（解析、定量）</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x9301_132.html">単結晶Ｘ線構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/c007_132.html">分光光度計による拡散透過、拡散反射率の測定（日焼け止めクリームの透過率）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i376_132.html">イオンクロマトグラフ（IC）による酢酸イオンの分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m248_132.html">SEM-EDSによる歯磨き粉の分析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="5">容器包装材料の分析</td>
                      <td rowspan="5"><a href="../../documents/o1502_510.html">GC/MS</a>、HPLC、<br><a href="../../documents/o1802_510.html">TCT-GC/MS</a></td>
                      <td>ポリマーフィルムの材料分析、製品容器からの溶出物分析 </td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f076_132.html">HPLCによる樹脂中の残存イソシアネートの分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f052_132.html">パッケージ内の残存溶剤成分分析、ホルムアルデヒド</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o350_132.html">ヒドラジンの定量</a></td>
                    </tr>
                    <tr>
                      <td>揮発性有機化合物（VOC）成分分析</td>
                    </tr>
                    <tr>
                      <td rowspan="6">材料の表面分析形態観察</td>
                      <td rowspan="6"><a href="../../documents/f1502_510.html">顕微FT-IR</a>、<a href="../../documents/s0801_510.html">Ramann</a>、<a href="../../documents/s1403_530.html">EPMA</a>、ESCA、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>多層フィルム・シートの層構造解析</td>
                    </tr>
                    <tr>
                      <td>透過型電子顕微鏡TEM観察</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f063_132.html">顕微IRイメージング法によるラミネートフィルムの組成分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s396_132.html">レーザラマンによるラミネートフィルムの分析</a></td>
                    </tr>
                    <tr>
                      <td>表面処理材料の表面分析</td>
                    </tr>
                    <tr>
                      <td>金属材料酸化表面の解析</td>
                    </tr>
                    <tr>
                      <td rowspan="4">材料の物性測定</td>
                      <td rowspan="4">&nbsp;</td>
                      <td>プラスチックスの物性試験（機械的強度、熱的特性など）</td>
                    </tr>
                    <tr>
                      <td>多孔性材料の評価（比表面積測定、細孔径分布測定）</td>
                    </tr>
                    <tr>
                      <td>微粒子の粒度分布測定</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o502_132.html">クリーム状試料の透過率測定</a></td>
                    </tr>  
                    <tr>
                      <td rowspan="3">製品の不具合品の分析/解析</td>
                      <td rowspan="3"><a href="../../documents/f1502_510.html">顕微FT-IR</a>、<a href="../../documents/s1403_530.html">EPMA</a>、<a href="../../documents/an1316_510.html">Py-GC/MS</a>、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>不良品の組成分析</td>
                    </tr>
                    <tr>
                      <td>変色原因の検討</td>
                    </tr>
                    <tr>
                      <td><a href="../materials/foreign_substance.html">異物分析　（試験法詳細）</a></td>
                    </tr>
                    <tr>
                      <td>製品、原材料の安全性評価<br>
                        （変異原性試験/GLP対応）</td>
                      <td>&nbsp;</td>
                      <td><a href="safety_test.html">安全性評価　（試験法詳細） </a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
    .tbl-service-doc {
      tbody tr:first-child th:nth-child(1) {
        min-width: 250px !important;
      }
    }
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>