---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '安全性試験',
	description: '',
}

const contentsList = [
    { num: 1, txt: '変異原性試験（遺伝毒性試験）', href: '#genotoxicity' },
    { num: 2, txt: '復帰突然変異試験（エームス（Ames）試験）', href: '#ames' },
    { num: 3, txt: 'in vitro染色体異常試験', href: '#chromosome' },
    { num: 4, txt: 'マウスリンフォーマTK試験', href: '#mouse' },
    { num: 5, txt: 'in vitro小核試験', href: '#in-vitro' },
    { num: 6, txt: 'umu試験', href: '#umu' },
    { num: 7, txt: '被験物質分析試験', href: '#test-substance' },
    { num: 8, txt: '細胞毒性試験', href: '#cell-toxic' },
    { num: 9, txt: '高分子フロースキーム試験（化審法対応）', href: '#polymer' },
    { num: 10, txt: '微生物学的試験', href: '#microbe' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="安全性試験" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="ライフサイエンス" parent3="安全性評価"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/safety_test_01.webp"}
                    alt="安全性試験"
                    lead="化学物質や医薬品、医用材料、食品などの安全性試験として、微生物や動物細胞を用いた変異原性試験（エームス試験、染色体異常試験、マウスリンフォーマTK試験など）を受託しています。医薬品、医療機器、化審法、安衛法の各GLPの適合確認を受けており、各GLP対応試験が可能です。 関連する試験として、抗菌性試験、細胞毒性試験などを実施しています。"
                />
                <Contents list={contentsList} />
                <h2 id="genotoxicity" class="h2-service">変異原性試験（遺伝毒性試験）
                </h2>
                <p><em>in vitro</em>試験について医薬品、医療機器、化審法、安衛法の各GLPの適合確認を受けております。化審法・安衛法対応試験につきましては届出様式の作成も行います。また、OECDの試験ガイドラインにも対応し、英文での報告書作成も承ります。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se096_134.html">化審法に定める有害性情報の報告について</a></li>
                    <li><a href="../../documents/se012_134.html">変異原性試験の種類と複数試験の必要性</a></li>
                    <li><a href="../../documents/se098_134.html">遺伝毒性試験に関する各種規制</a></li>
                    <li><a href="../../documents/se145_134.html">遺伝毒性試験における代謝活性化について</a></li>
                </ul>

                <h2 id="ames" class="h2-service">復帰突然変異試験（エームス（Ames）試験）</h2>
                <p>医薬品、医療機器、化審法、安衛法GLP対応で実施可能です。また、ご希望の試験条件に応じたスクリーニング試験も実施します。使用菌株としては通常の5菌株に加え、WP2uvrA/pKM101についても実施可能です。1995年の試験開始以来、約7,000件（内GLP対応約4,000件）の豊富な実績を有しています。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se001_134.html">エームス試験 ～微生物を用いる変異原性試験／細菌を用いる復帰突然変異試験～</a></li>
                    <li><a href="../../documents/se158_134.html">Ames試験の目的別メニュー</a></li>
                    <li><a href="../../documents/se136_134.html">エームス試験（Ames試験）のご紹介</a></li>
                    <li><a href="../../documents/se095_134.html">少量試料での簡易エームス試験</a></li>
                    <li><a href="../../documents/se091_134.html">非GLPのAmes試験について</a></li>
                    <li><a href="../../documents/se010_134.html">Ames試験における試験ガイドラインの主な相違点</a></li>
                    <li><a href="../../documents/se071_134.html">トナー及びインクのAmes試験 part1～エコアーク認定およびグリーン購入法について～</a></li>
                    <li><a href="../../documents/se080_134.html">トナー及びインクのAmes試験 part2～グリーン購入法について～</a></li>
                    <li><a href="../../documents/se081_134.html">エームス試験方法の紹介</a></li>
                    <li><a href="../../documents/se152_134.html">高分子化合物を被験物質とするAmes 試験</a></li>
                    <li><a href="../../documents/se003_134.html">安衛法対応エームス（Ames）試験に供する被験物質の純度</a></li>
                    <li><a href="../../documents/se132_134.html">エームス試験における前処理法の紹介</a></li>
                    <li><a href="../../documents/se035_134.html">エームス（Ames）試験に供する被験物質の滅菌について</a></li>
                    <li><a href="../../documents/se058_134.html">上水試験法による水中微量成分の変異原性試験</a></li>
                </ul>

                <h2 id="chromosome" class="h2-service"> <em>in vitro</em>染色体異常試験</h2>
                <p> チャイニーズ・ハムスターCHL/IU細胞を用い、医薬品、医療機器、化審法、安衛法GLP対応で実施可能です。また、ご希望の試験条件に応じたスクリーニング試験も実施します。1996年の試験開始以来、約500件（内GLP対応約100件）の豊富な実績を有しています。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se002_134.html">ほ乳類培養細胞を用いる染色体異常試験</a></li>
                    <li><a href="../../documents/se137_134.html">染色体異常試験の試験条件について</a></li>
                    <li><a href="../../documents/se029_134.html">染色体異常試験における染色体の異常像に関する資料</a></li>
                </ul>

                <h2 id="mouse" class="h2-service">マウスリンフォーマTK試験</h2>
                <p>マウスリンパ腫L5178Y（TK<sup>+/-</sup>-3.7.2C）細胞を用い、医薬品、医療機器GLP対応で実施可能です。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se046_134.html">マウスリンフォーマTK試験</a></li>
                    <li><a href="../../documents/se036_134.html">マウスリンフォーマTK試験のフローチャートと用語説明</a></li>
                    <li><a href="../../documents/se032_134.html">マウスリンフォーマTK試験の変異体コロニー像</a></li>
                </ul>

                <h2 id="in-vitro" class="h2-service"><em>in vitro</em>小核試験</h2>
                <p>医薬品、医療機器GLP対応で実行可能です。小核を有する細胞の頻度から、染色体異常誘発性を調べます。チャイニーズ・ハムスター由来CHL/IU細胞、あるいはヒト由来TK6細胞で試験が可能です。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se149_134.html">TK6細胞を用いる<em>in vitro</em>小核試験の紹介</a></li>
                    <li><a href="../../documents/se051_134.html"><em>in vitro</em>小核試験</a></li>
                    <li><a href="../../documents/se144_134.html"><em>in vitro</em>小核試験の試験条件について</a> </li>
                </ul>

                <h2 id="umu" class="h2-service"><em>umu</em>試験</h2>
                <p>umu試験用の菌株を用いた遺伝毒性試験です。アミノ酸を含む被験物質などAmes試験が適用できない場合にAmes試験に替わって実施します。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se043_134.html"><em>umu</em>試験の受託再開について</a></li>
                    <li><a href="../../documents/se131_134.html"><em>umu</em>試験における最高用量の設定について</a></li>
                </ul>

                <h2 id="test-substance" class="h2-service">被験物質分析試験</h2>
                <p>GLP試験に用いる被験物質および動物（微生物・細胞）へ投与する被験物質調製物についてHPLC等の機器分析により安定性試験（被験物質濃度測定）を実施します。医薬品GLP対応での実施も可能です。</p>
                <h3 class="h3-service-list">被験物質の安定性試験</h3>
                <h3 class="h3-service-list">被験物質とのと媒体混合物の安定性・均一性試験</h3>

                <h2 id="cell-toxic" class="h2-service">細胞毒性試験</h2>
                <p>培養細胞の細胞死や増殖抑制などを指標として、試料から溶出する物質あるいは直接添加した物質による毒性作用を評価します。コロニー形成阻害試験、Elution Testは医療機器GLP対応にて実行可能です。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se115_134.html">ヒト由来細胞株の<em>in vitro</em>細胞毒性試験</a>　</li>
                    <li><a href="../../documents/se113_134.html">細胞毒性試験の最近の動向</a></li>
                    <li><a href="../../documents/se142_134.html">細胞毒性試験（コロニー形成阻害試験）について</a></li>
                    <li><a href="../../documents/se138_134.html">USPに基づく細胞毒性試験（Elution Test）について</a></li>
                    <li><a href="../../documents/se156_134.html">MTT法による細胞毒性試験について</a></li>
                    <li><a href="../../documents/se157_134.html">XTT法による細胞毒性試験について</a></li>
                </ul>

                <h2 id="polymer" class="h2-service">高分子フロースキーム試験（化審法対応）</h2>
                <p>有機溶媒への可溶・不溶を問わず、種々のポリマーに対応した試験が可能です。また、申請業務代行（資料作成、申請手続き、ご要望によりヒアリング同行）も承ります。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/b122_134.html">低懸念ポリマー事前確認申出制度について</a></li>
                    <li><a href="../../documents/b123_134.html">高分子フロースキーム</a></li>
                  <li><a href="../../documents/b124_134.html">高分子フロースキームによる新規高分子届出（判定通知受取までの流れ）</a></li>
                </ul>

                <h2 id="microbe" class="h2-service">微生物学的試験</h2>
                <h3 class="h3-service-list">生菌数測定</h3>
                <p>培養法にて大腸菌群、一般細菌、従属栄養細菌（R2A寒天培地法）および真菌（PDA寒天培地法）の生菌数測定を実施します。また、蛍光検出法による全菌数測定も実施しています。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se049_134.html">従属栄養細菌の測定</a></li>
                    <li><a href="../../documents/se017_134.html">蛍光顕微鏡による全菌数測定</a></li>
                    <li><a href="../../documents/se067_134.html">蛍光顕微鏡による生細菌数測定</a></li>
                    <li><a href="../../documents/se018_134.html">一般細菌と従属栄養細菌と全菌数</a></li>
                    <li><a href="../../documents/se031_134.html">産業用水の微生物測定―真菌の測定について</a></li>
                    <li><a href="../../documents/se040_134.html">産業用水の微生物測定―従属栄養細菌の測定について</a></li>
                </ul>
                <h3 id="antibiotic-action" class="h3-service-list">抗菌性試験</h3>
                <p>評価菌を用い、フィルム密着法、ハローテスト、MIC（最小発育阻止濃度）測定等を実施します。</p>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se093_134.html">微量液体希釈法による嫌気性菌のMIC測定</a></li>
                    <li><a href="../../documents/se013_134.html">抗菌性試験方法</a></li>
                    <li><a href="../../documents/se047_134.html">MIC（最小発育阻止濃度）測定（平板希釈法）</a></li>
                    <li><a href="../../documents/se048_134.html">天然成分の抗菌性試験</a></li>
                </ul>
                <h3 class="h3-service-list">その他  </h3>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/se085_134.html">DNP科学分析センターの安全性評価試験</a></li>
                    <li><a href="../../documents/se078_134.html">工業製品の異物・変色へのATP活性測定の利用</a></li>
                    <li><a href="../../documents/se154_134.html">高分子化合物の毒性試験</a></li>
                </ul>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
