@keyframes shine-run {
	0% {
	transform: scale(0) rotate(50deg);
	opacity: 0;
	}
	40% {
	transform: scale(1) rotate(50deg);
	opacity: 1;
	}
	100% {
	transform: scale(250) rotate(50deg);
	opacity: 0;
	}
}