---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '安全性試験依頼書及び被験物質調査書記載の手引き',
	description: '安全性試験依頼書及び被験物質調査書記載の手引き',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="お問合せ・ご依頼" subTitle="Inquiry" src="mv/mv-inquiry.webp" />
    <TitleH1 title="安全性試験依頼書及び被験物質調査書記載の手引き" />
    <div class="main">
        <Inner>
            <SidebarArea parent="お問合せ・ご依頼" parent2="ご依頼の流れ" />
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="mgn-btm20">安全性試験の実施に当たっては安全性試験依頼書の提出をお願いしておりますが、補足事項等を以下に示します。</p>
                <p class="mgn-btm50"><img src={IMG_PATH + "inquiry/img_se089_01.gif"} alt="図：安全性試験依頼書記載の手引き"></p>
                <p><img src={IMG_PATH + "inquiry/img_se089_02.gif"} alt="図：安全性試験依頼書記載の手引き"></p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
