---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '変異原性試験におけるサンプルの送付について',
	description: '変異原性試験におけるサンプルの送付について',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="お問合せ・ご依頼" subTitle="Inquiry" src="mv/mv-inquiry.webp" />
    <TitleH1 title="変異原性試験におけるサンプルの送付について" />
    <div class="main">
        <Inner>
            <SidebarArea parent="お問合せ・ご依頼" parent2="ご依頼の流れ" />
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p style="margin-left:20px">試験依頼者様よりDNP科学分析センターに送付頂いた変異原性試験サンプルは、被験物質管理責任者が受領し、温湿度管理された施錠保管庫で保管します。試験サンプルの送付に当たりましては、以下の点にご留意下さい。不明の点は、担当営業までご相談下さい。</p>
                <div id="guidance-glp">
                    <ul class=" ul-normal-disc">
                        <li>被験物質調査書に記入をお願いします。（「<a href="se089.html">変異原性試験における被験物質調査書記載の手引き</a>」参照）</li>
                        <li>SDS等ありましたら添付をお願いします。</li>
                        <li>空気中で不安定な物質は、不活性ガス雰囲気下で密閉してお送り下さい。</li>
                        <li>冷蔵、冷凍が必要なサンプルは必ずクール便をご利用下さい。</li>
                        <li>液体の冷凍サンプルは、試験が複数回行われる場合には融解させ小分けする必要があります。融解、再凍結が好ましくない場合はあらかじめ小分けしたサンプルの送付をお願いします。</li>
                        <li>光に不安定な物質は遮光瓶、もしくはアルミホイル等で遮光してお送り下さい。</li>
                        <li>必要に応じて緩衝材や天地無用、ワレモノ注意などのシールを使用して下さい。</li>
                    </ul>
                </div>
                <p class="txt-indent">※サンプル送付の際は、なるべくチャック付のビニール袋ではなく試薬瓶でお願い致します。チャック付のビニール袋は、破損したり、静電気の影響を受けやすくサンプルが飛散したりします。</p>
                <ul class="ul-std mgn-tp40">
                    <li>上水試験法に準じた水道水、河川水などの試験の場合は、こちらから滅菌済み採取用容器をお送りしますので営業にお知らせ下さい。（有償）</li>
                </ul>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
