@charset "UTF-8";
/* CSS Document */
div#main-column1 {
	padding:10px 0;
	background:#FFF;
	overflow:hidden;
	width:957px;
}
div#main-column1 h1{
	margin:5px 0 30px 30px;
}

div#main-column1 h2{
	margin:30px 30px 15px 45px;
	padding:3px 5px;
	background:#F2F2F2;
	border-top:#70C6C7 1px solid;
	border-left:#70C6C7 4px solid;
	color:#333;
	font-size:110%;
	font-weight:bold;
}

div#main-column1 p {
	margin:10px 35px 10px 65px;
}

ol.ol-column1 {
	margin:5px 35px 10px 100px;
}

ol.ol-column1 li {
	margin-bottom:2px;
	list-style-type:decimal;
}

/*------------------------------------------------
  ���̃T�C�g�ɂ���
------------------------------------------------*/
table.tbl-notice {
	margin:5px 15px 10px 80px;
}

table.tbl-notice th {
	padding-right:10px;
}
table.tbl-notice td {
	padding:3px 0;
}
/*------------------------------------------------
  �T�C�g�}�b�v
------------------------------------------------*/
h2.h2-sitemap {
	margin:30px 25px 20px 35px !important;
	padding:5px 5px 5px 15px !important;
	background: none !important;
	border:#78B4AB 1px solid !important;
	clear:left;
	font-size:110%;
	font-weight:bold;
	text-align:left;
	zoom:1;
}

ul.ul-sitemap {
	margin:3px 20px 100px 50px !important;
}
ul.ul-sitemap li {
	padding:5px 40px 5px 13px;
	background: none;
	display:inline;
	font-weight:bold;
	float:left;
}
dl.dl-sitemap {
	display:inline;
	margin:3px 0 20px 35px;
	padding:3px 5px;
	float:left;
	width:185px;
}
dl.dl-sitemap dt {
	margin-bottom:5px;
	padding:3px 5px 3px 7px;
	background:#F4F4F4;
	border-left:#999 5px solid;
	font-weight:bold;
}
dl.dl-sitemap dd {
	margin-left:12px;
	padding-bottom:3px;
	padding-left:10px;
	background: none;
}
dd.dd-sitemap-sub {
	margin-left:22px !important;
	padding-left:12px !important;
	background: none !important;
}
dt.dt-sitemap-bottom {
	margin-bottom:12px !important;
}

.p-break-before {
	page-break-before:always !important;
}
/*---���m�点---*/
h3.h3-news {
	margin:20px 0 10px 55px;
	color: #306B5C;
	font-size:110%;
	font-weight:bold;
	clear:both;
}
table.tbl-news {
	margin:10px 0 10px 65px;
}
table.tbl-news th {
	padding:3px 5px;
	background:#E7F5F6;
	border:#999 1px solid;
	vertical-align:top;
}
table.tbl-news td {
	padding:3px 5px;
	border:#999 1px solid;
}
ul.ul-news {
	margin:20px 50px 10px 80px;
}
ul.ul-news li {
	margin-bottom:5px;
	padding-left:20px;
	background: none;
}
li.li-news-sub {
	margin-left:20px !important;
	padding-left:10px !important;
	background: #FFF !important;
}