@charset "UTF-8";
/* CSS Document */

/*------------------------------------------------
  �i���jHTML�ɒ����f�[�^�pCSS
------------------------------------------------*/
div#documents-number {
	margin:5px 5px 5px 0;
	text-align:right;
}
h1.h1-documents-title {
	margin:0 5px 20px 10px;
	padding:10px 0 10px 10px;
	border-top:#11A0A2 2px solid;
	border-bottom:#11A0A2 2px solid;
	font-size:120%;
	font-weight:bold;
}
div.documents-column {
	margin:0 10px 20px 10px;
}

/*-----���o��-----*/
div.documents-column h2 {
	margin:30px 0 15px 10px !important;
	padding-left:3px;
	border-bottom:#8CD1FB 1px solid;
	color:#056BA9;
	clear:both;
	font-size:110%;
	font-weight:bold;
}


.documents-column > h2:first-child{
	margin-top: 0 !important;
}

div.documents-column h3 {
	margin:15px 10px 5px 10px;
	padding:3px 3px 3px 5px;
	background:#EEF2F1;
	font-size:110%;
	font-weight:bold;
}

div.documents-column h4 {
	margin:15px 10px 0 13px;
	font-weight:bold;
}

/*-----���X�g-----*/

div.documents-column ul {
	margin-top:10px;
	margin-left:50px;
	margin-bottom:15px;
}
div.documents-column ol {
	margin-top:10px;
	margin-left:50px;
	margin-bottom:15px;
}
div.documents-column ol li {
	list-style-type:decimal;
}
div.documents-column li {
	list-style-type:disc;
	margin-bottom:3px;
}
div.documents-column dl {
	margin-left:18px;
}
dl.dl-documents-indent dt {
	margin-top:5px;
}
dl.dl-documents-indent dd {
	margin-left:1em;
}
div.documents-num dl {
	margin-left:18px;
}
dl.dl-documents-num dt {
	margin:30px 0 5px 0;
	margin-bottom:5px;
	padding:3px 3px 3px 5px;
	background:#EEF2F1;
	font-size:110%;
	font-weight:bold;
}
dl.dl-documents-num dd {
	margin:0 30px 15px 25px;
}

dl.dl-documents-num .dt-colored {
	background:#FFE1E1;
}

div.documents-column p {
	margin-top: 7px;
	margin-right: 10px;
	margin-bottom: auto;
	margin-left: 18px;
}

div.documents-kaiseki {
	width:300px;
	border:#999 1px solid;
}

/*--�摜�X�y�[�X--*/
div.img-documents {
	margin:20px 0 15px 18px;
}
div.img-documents h3 {
	margin:15px 15px 10px 0;
	font-size:110%;
}
div.img-documents p {
	margin:0 0 15px 0 !important;
}
div.img-documents figure {
	margin-inline: 0;
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
div.documents-float {
	margin:5px 0 0 0;
	background:#FFF;
	text-align:center;
	float:right;
	width:auto;
}
div.documents-float-left {
	margin:20px 20px 10px 30px;
	background:#FFF;
	text-align:center;
	float:left;
	width:auto;
}
div.documents-float-wdauto {
	margin:5px 5px 0 10px;
	background:#FFF;
	text-align:center;
	float:right;
}

/*--�e�[�u��--*/
div.documents-column table {
	margin:15px 10px 5px 20px;
}
div.documents-column table td  {
	vertical-align:top;
}
table.tbl-documents-border th {
	padding:1px 5px;
	/* border:#999 1px solid; */
}
table.tbl-documents-border td {
	padding:1px 5px;
	/* border:#999 1px solid; */
}
.align-middle th,
.align-middle td {
	vertical-align: middle !important;
}

/* �L���v�V�����ʒu�ύX */
.caption-bottom {
	caption-side: bottom;
}

/*�ėp�e�[�u���i�{�[�_�[����j*/

.tbl-std td {
	padding:5px 15px;
}

table.tbl-width-none td {
	padding:1px 5px;
	border:#999 1px solid;
	width:auto;
}

table.tbl-width-none{
	width:auto;
	margin-right:40px !important;
}
table.tbl-width-none th {
	padding:1px 5px;
	border:#999 1px solid;
	width:auto;
}
/*���C�A�E�g�p�i�{�[�_�[�A�}�[�W���Ȃ��j*/
table.tbl-no-border {
	margin:0 !important;
	border:none !important;
}
table.tbl-no-border td {
	border:none !important;
}
table.txt-center th,
table.txt-center td {
	text-align: center;
}

div.documents-column table caption {
	padding-bottom:3px;
	text-align:left;
}
/*���C�A�E�g�p�i���C���f���g�j*/
table.tbl-left-indent {
	margin-left:30px !important;
}
/*--�e�[�u���ׂ̍����ݒ�--*/
td.td-documents-column {
	padding:0 3px;
}
/*�e�[�u���̒��̃��X�g*/
ul.ul-table-list {
	margin:0 !important;
}
ul.ul-table-list li {
	margin-left:0 !important;
	margin-bottom:0 !important;
	list-style-type:none;
}

/*���X�g�}�[�N�Ȃ�*/
li.list-none {
	list-style-type:none !important;
}
/*�e�[�u���̒��̃��X�g�ɐ���*/
ol.ol-table-list {
	margin-top:0 !important;
	margin-left:18px !important;
}
*html ol.ol-table-list {
	margin-left:22px !important;
}
/*�e�[�u���̒��̃��X�g�ɍ��_*/
ul.ul-table-list-disc {
	margin-top:0 !important;
	margin-bottom:0 !important;
	margin-left:15px !important;
}
ul.ul-table-list-disc li {
	margin-bottom:0 !important;
	list-style-type:disc !important;
}
/*�e�[�u���̐�*/
.border-none-all {
	border:none !important;
}
/* border-none-all���ݒ肳�ꂽtable��td��border���ꊇ�ŏ���*/
/*table.border-none-all td {
	border:none !important;
}*/
.border-none-top {
	border-top:none !important;
}
.border-none-bottom {
	border-bottom:none !important;
}
.border-none-left {
	border-left:none !important;
}
.border-none-right {
	border-right:none !important;
}
.border-1px-right {
	border-right:#fff 1px solid !important;
}
.border-2px-right {
	border-right:#999 2px solid !important;
}
.border-black-bottom {
	border-bottom:#000 1px solid !important;
}
.border-black-top {
	border-top:#000 1px solid !important;
}
.border-1px {
	border:#000 1px solid !important;
}
.border-1px-gray {
	border:#ccc 1px solid !important;
}
.border-1px-red {
	border:#900 1px solid !important;
}
.border-2px-red {
	border:#900 2px solid !important;
}
.border-2px-darkblue {
	border:#002060 2px solid !important;
}
.border-radius10 {
	border-radius: 30px;
}
.th-td-25px {
	width:25px;
}
.th-td-50px {
	width:50px;
}
.th-td-350px {
	width:350px;
}
.th-td-300px {
	width:290px;
}
.th-td-230px {
	width:230px;
}
.th-td-200px {
	width:200px;
}
.th-td-180px {
	width:180px;
}
.th-td-100px {
	width:100px;
}
.th-td-11em {
	width:13em;
}
.th-td-10em {
	width:12em;
}
.th-td-9em {
	width:11em;
}
.th-td-7em {
	width:9em;
}
.th-td-5em {
	width:7em;
}
.th-td-3em {
	width:5em;
}
.th-td-1em {
	width:3em;
}

/*�ׂ������i*/
dl.dl-float {
	margin-left:45px;
}
dl.dl-float dt {
	float:left;
	display:inline;
	width:30px;
	height:60px;
}

dl.dl-float-inner-table {
	width:500px;
	margin:0 !important;
}
dl.dl-float-inner-table dt {
	float:left; 
	clear:left;
	width:70px;
} 
dl.dl-float-inner-table dd { 
  float:left;
  width:430px;
} 


ul.ul-box {
	margin-top:10px;
	padding:10px;
	background:#FFC;
	border:#999 1px solid;
	width:300px;
}
.txt-middle {
	vertical-align:middle !important;
}
.documents-font-small {
	font-size:75%;
}
.font-red {
	color:#F00;
}
.font-green {
	color:#00FF00;
}
.font-dark-green {
	color:#008000;
}
.font-blue {
	color: #00C;
}
.font-gray {
	color:#808080;
}
.no-mgn-top {/*��}�[�W���Ȃ�*/
 margin-top:0!important;
}
.no-mgn-btm {/*���}�[�W���Ȃ�*/
 margin-bottom:0!important;
}

.font-bold {
	font-size:120%;
	font-weight:bold;
}
.font-large {
	font-size:110%;
}
.font-italic {
	font-style: italic;
}
strong.strong-u {
	text-decoration:underline;
	font-weight:normal;
}

/*--�����C�g�{�b�N�X��--*/
div#map-area {
	margin-bottom:15px;
	text-align:center;
	position:relative;
}

div.box {
	background:#FFF;
	border:#999 1px solid;
	padding:10px 10px 20px 10px;
/*	width:550px;*/
	width:920px;
	display:none;
	text-align:left;
}
div.box h2 {
	margin:5px 5px 10px 10px;
	padding:5px 10px 5px 5px;
	background:#80B537;
	color:#FFF;
	clear:both;
	font-size:110%;
	font-weight:bold;
	text-align:left;
}
div.box h3 {
	margin-left:15px;
	color:#0080C0;
	font-weight:bold;
}
div.box p {
	margin:0 0 15px 20px;
	padding:0 0 5px 0;
/*	border-bottom:#CCC 1px solid;*/
    border-bottom:#67B0C9 2px solid;
}
img.box-float-img {
	margin:10px 20px 10px 10px;
	padding:4px;
	border:#EBEBEB 1px solid;
	float:right;
}
a.box-close {
	margin:0 auto !important;
	padding:5px 10px;
	background:#EAEAEA;
	border:#CCC 1px solid;
	text-align:center;
	width:60px;
	display:block;
}

map#map {
	position:absolute;
	top:0;
	left:50%;
}

div.box-image {
	margin:5px 3px 10px 15px;
	padding:3px;
	border:1px solid #999;
	float:left;
}
dl.box-dl{
	margin:10px 15px 0px 0;
	float:right;
	width:360px;
}

dl.box-dl dt{
	display:block;
	font-weight:bold;
	padding:0 5px;
	border-left:#67B0C9 3px solid;
	border-bottom:#CCC 1px dotted;
}
dl.box-dl dd{
	margin:2px 0 7px 0;
	padding:2px 3px;
}

/*--�����C�g�{�b�N�X��--*/
@keyframes fadeIn { from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeOut { from { opacity: 1; }
	to { opacity: 0; }
}
#modal1{
	inset-inline: 0;
	inset-block: 0;
	border: none;
	padding:0;
	background-color:transparent;
}
#modal1 .box{
	display:block;
}
#modal1[open]{
	animation: fadeIn forwards 0.3s ease-in-out;
}
#modal1::backdrop{
	background-color:rgba(0,0,0,0.6);
}