@charset "UTF-8";
/* CSS Document */

/*------------------------------------------------
  �i���jHTML�ɒ����f�[�^�pCSS
------------------------------------------------*/
div#material-number {
	margin:5px 20px 5px 0;
	text-align:right;
}
h1.h1-material-title {
	margin:0 20px 30px 20px;
	padding:10px 0 10px 10px;
	border-top:#11A0A2 2px solid;
	border-bottom:#11A0A2 2px solid;
	font-size:120%;
	font-weight:bold;
}
div.material-column {
	margin:0 20px;
}
div.material-column h2 {
	margin:30px 0 8px 10px;
	padding-left:3px;
	border-bottom:#8CD1FB 1px solid;
	color:#056BA9;
	font-weight:bold;
}
div.material-column h3 {
	margin:10px 10px 0 28px;
}
div.material-column ul {
	margin-left:45px;
}
div.material-column li {
	list-style-type:disc;
}
li.li-bottom {
	margin-bottom:5px;
}
div.material-column dl {
	margin-left:28px;
}
div.material-column dd {
	margin-left:15px;
}
div.material-column p {
	margin:0 10px 0 28px !important;
}
/*--�摜--*/
div.img-material img {
	margin:5px 0 0 28px;
}
div.img-material p {
	margin-right:30px !important;
	font-size:90%;
	text-align:right;
}
div.material-float {
	margin-right:5px;
	background:#FFF;
	text-align:right;
	float:right;
	width:300px;
}
/*--�e�[�u��--*/
div.material-column table {
	margin:0 10px 10px 28px;
	border:#999 1px solid;
	}
div.material-column table td {
	padding:1px 5px;
	border:#999 1px solid;
	vertical-align:top;
}
ul.ul-table-list {
	margin-left:0 !important;
}
ul.ul-table-list li {
	list-style-type:none;
}
/*���X�g�ɐ���*/
li.list-decimal {
	list-style-type:decimal;
	margin-left:23px;
}
td.td-material-column {
	padding:0 3px;
}
/*�e�[�u���̐�������*/
.border-none-all {
	border:none !important;
}
.border-none-top {
	border-top::none !important;
}
.border-none-bottom {
	border-bottom:none !important;
}
.border-none-left {
	border-left:none !important;
}
.border-none-right {
	border-right:none !important;
}
/*�e�[�u���̉������K�v�ȂƂ�*/
table.tbl-width-large {
	width:690px;
}
table.tbl-width-small {
	width:380px;
}
caption.caption-left {
	text-align:left;
	font-weight:bold;
}
td.td-50px {
	width:50px;
}
td.th-td-20px {
	width:20px;
}
td.th-td-200px {
	width:200px;
}
td.th-td-10em {
	width:10em;
}
td.th-td-9em {
	width:9em;
}
td.th-td-7em {
	width:7em;
}
td.th-td-6em {
	width:6em;
}
td.th-td-5em {
	width:5em;
}
td.th-td-4em {
	width:4.5em;
}
/*��������e�[�u��*/
div.material-table {
	margin:10px 10px 10px 0 !important;
}
div.material-table p {
	margin-bottom:3px !important;
}
table.tbl-material {
	margin:10px 0;
	border:#999 1px solid;
}
table.tbl-material td {
	padding:2px 8px;
	border:#999 1px solid;
}
td.td-fraction {
	vertical-align:middle !important;
}
td.td-bottom {
	border-bottom:#000 1px solid;
}
/*�ׂ������i*/
ul.ul-box {
	margin-top:10px;
	padding:10px;
	background:#FFC;
	border:#999 1px solid;
	width:300px;
}
.top-space {
	margin-top:5px;
}
.space-all {
	margin:10px 0;
	padding:0 10px;
}
.space-y {
	margin:10px 0;
}
.space-x {
	margin:0 10px;
}
.material-font-small {
	font-size:70%;
}
.clear {
	clear:both;
}
p.p-s218 {
	padding:10px 0;
	font-weight:bold;
}
p.p-space-y {
	padding:10px 0;
}