@charset "UTF-8";
/*---reset---*/

html {
	overflow-y:scroll;/*firefox�ŏc�X�N���[���o�[������ɕ\�������Ē��������̈ʒu�������̂�h��*/
}
body {
	margin:0;
	padding:0;
	color: #000000;
	/*font-family:Arial,'�q���M�m�p�S Pro W3','Hiragino Kaku Gothic Pro',osaka, '���C���I',Meiryo,'�l�r �o�S�V�b�N','MS PGothic',sans-serif;*/	
	line-height:1.5;
	letter-spacing:0;/*IE7�y�[�W�̊g��΍�*/
}
br {/*IE7�y�[�W�̊g��΍�*/
	letter-spacing:0;
}	
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
th {
	font-weight:normal;
	text-align:left;
}
fieldset, img{
	border:0;
}
address{
	font-style:normal;
}
ul, li{
	list-style:none;
	border:none;
}
h1, h2, h3, h4, h5, h6{
	font-size:100%;
	font-weight:normal;
}

a {
	color:#06C;
}

a:visited {
	color:#639;
}
/*---reset end---*/


body {
	background:#EAECF3;
}
div#search-logo {
	margin-bottom:10px;
	padding:15px 10px 0 10px;
	height:65px;
	text-align:left;
}
img#logo {
	float:left;
	width:300px;
}
div#head-index {
	margin-top:40px;
	margin-left:500px;
	font-size:90%;
	text-align:right;
	width:200px;
}
*html div#head-index {
	margin-top:55px;
}
div#head-index ul li {
	margin-right:10px;
	padding-left:10px;
	display:inline;
}
div#search-frame {
	margin:0 auto;
	padding:0;
	background:#FFF;
	font-size:90%;
	text-align:center;
	width:760px;
}
div#search-content {
	margin:0 auto;
	text-align:left;
	width:700px;
}
div#search-content h1 {
	margin:20px 0;
	padding:5px 5px 5px 15px ;
	background: none;
	border:#78B4AB 1px solid;
	clear:both;
	font-size:110%;
	font-weight:bold;
	zoom:1;
}
div#search-content h2 {
	margin:30px 10px 10px 10px;
	padding:2px 0 2px 5px;
	background:#E0F1ED;
	border-left:#8BB6A4 4px solid;
	color:#333;
	font-weight:bold;
}

div#search-content p {
	margin:20px 10px 10px 20px;
}

p.p-example {
	margin-top:10px !important;
	padding-left:1em;
	font-size:90%;
}
div#search-content ul {
	margin:20px 20px 20px 40px;
	font-size:90%;
}
div#search-content ul li {
	margin-bottom:5px;
	list-style-type:disc;
}
hr.hr-divide {
	margin:10px 0;
  	border:#FFF 1px solid;
	border-top:#CCC 1px solid;
	color:#FFF;
}
div#win-close {
	margin:20px auto;
	width:500px;
}
div#footer {
	padding:2px 5px 3px 5px;
	background: none;
	clear:both;
	color:#666;
	font-size:90%;
	text-align:left;
}
div#footer li {
	margin-left:10px;
	display:inline;
	list-style-type:none;
}
div#footer li a {
	color:#666;
}
div#footer li a:hover {
	color:#06C;
	text-decoration:underline;
}
div#footer li a:visited {
	color:#666;
	text-decoration:underline;
}
div#copyright {
	margin:0 auto;
	padding:2px 10px;
	background:#848484;
	color:#FFF;
	font-size:90%;
	text-align:right;
}
