@charset "UTF-8";
/* CSS Document */

/* @import 'reset.css'; */
@import 'common.css';
@import 'column1.css';
@import 'inquiry.css';
@import 'service.css';
@import 'documents.css';
@import 'analysis.css';
@import 'publications.css';


@media print {
body {
_zoom: 0.85;
}
div#index-main {
_zoom: 0.75;
}
img#top-image {
_zoom: 0.75;
}
div#main-column1 {
_zoom: 0.80;
}

.top-splide img{/* 2025.2.4 add */
_zoom: 0.75;
}
.top-splide .splide__list .splide__slide{/* 2025.2.4 add */
display:none;
}
.top-splide .splide__list .splide__slide.is-active{/* 2025.2.4 add */
display:block;
}
.wrapper-header{
	width:calc(100vw - 17px);
}
}

body {
	background:#FFF;
	overflow:visible !important;
}
div#header {
	padding:0;
/*	height:42px;*//* 2025.2.4 del */
	height:62px;/* 2025.2.4 add */
}
div#header-inquiry {
	display:none;
}
div#search-box form {
	display:none;
}
div#header-nav {
	display:none;
}
div#nav {
	display:none;
}
div#container {
	background:#FFF;
}
div#content {
	float:none;
}
div#sidemenu {
	display:none;
}
div#topic-path {
	display:none;
}
div#footer {
	display:none;
}
div#copyright {
	display:none;
}
div.p-bkto-top {
	display:none;
}
p.p-bkto-top {
	display:none;
}
/*div#main-column1 p{
	width:860px;
}
div#main-column1 h2{
	width:870px;
}*/
ol.ol-column1 {
	width:820px;
}

div#main-column1 {
	overflow:visible !important;
}
