@charset "UTF-8";
/* CSS Document */

/*----------------------------------------
 �O�����\�pCSS
----------------------------------------*/
h2.h2-publications {
	margin:30px 5px 20px 15px;
}

/*h3.h3-publications {
	margin:20px 0 5px 20px;
	color:#1C6F71;
	font-weight:bold;
}*/
h3.h3-publications {
	margin:30px 5px 20px 20px;
	padding:3px 0 3px 5px;
	background:#F2F2F2;
	border-top:#AFD8D5 1px solid;
	border-right:#DFDFDF 1px solid;
	border-bottom:#DFDFDF 1px solid;
	border-left:#11A0A2 4px solid;
	clear:both;
	color:#333;
	font-size:110%;
	font-weight:bold;
}

dl.dl-publications {
	margin:5px 10px 40px 25px;
}
dl.dl-publications dt {
	margin:23px 0 3px 0;
	padding:1px 0 0 5px;
	border-left:#F04800 4px solid;
	border-bottom:#CCC 1px solid;
	color:#DE540A;
	/*color:#F60;*/
	font-weight:bold;
}
dl.dl-publications dd {
	margin-left:20px;
	color:#333;
}
.dt-date {
	color:#333 !important;
	font-weight:normal !important;
}
dd.dd-literature {
	font-weight:bold;
}

/*--���̃X�y�[�X--*/
dd.dd-25em-last {
	padding-bottom:25em;
}
