---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: '触媒',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="触媒" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="自動車" parent3="触媒"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/catalyst_01.webp"}
                    alt="触媒"
                    lead="排ガス浄化触媒は自動車や二輪車などが排出する有害な一酸化炭素・炭化水素・窒素酸化物などを無害な二酸化炭素や水などに変える働きをする物です。<br>弊社は排ガス浄化触媒の研究開発で発生する様々な課題につきまして、豊富な経験に基づき、総合的に解決策をご提案いたします。"
                />
                <h2 id="case-analysis" class="h2-service">分析事例</h2>
                <ul class="ul-std">
                    <li>電子顕微鏡による触媒粒子の観察</li>
                    <li>EPMA、XRF、ICPによる構成元素の定量</li>
                    <li>化学吸着法による活性表面積の評価</li>
                    <li>比表面積、細孔径分布の測定</li>
                    <li>粒度分布、ゼータ電位等の粉体物性の評価</li>
                </ul>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
