---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: '燃料電池',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="燃料電池" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="自動車" parent3="燃料電池"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/fuel_cell_01.webp"}
                    alt="燃料電池"
                    lead="燃料電池開発では、触媒層の分散状態や亀裂発生、膜電極接合体（MEA）の構造最適化など、性能と耐久性に直結する課題が多岐にわたります。DNP科学分析センターは、PEFCを中心に豊富な分析実績を有し、ナノレベル構造解析からプロセス起因の不具合評価まで一貫して支援可能です。研究開発から量産工程での課題解決まで、確かな分析技術でお客様の燃料電池性能向上に貢献します。"
                />
                <h2 id="item-analysis" class="h2-service">分析項目</h2>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-site" scope="col">部位</th>
                      <th scope="col">分析目的</th>
                      <th scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title300" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="6">電解質膜</td>
                      <td>化学構造解析</td>
                      <td>19F、13C-NMR、<a href="../../documents/f1501_510.html">FT-IR</a></td>
                      <td>電解質膜の組成・構造解析</td>
                    </tr>
                    <tr>
                      <td>劣化の評価</td>
                      <td>19F、13C-NMR、<a href="../../documents/f1501_510.html">FT-IR</a></td>
                      <td>電解質膜の劣化解析</td>
                    </tr>
                    <tr>
                      <td>最表面の化学構造解析・劣化の評価</td>
                      <td>XPS</td>
                      <td>電解質膜の表面分析</td>
                    </tr>
                    <tr>
                      <td>熱的特性</td>
                      <td><a href="../../documents/h9002_530.html">TGA</a></td>
                      <td>電解質膜の熱的特性評価</td>
                    </tr>
                    <tr>
                      <td>ドメインサイズ評価</td>
                      <td><a href="../../documents/c0802_510.html">SAXS</a></td>
                      <td>電解質膜のドメインサイズ評価</td>
                    </tr>
                    <tr>
                      <td>不純物元素定性･定量</td>
                      <td><a href="../../documents/an1602_530.html">ICP-MS</a></td>
                      <td>電解質膜の不純物分析</td>
                    </tr>
                    <tr>
                      <td rowspan="18">電極
                      <ul class="ul-service-doc-site">
                        <li>触媒層</li>
                      <li>ガス拡散層</li>
                      <li>電解質ポリマー</li>
                      </ul></td>
                      <td>電極断面の元素マッピング（Pt,Ru,F）</td>
                      <td><a href="../../documents/s1403_530.html">EPMA</a></td>
                      <td>電極の断面構造の解析</td>
                    </tr>
                    <tr>
                      <td rowspan="3">触媒層の細孔径分布</td>
                      <td rowspan="3">水銀圧入法、<a href="../../documents/i0601_570.html">ガス吸着法</a>、<a href="../../documents/m1701_550.html">TEM／STEMトモグラフィ</a>、FIB-TEM</td>
                      <td>電極触媒層の細孔径分布測定</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m250_112.html">STEMトモグラフィによるカーボン担体の細孔径解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m245_112.html">流体シミュレーションに基づく多孔質材料の細孔構造解析</a></td>
                    </tr>
                    <tr>
                      <td>担体カーボンの形態</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td>担体カーボンの形状観察</td>
                    </tr>
                    <tr>
                      <td>担体カーボンの結晶性</td>
                      <td><a href="../../documents/m1602_550.html">TEM-ED</a>、<a href="../../documents/s0801_510.html">ラマン分光</a></td>
                      <td>担体カーボンの結晶性評価</td>
                    </tr>
                    <tr>
                      <td>担体カーボンの劣化評価</td>
                      <td><a href="../../documents/s0801_510.html">ラマン分光</a></td>
                      <td>担体カーボンの劣化評価</td>
                    </tr>
                    <tr>
                      <td rowspan="6">触媒金属微粒子の形態</td>
                      <td rowspan="6"><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td>触媒金属微粒子の形態観察</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s453_112.html">コロイド粒子のTEM観察
                  </a></td>
                    </tr>
                    <tr> </tr>
                    <tr>
                      <td><a href="../../documents/s490_112.html">Pt/C触媒の耐久性評価</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s459_112.html">EELSによるPtシェル厚みの測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s458_112.html">暗視野STEM像によるPt粒子の露出結晶面の解析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">触媒金属微粒子の分布</td>
                      <td rowspan="2"><a href="../../documents/m1701_550.html">TEM／STEMトモグラフィ</a></td>
                      <td>触媒金属微粒子の分布測定</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m234_112.html">STEMトモグラフィによる貴金属担持カーボン触媒の3D解析（1）</a></td>
                    </tr>
                    <tr>
                      <td>触媒金属微粒子の結晶構造
                        （格子定数、結晶子径）</td>
                      <td><a href="../../documents/x0510_530.html">XRD</a>、<a href="../../documents/m1602_550.html">TEM-ED</a>、<a href="../../documents/s0801_510.html">ラマン分光</a></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>触媒金属微粒子担時炭素の形態、元素組成</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a>、EDS、EELS</td>
                      <td>触媒金属微粒子担時炭素の形態、元素組成分析</td>
                    </tr>
                    <tr>
                      <td>電解質ポリマーの分布</td>
                      <td><a href="../../documents/m1701_550.html">TEM／STEMトモグラフィ</a></td>
                      <td><a href="../../documents/m240_112.html">STEM-EDSトモグラフィによるアイオノマー観察</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">MEA</td>
                      <td>断面の形態観察</td>
                      <td><a href="../../documents/s0501_520.html">SEM</a>、<a href="../../documents/m1602_550.html">TEM</a></td>
                      <td>MEA断面の形態観察</td>
                    </tr>
                    <tr>
                      <td>断面の元素マッピング</td>
                      <td>SEM-EDS、<a href="../../documents/s1403_530.html">EPMA</a></td>
                      <td>MEA断面の元素マッピング</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
    .tbl-service-doc {
      tbody tr:first-child th:nth-child(1) {
        min-width: 135px !important;
      }

      tbody tr:first-child th:last-child {
        min-width: 300px !important;
      }
    }
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>