---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: 'パワー半導体',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="パワー半導体" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="自動車" parent3="パワー半導体"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/semiconductor_01.webp"}
                    alt="パワー半導体"
                    lead="電気自動車の高効率化には、SiC/GaNをはじめとするパワー半導体の性能向上と、界面欠陥・微細構造の高度な制御が不可欠です。しかし実際の開発・量産ラインでは、結晶欠陥、界面反応、微量不純物、熱ストレス起因の劣化など、ナノスケールでの“見えない課題”が歩留まりや信頼性を左右します。<br>当社は収差補正STEMを中心とした最先端の解析技術により、原子レベルで構造起因の問題を可視化し、材料設計からプロセス改善まで強力に支援します。"/>
                <h2 id="item-analysis" class="h2-service">分析項目</h2>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>表面形状</td>
                      <td><a href="../../documents/an1368_540.html">SPM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s264_113.html">SPMによるSiウエハの表面粗さ測定</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">表面組成・化学状態</td>
                      <td rowspan="2">XPS、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s420_113.html">EDS制限視野マッピング測定</a></td>
                    </tr>
                    <tr>
                      <td>デバイスの表面汚染の分析</td>
                    </tr>
                  
                    <tr>
                      <td rowspan="4">多層構造</td>
                      <td rowspan="4">AES、XRD</td>
                  </tr>
                    <tr>
                      <td><a href="../../documents/x110_113.html">面内回折法による表面構造解析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x117_113.html">面内回折法による表面構造解析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x115_113.html">多孔質low-k膜ポアサイズ分布解析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">断面構造・組成分析</td>
                      <td rowspan="2"></td>
                      <td><a href="../../documents/s402_113.html">Cs(球面収差係数)補正STEM</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s438_113.html">Cs補正STEMによる各種材料観察</a></td>
                    </tr>
                    <tr>
                      <td rowspan="3">断面層構造</td>
                      <td rowspan="3"><a href="../../documents/m1602_550.html">TEM</a>、AES、<a href="../../documents/s0801_510.html">RAMAN</a></td>
                      <td><a href="../../documents/s419_113.html">EELSスペクトルラインプロファイルによる酸化膜解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s317_113.html">EELSによる状態分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s320_113.html">オージェ及びレーザラマンによるセラミックスの構造評価</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">断面の結晶構造</td>
                      <td><a href="../../documents/x0510_510.html">XRD</a></td>
                      <td><a href="../../documents/x114_113.html">多層薄膜の深さ制御In-Plane回折測定</a></td>
                    </tr>
                    <tr>
                      <td>FIB-SIM</td>
                      <td><a href="../../documents/s252_113.html">SIM像によるチャネリングコントラスト</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">欠陥解析</td>
                      <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a>、FIB-SIM</td>
                      <td><a href="../../documents/s434_113.html">SIM像を用いたLSIの不良箇所の特定</a></td>
                    </tr>
                    <tr> </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>