---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '私達の行動指針',
	description: '私達の行動指針',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="会社案内" subTitle="Corporate information" src="mv/mv-profile.webp"/>
    <TitleH1 title="私達の行動指針" />
    <div class="main">
        <Inner>
            <SidebarArea parent="会社案内" parent2="私達の行動指針"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                
                <div>
                  <h2 class="h2-std">序章　企業の使命と社会的責任</h2>
                  <p>
                    弊社は、創業の精神と経営理念に基づき、事業を通じて社会の持続的発展に貢献するため、企業の社会的責任（CSR）を果たします。
                  </p>
                
                  <ol class="ol-std mgn-btm30">
                    <li>国内外の法令と遵守すべき国際的な規範やガイドラインに則り、人権尊重を実践し、健全で公正な企業活動を行います。</li>
                    <li>社会の要請に沿ったコーポレート・ガバナンスを追求し､収益の継続的な拡大と企業価値の向上を図ります｡</li>
                    <li>安全と品質を確保し、環境に配慮した製品を提供します。</li>
                    <li>事業活動における環境負荷の低減や資源の有効活用に努め、地球環境の保全に取り組みます。</li>
                    <li>すべてのステークホルダーに対し、適切な情報開示を行い、社会との円滑なコミュニケーションを推進します。</li>
                    <li>良き企業市民として、国内外で社会貢献活動を推進し、地域の発展に寄与します。</li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第1章　価値の創出</h2>
                  <p>私達は、社会の信頼が得られる有用で安全な技術、製品、サービスを開発、提供します。</p>
                  <ol class="ol-std mgn-btm30">
                    <li>
                      有用で環境に配慮した安全な技術、製品、サービスを適正な価格で安定的に提供し、お客様の満足と信頼を獲得します。
                    </li>
                    <li>
                      チャレンジ精神を持ち、社会の多様なニーズに対して、新しい時代を切り拓く技術、製品、サービスの開発に努めます。
                    </li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第2章　法の遵守</h2>
                  <p>私達は、国内外の法令、会社の規則を遵守し、健全な社会の一員として行動します。</p>
                  <ol class="ol-std mgn-btm30">
                    <li>
                      すべての法令およびその精神を遵守し、違法な行為を行いません。
                    </li>
                    <li>
                      法令違反に当たらない場合であっても、良識に従い、社会規範を守って行動します。
                    </li>
                    <li>
                      会社の規則・ルールを守り、公私の別を明らかにして行動します。
                    </li>
                    <li>
                      会社の財産、信用、社会的評価を損なうことのないよう努めます。
                    </li>
                    <li>
                      法令とルールに従った適正な経理処理と税務申告を行います。
                    </li>
                    <li>
                      反社会的勢力とは取引関係を含め、一切関係を持ちません。
                    </li>
                  </ol>
                </div>


                <div>
                  <h2 class="h2-std">第3章　公正と誠実</h2>
                  <p>私達は、国内外の事業活動において、自由で公正な競争と誠実な職務遂行に努めます。</p>
                  <ol class="ol-std mgn-btm30">
                    <li>
                      市場における取引および競争は技術、品質、価格、サービスなどに基づいて公明正大に行い、健全で自由な競争を阻害する行為をしません。
                    </li>
                    <li>
                      競合他社や取引先などを害する不公正または不当な手段による利益の追求をしません。
                    </li>
                    <li>
                      事業活動のあらゆる場において、政治・行政との健全かつ正常な関係を常に保ちます。
                    </li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第4章　安全と環境</h2>
                  <p>
                    私達は、「安全はすべてに優先する」を共通の価値観とし、職場と地域社会に安全と安心を提供するとともに地球環境の保全に取り組みます。
                  </p>
                  <ol class="ol-std mgn-btm30">
                    <li>労働災害ゼロを目指して、健康で安全な働きやすい職場環境の確保に努めます。</li>
                    <li>設備事故ゼロを目指して、安全・安心な設備の確保と操業に努めます。</li>
                    <li>廃棄物や化学物質の排出削減を進めると共に、資源の循環および有効活用に取り組み、循環型社会の構築に貢献します。</li>
                    <li>持続可能な社会へ貢献するために地球環境問題への対応を自主的、継続的に取り組みます。</li>
                    <li>社会や企業活力の源となる、働く人の健康保持増進に努めます。</li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第5章　品質と信頼</h2>
                  <p>
                    私達は、ステークホルダーの信頼を得るため、安全と安心を常に意識し、お客様に満足していただける品質の製品、サービスを開発、提供します。
                  </p>
                  <ol class="ol-std mgn-btm30">
                    <li>
                      品質に関わる規制、公的規格等の最新情報を常に入手し、これを遵守します。
                    </li>
                    <li>
                      お客様との取り決めを守ります。
                    </li>
                    <li>
                      お客様との交流を密にし、お客様の求める品質を提供します。
                    </li>
                    <li>
                      品質保証システムの継続的改善に取り組みます。
                    </li>
                    <li>
                      製品ライフサイクルを通じて、安全で安心して取り扱える製品、サービスの開発に努め、必要な情報を適切かつ確実に提供します。
                    </li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第6章　人権と労働</h2>
                  <p>私達は、国内外の事業活動において、人権を尊重し、健康で明るく働きやすい職場をつくります。</p>
                  <ol class="ol-std mgn-btm30">
                    <li>
                      すべての人の人格、個性など個人の尊厳を尊重し、相互理解に努め、性別、国籍、人種、障がい、年齢、社会的身分、宗教、信条、性的指向等による差別をしません。
                    </li>
                    <li>
                      強制労働、児童労働をはじめ、すべての非人道的行為を自ら行わないことはもちろん、そのような行為を行っている個人、団体と一切関わりを持ちません。
                    </li>
                    <li>良好なコミュニケーションを心がけ、ハラスメントのない職場をつくります。</li>
                    <li>多様な働き方を受容し、ワークライフバランス（仕事と生活の調和）の実現に努めます。</li>
                    <li>相互信頼を基調とした、良好な労使関係の形成維持に努めます。</li>
                  </ol>
                </div>

                <div>
                  <h2 class="h2-std">第7章　情報の保護と開示</h2>
                  <p>私達は、情報の保護と会社情報の正しい開示を行います。</p>
                  <ol class="ol-std mgn-btm30">
                    <li>個人情報、取引先情報の保護に努めます。</li>
                    <li>未公開の企業情報（インサイダー情報）と会社の秘密情報の取り扱いについては、万全の注意を払います。</li>
                    <li>ステークホルダーに正確な会社情報を、迅速かつ公平に開示・提供します。</li>
                  </ol>
                </div>

                <p><a href="https://www.dnp.co.jp/corporate/philosophy/" target="_blank">DNP グループビジョン/ブランドステートメント/行動規範</a></p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.ol-std li {
  margin-bottom: 15px;
}

div:last-of-type {
  margin-bottom: 50px;
}

.print-btn + div h2.h2-std {
  margin-top: 0!important;
}

</style>
