---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: 'ご挨拶',
	description: 'ご挨拶',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="会社案内" subTitle="Corporate information" src="mv/mv-profile.webp"/>
    <TitleH1 title="ご挨拶" />
    <div class="main">
        <Inner>
            <SidebarArea parent="会社案内" parent2="ご挨拶"/>
            <div id="content">
              <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
              <div class="message">
                <p class="p-message-pdg-bottom txt-center" style="padding-bottom: 40px;">
                  <img src={IMG_PATH + "profile/president.webp"} class="img-message mgn-lt0 mgn-rt0 mgn-btm0" alt="代表取締役会長 松元 豊、代表取締役社長 二井 裕之"><br>
                  左：代表取締役会長 松元 豊　右：代表取締役社長 二井 裕之
                </p>
                <p class="p-message-pdg-bottom p-message">未来のあたりまえを創造するモノづくりにおいて、分析・評価解析は欠かせない基盤技術です。消費者が安心できる製品づくり、品質や信頼性の向上、環境汚染の低減、カーボンニュートラルといった課題の解決には、関連する素材・原料・製造プロセスの分析・評価解析に基づく原理原則の確立が不可欠と考えております。</p>
                <p class="p-message-pdg-bottom p-message">1987年、宇部興産（現UBE）株式会社の研究開発部門から独立して誕生した私たち株式会社UBE科学分析センター（USAL）は、2024年より、大日本印刷株式会社（DNP）とUBE株式会社の合弁会社として新たなスタートを切り、UBEの素材開発支援で培ってきた素材分析と、DNPのモノづくりで生じる課題解決のために磨いた分析・解析技術を掛け合わせることで、多くのお客様の素材開発から加工・製品化に至る様々なステージでの課題解決を支援させていただいております。</p>
                <p class="p-message">さらに2025年4月、私たちは、社名を「株式会社DNP科学分析センター」に変更しました。私たちの評価・解析技術とDNPの生産・加工技術の連携により、環境、自動車、エレクトロニクス等の幅広い領域のお客様の製品開発のスピードアップに貢献し、パートナー企業として次世代の価値創造に参画できる企業を目指してまいります。</p>
              </div>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
