---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '労働安全衛生方針',
	description: '労働安全衛生方針',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="会社案内" subTitle="Corporate information" src="mv/mv-profile.webp"/>
    <TitleH1 title="労働安全衛生方針" />
    <div class="main">
        <Inner>
            <SidebarArea parent="会社案内" parent2="労働安全衛生方針"/>
            <div id="content">
              <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
              
              <p class="mgn-btm20">
                当社は、働く人及びその代表者との協議・参加のもと、安全と健康が優先する安全・健康に配慮した働きやすい職場を目指します。
              </p>
              <ol class="mgn-btm30 ol-std">
                <li>労働安全に関連する法令、社内ルール、契約、社会規範を遵守し、無事故・無災害を目指します。</li>
                <li>化学物質、設備など、職場環境の安全・健康リスクの評価と対策を行い、継続的に、高齢者や女性にも安全で健康な作業環境づくりに努めます。</li>
                <li>安全衛生活動を一人ひとりが使命感を持って進めて行きます。そのために、効果的な教育・指導・支援・監査を行います。</li>
                <li>安全・健康に関するマネジメントシステムを運用し、目標や活動の定期的な見直しを行い、継続的改善に努めます。</li>
              </ol>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

p {
  margin-right: 0!important;
}

.ol-std li {
  margin-bottom: 20px;
}

</style>
