---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '品質保証',
	description: '品質保証',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="会社案内" subTitle="Corporate information" src="mv/mv-profile.webp"/>
    <TitleH1 title="品質方針" />
    <div class="main">
        <Inner>
            <SidebarArea parent="会社案内" parent2="品質方針・品質体制"/>
            <div id="content">
              <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>

              <p class="mgn-btm20">
                高い「技術」と「品質」の受託分析サービスでお客様の課題解決に誠実に取組み、お客様が満足される価値を提供することで、社会の発展に寄与します。
              </p>
              <ol class="mgn-btm30 ol-std">
                <li>分析技術を駆使し、お客様のご要望に誠実に、迅速に対応します。</li>
                <li>関連する法令、社内ルール、契約、社会規範を遵守します。</li>
                <li>トップレベルの分析技術力へ挑戦し、お客様に新たな価値を提供します。</li>
                <li>全従業員が品質の重要性を理解し、現状に満足することなく品質の改善と向上に努めます。</li>
              </ol>

              <TitleH1 title="品質体制" />
              <h2 class="h2-std">ＩＳＯ９００１</h2>
              <table class="tbl-qa">
                <tbody>
                  <tr>
                    <th>2001年10月</th>
                    <td>1994年版の認証を宇部地区の分析部が取得</td>
                  </tr>
                  <tr>
                    <th>2003年&nbsp;&nbsp;1月</th>
                    <td>2000年版に移行</td>
                  </tr>
                  <tr>
                    <th>2004年&nbsp;&nbsp;2月</th>
                    <td>千葉地区の分析部も含めた分析部全体として認証を取得</td>
                  </tr>
                  <tr>
                    <th>2010年&nbsp;&nbsp;2月</th>
                    <td>2008年版に移行</td>
                  </tr>
                  <tr>
                    <th>2017年&nbsp;&nbsp;2月</th>
                    <td>2015年版に移行</td>
                  </tr>
                </tbody>
              </table>

              <h2 class="h2-std">安衛法ＧＬＰ</h2>
              <table class="tbl-qa">
                <tbody>
                  <tr>
                    <th class="width180">初回取得日　1996年11月</th>
                    <td>判定 ： 可</td>
                  </tr>
                  <tr>
                    <th>最新取得日　2025年11月</th>
                    <td>判定 ： 可</td>
                  </tr>
                  </tbody>
                </table>

              <h2 class="h2-std">化学物質ＧＬＰ</h2>
              <table class="tbl-qa">
                <tbody>
                  <tr>
                    <th class="width180"><span class="width180">初回取得日　</span>1997年10月</th>
                    <td>判定 ： 可</td>
                  </tr>
                  <tr>
                    <th>最新取得日　2025年5月</th>
                    <td>判定 ： 適合　</td>
                  </tr>
                  </tbody>
                </table>

              <h2 class="h2-std">医薬品ＧＬＰ</h2>
              <table class="tbl-qa">
                <tbody>
                  <tr>
                    <th class="width180"><span class="width180">初回取得日　</span>2009年4月</th>
                    <td>判定 ： A</td>
                  </tr>
                  <tr>
                    <th>最新取得日　2025年3月</th>
                    <td>判定 ： 適合　</td>
                  </tr>
                </tbody>
              </table>

            <h2 class="h2-std">医療機器ＧＬＰ</h2>
            <table class="tbl-qa">
              <tbody>
                <tr>
                  <th class="width180"><span class="width180">初回取得日　2015年4月</span></th>
                  <td>判定 ： A</td>
                </tr>
                <tr>
                  <th>最新取得日　2025年3月</th>
                  <td>判定 ： 適合　</td>
                </tr>
              </tbody>
            </table>

            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.h2-std:first-of-type {
  margin-top: 30px!important;
}

#content {

  :global(.title_wrap) {
    overflow: visible;
    margin-top: 120px;
    
    :global(.inner) {
      width: 100%;
    }

    :global(.title::after) {
      @media print {
        display: none;
      }
    }
  }
}

.tbl-qa:nth-of-type(3) {
  th.width180 {
    span.width180 {
      padding-right: 12px;
    }
  }
}

.tbl-qa:nth-of-type(4) {
  th.width180 {
    span.width180 {
      padding-right: 12px;
    }
  }
}

</style>
