---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from "/src/consts";
import Layout from "@layouts/Layout.astro";
import Inner from "@components/Inner.astro";
import SidebarArea from "@components/SidebarArea.astro";
import MvLower from "@components/MvLower.astro";
import TitleH1 from "@components/TitleH1.astro";
import MvCategory from '@components/MvCategory.astro';

const meta = {
  title: "トモグラフィー（三次元構造解析）",
  description: "トモグラフィー（三次元構造解析）",
};
---

<Layout pageId="documents" title={meta.title} description={meta.description}>
  <MvLower title="分析事例" subTitle="Analytic case" src="mv/mv-analysis.webp"/>
  <TitleH1 title="トモグラフィー（三次元構造解析）" />
  <div class="main">
    <Inner>
      <SidebarArea parent="分析事例" parent2="形態観察" />
      <div id="content">
        <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33" /></a></div>
        <MvCategory 
            imageSrc={IMG_PATH + "/analysis/tomography_top_01_01.webp"}
            alt="加熱発生ガスの分析装置"
            lead="通常の形態観察で直接得られるのは、分析対象の二次元像です。しかし、複雑な内部構造や異方性を有する場合、二次元像から本来の三次元構造を正確に把握するのは困難です。<br>トモグラフィ―という手法を用いれば、分析対象を連続的に回転または切削し、多数の二次元像をコンピュータで処理することで、三次元構造を可視化することが可能です。さらに、セグメンテーション（領域分割）等の画像処理を組み合わせることで、粒子径・細孔径・空隙率・配向・曲率などの指標を数値化し、設計差異の定量評価や課題解決、特許パラメータ創出にも貢献します。<br>当社では、対象サイズ（nm～cmレベル）や関心領域に応じて、X線CT法／(P)FIB-SEMトモグラフィー法／STEMトモグラフィー法を組み合わせたマルチスケール解析をご提案し、材料・デバイスの構造理解を深めます。"
        />
        <div class="">
          <h2 id="gas01" class="h2-std">分析対象と分析目的</h2>
          <p>分析対象や課題に合わせて、最適な指標をご提案いたします。</p>
          <div class="category-top-linkarea">
            <div class="category-top-links">
              <dl class="dl-media">
                <dt>触媒、多孔質材料</dt>
                <dd>粒子径、細孔径、くびれ径、空隙率、曲路率</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_02_01.webp"} alt="原材料">
            </div>
            <div class="category-top-links">
              <dl class="dl-media">
                <dt>繊維材料</dt>
                <dd>繊維径、繊維長、配向角、曲路率</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_02_02.webp"} alt="成形品">
            </div>
            <div class="category-top-links">
              <dl class="dl-media">
                <dt>複合材料</dt>
                <dd>粒子径、粒子アスペクト比、粒子球形度</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_02_03.webp"} alt="製品・部材">
            </div>
          </div>
        
          <h2 class="h2-std" id="gas08">分析範囲</h2>
          <p>分析対象の大きさ（nmからcmレベル）に合わせて、最適な測定法（<a href="../../documents/m1701_550.html">STEMトモグラフィ―法</a>、FIB-SEMトモグラフィ―法、X線CT法）をご提案いたします。</p>
          <p><img src={IMG_PATH + "/analysis/tomography_top_03_01.webp"} alt="臭素化PC oligomerのEGA-MSクロマトグラム"></p>
        
          <h2 id="gas01" class="h2-std">分析の流れ</h2>
          <div class="category-top-linkarea category-top-linkarea-column">
            <div class="category-top-links">
              <dl class="dl-category-top-link">
                <dt>1. 測定</dt>
                <dd>分析対象を連続的に回転または切削し、多数の二次元像を取得します。</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_04_01.webp"} alt="原材料">
            </div>
            <div class="category-top-links">
              <dl class="dl-category-top-link">
                <dt>2. 可視化 (三次元再構成)</dt>
                <dd>二次元像をコンピュータ処理することで、グレースケールの三次元像を再構成します。</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_04_02.webp"} alt="成形品">
            </div>
            <div class="category-top-links">
              <dl class="dl-category-top-link">
                <dt>3. 可視化 (セグメンテーション)</dt>
                <dd>三次元像の特徴に基づき、例えば、担体、細孔といった領域を定義します。<br>これは、数値化には必須です。</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_04_03.webp"} alt="製品・部材">
            </div>
            <div class="category-top-links">
              <dl class="dl-category-top-link">
                <dt>4. 数値化</dt>
                <dd>セグメンテーション像に基づき、三次元構造の指標を解析します。</dd>
              </dl>
              <img src={IMG_PATH + "/analysis/tomography_top_04_04.webp"} alt="建屋大気">
            </div>
          </div>
        
          <h2 id="gas01" class="h2-std">分析事例</h2>
          <table class="tbl-analyzer">
            <thead>
              <tr>
                <th rowspan="2">分析対象</th>
                <th colspan="3">分析目的</th>
                <th rowspan="2">分析事例</th>
              </tr>
              <tr>
                <th>可視化</th>
                <th>数値化</th>
                <th>指標</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="txt-left">触媒</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/m234_112.html">STEMトモグラフィによる貴金属担持カーボン触媒の3D解析（1）</a></td>
              </tr>
              <tr>
                <th class="txt-left">触媒</th>
                <td>○</td>
                <td>○</td>
                <td>粒子径</td>
                <td><a href="../../documents/m216_145.html">Pt/C触媒の3D-STEM観察　-粒径解析-</a></td>
              </tr>
              <tr>
                <th class="txt-left">触媒</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/m240_112.html">STEM-EDSトモグラフィによるアイオノマー観察</a></td>
              </tr>
              <tr>
                <th class="txt-left">触媒</th>
                <td>○</td>
                <td>○</td>
                <td>
                  空隙率<br>
                  細孔径
                </td>  
                <td><a href="../../documents/m250_112.html">STEMトモグラフィによるカーボン担体の細孔径解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">多孔質材料</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/m226_143.html">STEMトモグラフィによる多孔質アルミナの細孔解析（1）</a></td>
              </tr>
              <tr>
                <th class="txt-left">多孔質材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  細孔径<br>
                  くびれ径<br>
                  曲路率
                </td>
                <td><a href="../../documents/m227_143.html">STEMトモグラフィによる多孔質アルミナの細孔解析（2）</a></td>
              </tr>
              <tr>
                <th class="txt-left">多孔質材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  空隙率<br>
                  細孔径<br>
                  深さ
                </td>
                <td><a href="../../documents/m243_143.html">STEMトモグラフィによる多孔質アルミナの細孔解析（3）</a></td>
              </tr>
              <tr>
                <th class="txt-left">多孔質材料</th>
                <td>○</td>
                <td>○</td>
                <td>細孔径</td>
                <td><a href="../../documents/m241_143.html">コンクリート中空隙の三次元マルチスケール解析 </a></td>
              </tr>
              <tr>
                <th class="txt-left">多孔質材料</th>
                <td>○</td>
                <td>○</td>
                <td>曲路率</td>  
                <td><a href="../../documents/m245_112.html">流体シミュレーションに基づく多孔質材料の細孔構造解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">繊維材料</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/m225_141.html">セルロースナノファイバー（CNF）複合材料の3D-STEM観察</a></td>
              </tr>
              <tr>
                <th class="txt-left">繊維材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  繊維長<br>
                  曲路率
                </td>
                <td><a href="../../documents/m228_141.html">FIB-SEMによるセルロースナノファイバー（CNF）複合材料の3D解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">繊維材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  繊維長<br>
                  アスペクト比<br>
                  配向角<br>
                  最近接距離
                </td>
                <td><a href="../../documents/m249_141.html">複合材中のセルロースナノファイバー（CNF）三次元解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">繊維材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  繊維径<br>
                  曲路率<br>
                  接触繊維数
                </td>
                <td><a href="../../documents/m239_141.html">テンプレートマッチングによる三次元繊維セグメンテーション</a></td>
              </tr>
              <tr>
                <th class="txt-left">繊維材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  繊維径<br>
                  配向角
                </td>
                <td><a href="../../documents/m246_141.html">ガラス繊維強化プラスチック（GFRP）の繊維配向解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">複合材料</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/p243_141.html">ゴム中のフィラーの3D-TEM観察と元素マッピング</a></td>
              </tr>
              <tr>
                <th class="txt-left">複合材料</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/s445_143.html">FIB-SEM法による樹脂中フィラーの三次元構造解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">複合材料</th>
                <td>○</td>
                <td>○</td>
                <td>
                  球相当径<br>
                  アスペクト比<br>
                  球形度
                </td>
                <td><a href="../../documents/m244_143.html">三次元粒子形状評価</a></td>
              </tr>
              <tr>
                <th class="txt-left">高分子材料</th>
                <td>○</td>
                <td>-</td>
                <td>-</td>
                <td><a href="../../documents/p241_141.html">スチレン系ブロック共重合体の3D-TEM観察</a></td>
              </tr>
              <tr>
                <th class="txt-left">半導体</th>
                <td>○</td>
                <td>○</td>
                <td>電極面積</td>
                <td><a href="../../documents/m253_121.html">積層セラミックコンデンサの3D解析</a></td>
              </tr>
              <tr>
                <th class="txt-left">食品</th>
                <td>○</td>
                <td>○</td>
                <td>曲率</td>
                <td><a href="../../documents/m263_133.html">曲率を用いた曲面形状の評価</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </Inner>
  </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-analyzer {
  thead tr:first-of-type {
    th:first-of-type {
      min-width: 110px;
    }

    th:nth-of-type(2) {
      min-width: 230px;
    }
  }

  thead tr:nth-of-type(2) th {
    border: 1px solid g.color('white');
  }

  tbody th {
    background-color: g.color('key_light');
    color: g.color('white');
    border-right: 1px solid #fff!important;
    border-bottom: none;
    border-top: 1px solid #fff;
  }
}

.category-top-linkarea {
  margin-left: 30px;
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>
