---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import sitemapTreeData from '@pages/documents/_sitemap_tree.json';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import LinkBox from '@components/LinkBox.astro';
const meta = {
	title: '分析対象',
	description: '分析対象',
	keywords: '',
}
---
<Layout pageId="documents" title={meta.title} keywords={meta.keywords} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="自動車" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="自動車"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <div class="category">
                  <figure class="category-image">
                    <img src={IMG_PATH + "/service/automobile_01.webp"} alt="図：自動車" width="380" height="285">
                  </figure>
                  <p class="category-lead">
                    自動車技術は電動化・高機能化により、材料・構造・製造プロセスのすべてで高度な課題が顕在化しています。DNP科学分析センターは、リチウムイオン電池、燃料電池、樹脂・高分子部材、金属・無機材料など幅広い領域で培った知見と、表面・界面のナノ解析から粉体・触媒評価、有機・無機組成分析までカバーする総合解析力で、開発現場の“原因解明”と“性能向上”を強力に支援します。
                  </p>
                </div>  
                <div class="link">
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_semiconductor.webp"}
                    title="環境対応車のために"
                    links={[
                      { text: 'リチウムイオン二次電池', href: 'automobile/lithium-ion.html' },
                      { text: '燃料電池', href: 'automobile/fuel_cell.html' },
                      { text: 'パワー半導体', href: 'automobile/semiconductor.html' },
                      { text: 'LED素子', href: 'automobile/led.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_automobile_polymer.webp"}
                    title="高分子材料分析のスペシャリスト集団として"
                    links={[
                      { text: '高分子材料', href: 'automobile/polymer.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_catalyst.webp"}
                    title="触媒分析"
                    links={[
                      { text: '触媒', href: 'automobile/catalyst.html' }
                    ]}
                  />
                </div>
                <!--content end--></div>
        </Inner>
    </div>
</Layout>

<style lang="scss">

  .category {
    display: flex;
    align-items: center;
    column-gap: 55px;

    &-image {
      flex-shrink: 0;
    }
  }
  
  .link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
  }

</style>
