---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import LinkBox from '@components/LinkBox.astro';

const meta = {
	title: '材料',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp"/>
    <TitleH1 title="材料" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="材料"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <div class="category">
                  <figure class="category-image">
                    <img src={IMG_PATH + "/service/materials_01.webp"} alt="図：材料" width="380" height="285">
                  </figure>
                  <p class="category-lead">
                    有機材料、高分子材料、金属・無機材料、ナノ材料などあらゆる素材に、DNP科学分析センターの分析技術力が力を発揮します。発生ガス分析や異物分析などトラブルシューティングにも豊富な実績があります。
                  </p>
                </div>  
                <div class="link">
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_organic.webp"}
                    title="有機材料"
                    links={[
                      { text: '有機材料', href: 'materials/organic.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_polymer.webp"}
                    title="高分子材料"
                    links={[
                      { text: '高分子材料', href: 'materials/polymer.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_inorganic.webp"}
                    title="金属・無機材料"
                    links={[
                      { text: '金属・無機材料', href: 'materials/inorganic.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_cnt.webp"}
                    title="ナノ材料"
                    links={[
                      { text: 'ナノ材料', href: 'materials/cnt.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_catalyst_powder.webp"}
                    title="触媒・粉体"
                    links={[
                      { text: '触媒・粉体', href: 'materials/catalyst_powder.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_gas.webp"}
                    title="加熱発生ガス"
                    links={[
                      { text: '加熱発生ガス', href: 'materials/gas.html' }
                    ]}
                  />
                  <LinkBox 
                    imageSrc={IMG_PATH + "service/category-top_foreign_substance.webp"}
                    title="異物分析"
                    links={[
                      { text: '異物分析', href: 'materials/foreign_substance.html' }
                    ]}
                  />
                </div>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
    .category {
    display: flex;
    align-items: center;
    column-gap: 55px;

    @media print {
      height: auto;
      min-height: auto;
    }

        &-image {
            flex-shrink: 0;
        }
    }
  
    .link {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 50px;
    }
</style>
