---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
const meta = {
	title: '地域・自治体の皆さまへ',
}
---
<Layout pageId="for-local-government" title={meta.title}>
    <div class="main">
        <Inner>
        </Inner>
    </div>
</Layout>

<style lang="scss">
</style>
