---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '異物分析',
	description: '',
}

const contentsList = [
    { num: 1, txt: '異物の形状分類', href: '#fs-01' },
    { num: 2, txt: '異物の寸法と測定方法', href: '#fs-02' },
    { num: 3, txt: '微小異物の総合的分析フロー', href: '#fs-03' },
    { 
        num: 4, 
        txt: '分析例', 
        href: '#fs-04',
        subItems: [
            { txt: '大きな試料をそのままSEM で観たい', href: '/documents/p332_147.html' },
            { txt: 'ポリエチレンフィルム中の埋没物（簡易断面作製法）', href: 'foreign_substance_ex.html#fs-ex-01' },
            { txt: '天然果汁製品中のもやもや状浮遊物', href: 'foreign_substance_ex.html#fs-ex-02' },
            { txt: 'SEMによる三次元的な構造のEDS元素マッピングの比較', href: '/documents/s511_147.html' },
        ]
    },
    { num: 5, txt: '技術資料', href: '#fs-05' },
    { num: 6, txt: '依頼に関するお願い', href: '#fs-06' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="異物分析" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="材料" parent3="異物分析"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/foreign_substance_01.webp"}
                    alt="加熱発生ガスの分析装置"
                    lead="プラスチック成形品、半導体、基板、食品、医薬品等に発生する「異物」の特定は重要であり、また最近では異物が微小化しており、異物分析には高度な技術が要求されます。<br>半導体材料や半導体デバイスの分析・評価では、超微量分析、表面分析、電子顕微鏡分析などの豊富な経験と優れた最新の分析技術で、強力にサポートします。<br>ここでは、異物を特定する上で多用されている顕微赤外分光法（顕微IR）、熱分解ガスクロマトグラフ質量分析計（Py-GC/MS） 、電子線プローブ微小部分析法（EPMA） 、顕微ラマン分光法（顕微ラマン）、飛行時間型二次イオン質量分析法（TOF-SIMS）による異物の分析を中心に紹介いたします。"
                />
                <Contents list={contentsList} />
                <h2 id="fs-01" class="h2-service">異物の形状分類</h2>
                <p>お困りの異物はどんな形態ですか？</p>
                <h3 class="h3-service-list">断面方向からの模式図</h3>
                <h4 class="h4-service-list">表面</h4>
                <p><img src={IMG_PATH + "/service/foreign_substance_02.webp"}  alt="左：塊状、中：繊維状、右：液状"></p>
                <p>シリコンウエハ、プラスチック成形品、フィルム、加工食品、基板、紙製品、デジカメ、レンズ</p>
                <h4 class="h4-service-list">内部</h4>
                <p><img src={IMG_PATH + "/service/foreign_substance_03.webp"}  alt="左：孔中、中：内部、右：チューブ内"></p>
                <p>プラスチック成形品、携帯電話・デジカメの基板、チューブ、インクジェットプリンターのノズル、粘着物、加工食品・飲料、中間膜、調味料</p>
                <h4 class="h4-service-list">埋没</h4>
                <p><img src={IMG_PATH + "/service/foreign_substance_04.webp"}  alt="フィッシュアイ"></p>
                <p>フィルム、プラスチック成形品、加工食品、レジスト、紙製品、粘着物、中間膜</p>
                <h2 id="fs-02" class="h2-service">異物の寸法と測定方法</h2>
                <p>お困りの異物はどのくらいの大きさですか？</p>
                <p><img src={IMG_PATH + "/service/foreign_substance_05.webp"}  alt="図：異物の寸法と測定方法"></p>
                <h2 id="fs-03" class="h2-service">微小異物の総合的分析フロー</h2>
                <p>下図のような流れで異物を分析します。</p>
                <p><img src={IMG_PATH + "/service/foreign_substance_06.webp"}  alt="微小異物の総合的分析フロー"></p>
                <h2 id="fs-04" class="h2-service">分析例</h2>
                <ul class="ul-arrow-small">
                    <li><a href="foreign_substance_ex.html#fs-ex-01">ポリエチレンフィルム中の埋没物（簡易断面作製法）</a></li>
                    <li><span class="h2-service"><a href="foreign_substance_ex.html#fs-ex-02">天然果汁製品中のもやもや状浮遊物</a></span></li>
                    <li>
                      <span class="h2-service">
                        <a href="../../documents/s511_147.html">SEMによる三次元的な構造のEDS元素マッピングの比較</a>
                      </span>
                    </li>
                </ul>
                <h2 id="fs-05" class="h2-service">技術資料</h2>
                <h3 class="h3-service-list">分析事例</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th rowspan="5" scope="row" class="txt-left th-td-13em txt-indent5px">有機材料</th>
                      <td><a href="../../documents/p206_147.html">フィルムのFE分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o305_147.html">熱分解GC/MSを用いた微小黒色ゴムの分析</a></td>
                    </tr>
                    <tr>
                      <td>顕微FT-IRイメージング法による異物分析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f080_147.html">IRイメージング法による微小異物の分析（3）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s262_147.html">TOF-SIMSによる有機材料の表面汚染評価</a></td>
                    </tr>
                    <tr>
                      <th rowspan="7" class="txt-left txt-indent5px" scope="row">電子材料</th>
                      <td><a href="../../documents/f058_147.html">IRイメージング法による微小異物の分析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f080_147.html">IRイメージング法による微小異物の分析（3）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o551_142.html">顕微透過反射法によるIRイメージング測定</a></td>
                    </tr>	  
                    <tr>
                      <td><a href="../../documents/o242_147.html">黒色異物の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o302_147.html">熱分解GC/MSによる糖類系異物の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s536_147.html">ウエハ表面の異物の特定</a></td>
                    </tr>
                    <tr>
                      <td>レーザーラマン分光による多層フィルム中の異物分析</td>
                    </tr>
                    <tr>
                      <th rowspan="2" class="txt-left txt-indent5px" scope="row">SEM-EDS</th>
                      <td><a href="../../documents/p279_147.html">ミリングプロによるガラス中埋没物の同定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s383_147.html">反射電子像観察による異物探索</a></td>
                    </tr>
                    </tbody>
                </table>
                <h3 class="h3-service-list">機器説明</h3>
                <ul class="ul-arrow-small">
                    <li><a href="../../documents/f1502_510.html">フーリエ変換顕微赤外分光光度計</a></li>
                    <li><a href="../../documents/c0801_147.html">µマニピュレーター</a></li>
                    <li><a href="../../documents/s0801_510.html">顕微レーザラマン分光装置（RAMAN）</a></li>
                    <li><a href="../../documents/s0701_510.html">飛行時間型二次イオン質量分析計（TOF-SIMS）</a></li>
                    <li><a href="../../documents/s1403_530.html">電子線マイクロアナライザー（EPMA）</a></li>
                </ul>
                <h2 id="fs-06" class="h2-service">依頼に関するお願い</h2>
                <p>ご依頼に際しましてはできるだけ下記の点にご留意下さい。</p>
                <h3 class="h3-service-list">1． 異物の形態および異物を含む試料の保管に関して</h3>
                <ol class="ol-std">
                    <li>写真、図面等で異物をお示し下さい。</li>
                    <li>試料はできるだけ素手で触れないようにして下さい。</li>
                    <li>試料は新品のアルミホイルで包んで、チャック付き袋に入れて保管して下さい。</li>
                </ol>
                <h3 class="h3-service-list">2． その他</h3>
                <ol class="ol-std">
                    <li>可能な限り異物に関する情報をご提供下さい。</li>
                    <li>詳細については弊社営業担当にご相談下さい。</li>
                </ol>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>