---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '加熱発生ガス',
	description: '',
}

const contentsList = [
    { num: 1, txt: '分析対象と分析目的・評価項目', href: '#gas01' },
    { num: 2, txt: '加熱発生ガスの分析', href: '#gas02' },
    { num: 3, txt: '主な加熱法例', href: '#gas03' },
    { num: 4, txt: '主な捕集方法例', href: '#gas04' },
    { num: 5, txt: '主な分析装置', href: '#gas05' },
    { num: 6, txt: '分析例', href: '#gas06' },
    { num: 7, txt: '加熱発生ガス中のアルデヒド類の分析', href: '#gas07' },
    { num: 8, txt: '臭素系高分子量難燃剤の熱分解挙動の分析（EGA-MS）', href: '#gas08' },
    { num: 9, txt: 'シリコンウエハからのガス発生状況の分析（TDS-MS）', href: '#gas09' },
    { num: 10, txt: '加熱発生ガス測定法の特徴', href: '#gas10' },
    { num: 11, txt: '技術資料', href: '#gas11' },
    { num: 12, txt: '依頼に関するお願い', href: '#gas12' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="加熱発生ガス" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="材料" parent3="加熱発生ガス"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/gas_01.webp"}
                    alt="加熱発生ガスの分析装置"
                    lead="原材料から発生するガスは製品や周辺材料に悪影響を及ぼすことが多々あります。　また、製造現場、クリーンルームなどの設備内の大気に含まれる有害物質や臭気などは、製品に悪影響を与えるばかりでなく、人の健康へも悪影響を与えます。このようなことから発生ガスを分析することは極めて重要です。<br>弊社では、 12インチウエハ、建屋大気等からの発生ガス分析などの定型的な測定だけでなく、各種材料・製品など、さまざまな試料と目的に適した分析方法をご提案いたします。"
                />
                <Contents list={contentsList} />
                <h2 id="gas01" class="h2-service">分析対象と分析目的・評価項目</h2>
                <p>分析対象はどんな物でしょうか？</p>
                <div id="category-top-linkarea">
                    <div class="category-top-links">
                    <dl class="dl-category-top-link flt-right">
                    <dt>原材料</dt>
                    <dd>各種VOC分析</dd>
                    <dd>臭気成分分析 等</dd>
                    </dl>
                  <img src={IMG_PATH + "/service/gas_top_01.webp"} alt="原材料">
                    <!--category-top-links end--></div>
                    <div class="category-top-links">
                    <dl class="dl-category-top-link flt-right">
                    <dt>成形品</dt>
                    <dd>腐食ガス分析</dd>
                    <dd>成形過程でのガス発生状況評価 等</dd>
                    </dl>
                  <img src={IMG_PATH + "/service/gas_top_02.webp"} alt="成形品">
                    <!--category-top-links end--></div>
                    <div class="category-top-links">
                    <dl class="dl-category-top-link flt-right">
                    <dt>製品・部材</dt>
                    <dd>各種VOC分析</dd>
                    <dd>不良原因調査 等</dd>
                    <dd class="dd-category-top-link-none">&nbsp;</dd>
                    </dl>
                  <img src={IMG_PATH + "/service/gas_top_03.webp"} alt="製品・部材">
                    <!--category-top-links end--></div>
                    <div class="category-top-links">
                    <dl class="dl-category-top-link flt-right">
                  <dt>建屋大気</dt>
                    <dd>各種VOC分析</dd>
                    <dd>臭気成分分析</dd>
                    <dd>アルデヒド類、アミン類評価 等</dd>
                    </dl>
                  <img src={IMG_PATH + "/service/gas_top_04.webp"} alt="建屋大気">
                    <!--category-top-links end--></div>
                    <!--category-top-linkarea end-->
                </div>
                <h2 id="gas02" class="h2-service">加熱発生ガスの分析</h2>
                <p>分析目的に最適な組合わせをご提案します。</p>
                <table class="tbl-gas-analysis">
                    <tbody><tr>
                      <th scope="col">主な加熱方法</th>
                      <td rowspan="2" scope="col">&nbsp;</td>
                      <th scope="col">主な捕集方法</th>
                      <td rowspan="2" scope="col">&nbsp;</td>
                      <th scope="col">主な分析装置</th>
                      <td class="td-va-middle" rowspan="2" scope="col"><img src={IMG_PATH + "/service/arrow_big.gif"} width="60" height="126" alt="矢印"></td>
                      <td class="td-va-middle" rowspan="2" scope="col"><img src={IMG_PATH + "/service/gas-analysis-data.gif"} width="120" height="52"  alt="データ解析"></td>
                    </tr>
                    <tr>
                      <td class="td-gas-analysis-border">
                        <ul class="ul-gas-analysis">
                          <li>ダイナミックヘッドスペース（DHS）</li>
                          <li>スタティックヘッドスペース（HS）</li>
                          <li>熱分解（Py）</li>
                          </ul>
                      </td>
                      <td class="td-gas-analysis-border">
                        <ul class="ul-gas-analysis">
                          <li>テトラーバッグ</li>
                          <li>吸着管</li>
                          <li>溶液</li>
                          </ul>
                      </td>
                      <td class="td-gas-analysis-border">
                        <ul class="ul-gas-analysis">
                          <li>GC/MS（GC/MS/MS）</li>
                          <li>Py-GC/MS</li>
                          <li>TCT-GC/MS</li>
                          <li>TDS-GC/MS</li>
                          <li>TDS-MS</li>
                          <li>EGA-MS</li>
                          <li>IC</li>
                          <li>ICP（-MS）</li>
                          <li>HPLC</li>
                          </ul>
                      </td>
                      </tr>
                  </tbody>
                </table>
                <h3 class="h3-service-list">分析例：部材からの加熱発生ガス分析</h3>
                <p><img src={IMG_PATH + "/service/gas_analysis_fig.webp"} alt="部材からの加熱発生ガス分析の例"></p>
                <h2 class="h2-service" id="gas03">主な加熱法例</h2>
                <p>主な加熱方法を示します。</p>
                <table class="tbl-gas-analysis">
                    <tbody>
                        <tr>
                            <th scope="col">ダイナミックヘッドスペース（DHS）法</th>
                            <td class="td-va-middle" rowspan="2" scope="col">&nbsp;</td>
                            <th class="font-small" scope="col"> スタティックヘッドスペース（HS）法</th>
                            <td class="td-va-middle" rowspan="2" scope="col">&nbsp;</td>
                            <th scope="col">熱分解（Py）法</th>
                        </tr>
                        <tr>
                            <td class="txt-center"><img src={IMG_PATH + "/service/gas_analylsis_heating_01.webp"} alt="図：ダイナミックヘッドスペース（DHS）法"></td>
                            <td class="txt-center"><img src={IMG_PATH + "/service/gas_analylsis_heating_02.webp"} alt="図：スタティックヘッドスペース法"></td>
                            <td class="txt-center"><img src={IMG_PATH + "/service/gas_analylsis_heating_03.webp"} alt="図：熱分解（Py）法"></td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="h2-service" id="gas04">主な捕集方法例</h2>
                <div class="category-top clearfix">
                    <img src={IMG_PATH + "/service/gas_trapping.webp"} alt="捕集例：クリーンルーム中の大気捕集">
                    <p>各種捕集法をご用意しています。</p>
                    <!--category-top end-->
                </div>
                <table class="tbl-gas-analysis">
                    <tbody><tr>
                      <th scope="col">テドラーバッグ</th>
                      <td class="td-va-middle" rowspan="2" scope="col">&nbsp;</td>
                      <th scope="col"> 溶液</th>
                      <td class="td-va-middle" rowspan="2" scope="col">&nbsp;</td>
                      <th scope="col">吸着管</th>
                    </tr>
                    <tr>
                      <td class="txt-center"><img src={IMG_PATH + "/service/gas_trapping_fig_01.webp"} width="200" height="150" alt="写真：テドラーバッグ"></td>
                      <td class="txt-center"><img src={IMG_PATH + "/service/gas_trapping_fig_02.webp"} width="200" height="150" alt="写真：溶液"></td>
                      <td class="txt-center"><img src={IMG_PATH + "/service/gas_trapping_fig_03.webp"} width="200" height="150" alt="写真：吸着管"></td>
                    </tr>
                    <tr>
                      <td>
                        <ul class="ul-dot-blk">
                            <li>C4～C30程度の一般的な有機化合物</li>
                        </ul>
                      </td>
                      <td class="td-va-middle" scope="col">&nbsp;</td>
                      <td>
                      <ul class="ul-dot-blk">
                      <li>酸性ガス（HF、HCl、H<sub>2</sub>SO<sub>4</sub>等）</li>
                      <li>塩基性ガス（アンモニア等）</li>
                      <li>低級アミン（トリメチルアミン等）</li>
                      <li>高極性有機成分</li>
                      </ul></td>
                      <td class="td-va-middle" scope="col">&nbsp;</td>
                      <td>
                      <dl class="dl-dot-blk">
                      <dt>誘導体カートリッジ</dt>
                      <dd>アルデヒド、ケトン、反応有機成分</dd>
                      <dt>吸着剤</dt>
                      <dd>C4～C30程度の一般的な有機化合物</dd>
                      </dl>
                     </td>
                    </tr>
                  </tbody>
                </table>
                
                <h2 class="h2-service" id="gas05">主な分析装置</h2>
                <p>超高感度の分析機器を揃えています。</p>
                <table class="tbl-gas-analysis">
                  <tbody><tr>
                    <td>TCT-GC/MS</td>
                    <td>&nbsp;</td>
                    <td>TDS-MS</td>
                  </tr>
                  <tr>
                    <td><img src={IMG_PATH + "/service/gas_analyzer_01.webp"} width="300" height="225" alt="写真：TCT-GC/MS"></td>
                    <td>&nbsp;</td>
                    <td><img src={IMG_PATH + "/service/gas_analyzer_02.webp"} width="300" height="225" alt="写真：TDS-MS"></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>TDS-GC/MS
                </td>
                    <td>&nbsp;</td>
                    <td>ICP-MS</td>
                  </tr>
                  <tr>
                    <td><img src={IMG_PATH + "/service/gas_analyzer_03.webp"} width="300" height="225" alt="写真：TDS-GC/MS"></td>
                    <td>&nbsp;</td>
                    <td><img src={IMG_PATH + "/service/gas_analyzer_04.webp"} width="300" height="225" alt="写真：ICP-MS"></td>
                  </tr>
                </tbody>
              </table>

              <h2 class="h2-service" id="gas06">分析例（クリーンルーム大気中の有機物とシリコンウエハ上汚染有機物との比較）</h2>
              <p>クリーンルームに放置したシリコンウエハの汚染の様子を調べました</p>
              <h3 class="h3-service-list">クリーンルーム大気（吸着管→TCT-GC/MS）</h3>
              <p><img src={IMG_PATH + "/service/gas_analytic_ex_01.webp"} alt="図1：クリーンルーム大気のGC/MSのTICクロマトグラム"></p>
              <p class="txt-center">図1：クリーンルーム大気のGC/MSのTICクロマトグラム</p>
              <h3 class="h3-service-list">シリコンウエハ（TDS-GC/MS）</h3>
              <p>クリーンルーム大気中に極微量存在する2-エチルヘキサノールやDBP が、シリコンウエハ上の主汚染物質であることが分かりました。</p>
              <p><img src={IMG_PATH + "/service/gas_analytic_ex_02.webp"} alt="図2：クリンルーム大気中に放置したシリコンウエハのGC/MSのTICクロマトグラム"></p>
              <p class="txt-center">図2：クリンルーム大気中に放置したシリコンウエハのGC/MSのTICクロマトグラム</p>

              <h2 class="h2-service" id="gas07">加熱発生ガス中のアルデヒド類の分析</h2>
              <h3 class="h3-service-list">材料からシックハウス関連物資が発生しているかを調べるには？</h3>
              <p>材料から発生する極微量のアルデヒド類を反応試薬（DNPH）と反応させ、感度の高い化合物に変換した後にHPLCで測定することにより、サブppm（試料換算）
                まで検出できます。<img src={IMG_PATH + "/service/gas_analytic_ex_aldehyde.webp"} alt="図：加熱発生ガス中のアルデヒド類の分析">
              </p>
              
              <h2 class="h2-service" id="gas08">臭素系高分子量難燃剤の熱分解挙動の分析（EGA-MS）
              </h2>
              <p>各成分の特徴 m/z を温度（横軸）－強度（縦軸）で書き出すことにより、熱分解挙動を調べることができます。</p>
              <p><img src={IMG_PATH +"/service/gas_analytic_ex_ega-ms.webp"} alt="臭素化PC oligomerのEGA-MSクロマトグラム"></p>
              <p class="txt-center">臭素化PC oligomerのEGA-MSクロマトグラム</p>

              <h2 class="h2-service" id="gas09">シリコンウエハからのガス発生状況の分析（TDS-MS）</h2>
              <p>シリコンウエハから、加熱と共に漏出する、水素その他のガスの様子を調べました。</p>
              <p><img src={IMG_PATH +"/service/gas_analytic_ex_tds-ms.webp"} alt="SDスキャングラフ"></p>

              <h2 class="h2-service" id="gas10">加熱発生ガス測定法の特徴</h2>
              <p>ご依頼の試料にはどの測定法が適しているでしょうか？</p>
              <table class="tbl-service-doc">
                <tbody><tr>
                  <th colspan="2" width="200" scope="col">装置</th>
                  <th scope="col" width="80">加熱温度</th>
                  <th scope="col">感度</th>
                  <th scope="col" width="60">定量性</th>
                  <th scope="col" width="80">雰囲気</th>
                  <th scope="col">試料量、サイズ</th>
                  </tr>
                  <tr>
                    <th rowspan="5" scope="row" class="border-2px-bottom">定性分析</th>
                    <th class="txt-left" scope="row">HS-GC/MS</th>
                    <td class="txt-center">～250℃</td>
                    <td class="txt-center">ppm</td>
                    <td class="txt-center">○</td>
                    <td>空気</td>
                    <td>数g</td>
                    </tr>
                  <tr>
                    <th class="txt-left" scope="row">Py-GC/MS</th>
                    <td class="txt-center">～1000℃</td>
                    <td class="txt-center">0.1％</td>
                    <td class="txt-center">×</td>
                    <td>He, 空気</td>
                    <td>1mg</td>
                    </tr>
                  <tr>
                    <th class="txt-left" scope="row">熱抽出GC/MS</th>
                    <td class="txt-center">～1000℃</td>
                    <td class="txt-center">ppm</td>
                    <td class="txt-center">△</td>
                    <td>He, 空気</td>
                    <td>数mg</td>
                  </tr>
                  <tr>
                    <th class="txt-left" scope="row">TCT-GC/MS</th>
                    <td class="txt-center">～280℃</td>
                    <td class="txt-center">ppb</td>
                    <td class="txt-center">○</td>
                    <td>空気、窒素</td>
                    <td>微量吸着物等</td>
                  </tr>
                  <tr>
                    <th class="txt-left border-2px-bottom" scope="row">TDS-GC/MS</th>
                    <td class="txt-center border-2px-bottom">～400℃</td>
                    <td class="txt-center border-2px-bottom">1pg/cm<sup>2</sup></td>
                    <td class="txt-center border-2px-bottom">○</td>
                    <td class="border-2px-bottom">He</td>
                    <td class="border-2px-bottom">最大12inchウエハ</td>
                    </tr>
                  <tr>
                    <th rowspan="3" scope="row" class="border-2px-bottom">発生状況</th>
                    <th class="txt-left">TG-MS</th>
                    <td class="txt-center">～1350℃</td>
                    <td class="txt-center">％</td>
                    <td class="txt-center">×</td>
                    <td>He、空気</td>
                    <td>10mg</td>
                    </tr>
                  <tr>
                    <th class="txt-left">EGA-MS</th>
                    <td class="txt-center">～1000℃</td>
                    <td class="txt-center">0.1％</td>
                    <td class="txt-center">△</td>
                    <td>He、擬似空気</td>
                    <td>1mg</td>
                    </tr>
                  <tr>
                    <th class="txt-left border-2px-bottom">TDS-MS</th>
                    <td class="txt-center border-2px-bottom">～1300℃</td>
                    <td class="txt-center border-2px-bottom">1×10E13 個分子/cm<sup>2</sup></td>
                    <td class="txt-center border-2px-bottom">○</td>
                    <td class="border-2px-bottom">真空</td>
                    <td class="border-2px-bottom">15×15×5mm以下</td>
                    </tr>
                  <tr>
                    <th rowspan="3" scope="row">無機元素、<br>
                      イオン</th>
                    <th class="txt-left">ICP-AES</th>
                    <td>&nbsp;</td>
                    <td class="txt-center">ppb～ppm</td>
                    <td class="txt-center">○</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    </tr>
                  <tr>
                    <th class="txt-left">ICP-MS</th>
                    <td>&nbsp;</td>
                    <td class="txt-center">ppb～ppm</td>
                    <td class="txt-center">○</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    </tr>
                  <tr>
                    <th class="txt-left">IC</th>
                    <td>&nbsp;</td>
                    <td class="txt-center">ppm</td>
                    <td class="txt-center">○</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <p>感度および試料量は、おおよその目安です。</p>

              <h2 class="h2-service" id="gas11">技術資料</h2>
              <h3 class="h3-service-list">分析事例</h3>
              <ul class="ul-arrow-small">
                <li><a href="../../documents/o554_146.html">昇温脱離ガス分析における試料の移送時の汚染について</a></li>
                <li><a href="../../documents/f071_146.html">TCT-GC/MSによるシリコーンゴムから発生する微量シロキサンの定量分析</a></li>
                <li><a href="../../documents/o200_146.html">実験室大気中の微量有機物分析</a></li>
                <li><a href="../../documents/o202_146.html">TCT-GC/MSによる揮散ガス中の極微量有機物の分析</a></li>
                <li><a href="../../documents/f049_146.html">EGA-MS法による無機物の加熱発生ガス分析</a></li>
                <li><a href="../../documents/f018_146.html">EGA-MS測定によるガスの発生状況</a></li>
                <li><a href="../../documents/f091_146.html">TDS-MSによるLiB正極活物質温度特性の分析</a></li>
                <li><a href="../../documents/f095_146.html">LiB正極のTDS-MSによる温度特性の分析（1）</a></li>
                <li><a href="../../documents/i114_146.html">イオンクロマトグラフ法によるアミン類の分析</a></li>
              </ul>
              <h3 class="h3-service-list">機器説明</h3>
              <ul class="ul-arrow-small">
                <li><a href="../../documents/c0902_520.html">ガスクロマトグラフ飛行時間型質量分析計（GC-(TOF)/MS）
              </a></li>
                <li><a href="../../documents/an1316_520.html">熱分解GC/MS</a>、熱抽出GC/MS、<a href="../../documents/o1802_510.html">TCT-GC/MS</a></li>
                <li><a href="../../documents/o549_146.html">ガス採取法(Tenax捕集、5L)</a></li>
                <li><a href="../../documents/an1320_520.html">発生ガス質量分析計 （EGA-MS）</a> </li>
                <li><a href="../../documents/o1801_510.html">シリコンウエハーアナライザー装置（TDS-GC/MS）</a></li>
                <li><a href="../../documents/f1503_510.html">昇温脱離ガス質量分析計（TDS-MS）</a></li>
                <li>CCD多元素同時型　ICP発光分析装置（ICP-AES）</li>
                <li><a href="../../documents/an1602_530.html">誘導結合プラズマ質量分析装置（ICP-MS）</a></li>
                <li>イオンクロマトグラフ(IC)（陽イオン分析システム）</li>
              </ul>

              <h2 class="h2-service" id="gas12">依頼に関するお願い</h2>
              <p>ご依頼に際しましてはできるだけ下記の点にご留意下さい。</p>
              <ul class="ul-std">
                <li>極微量の有機物を分析するため、試料の取扱は慎重に行なってください。</li>
                <li>粉末、フィルム状、板状の試料はアルミホイルで包装することをお勧めします。アルミホイルの艶の無い面に試料が接するように包装してください。</li>
                <li>気体試料は現地での採取が最も好ましいと考えます。試料採取用の道具（ポンプ、捕集管など）を用意しており、貸し出すこともできます。</li>
                <li>タバコの煙の成分、化粧品、人間から排出される各種有機成分も検出される可能性があります。また、ポリ袋に直接試料を入れるのは好ましくありません。</li>
                <li>不均一な試料に付いてはサンプリング法をご相談ください。</li>
              </ul>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

p {
  text-align: start;
}

.txt-left {
  border-right: 1px solid #fff!important;
}

.tbl-gas-analysis {

  // safari用
  border-collapse: separate;

  &:first-of-type {
    th:first-of-type {
      width: 27%;
    }
  }

  tbody {
    th {
      padding-inline: 10px!important;
    }
  }
}

.tbl-service-doc {

  margin-block: 20px;
  margin-left: 30px;

  @media print {
    margin-left: 0;
  }

  tbody tr:first-child th:nth-child(1) {
    min-width: 205px!important;
  }

  tbody tr:first-child th:nth-child(2) {
    min-width: 100px!important;
  }

  tbody tr:first-child th:nth-child(3) {
    min-width: 100px!important;
  }

  tbody tr:first-child th:nth-child(4) {
    min-width: 100px!important;
  }

  tbody tr:first-child th:nth-child(5) {
    min-width: 100px!important;
  }

  tbody tr:first-child th:last-child {
    min-width: 160px!important;
  }
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>