---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: '有機材料',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="有機材料" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="材料" parent3="有機材料"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/organic_01.webp"}
                    alt="2-ノナノールのPFG-INADEQUATEスペクトル"
                    lead="有機材料は炭素元素を含む化合物であり、その数は膨大です。純度の高い単一化合物から、数％の化合物やppm濃度の化合物を含む配合品まで、その形態はさまざまです。<br>これら有機化合物の構造を調べること（構造解析）や配合品の場合は各成分の構造とその量を調べること（組成分析）は、化合物や配合品を使用する上での必須情報であり、分析が必要不可欠です。"
                />
                <h2 class="h2-service">分析項目</h2>
                <dl class="dl-service-std">
                    <dt>組成分析</dt>
                    <dd>複数の成分が含まれる配合品の場合は、分離した各成分の構造を決定（構造解析）し、その量を調べます（定量分析）。各成分は数10％程度の量のものからppm程度のものまであり、その量により構造解析、定量の方法は異なります。</dd>
                    <dt>構造解析</dt>
                    <dd>構造解析の基本的な手法としては、官能基の情報を得るIR、構造の骨格情報を得るNMR、分子量や部分構造の情報を得るMSなどがあります。この三種類の装置は、「構造解析の三種の神器」とも言われます。化合物が微量の場合は、カラム、GPCやHPLCなどで目的成分を分離、濃縮した成分を機器測定して、またはGC/MSやLC/MSなどの「分離機能と検出器が一体になった装置」で測定して、得られたデータを解析します。</dd>
                    <dt>定量分析</dt>
                    <dd>配合品中の構造決定された各成分の含有量を求めます。基本的にGC、HPLCなどの分離機能を持つ機器により定量分析を行います。ppm～ppbのように微量の場合は、GC/MS、LC/MSや目的化合物を誘導体化して分析装置検出器に対する検出感度を高くして定量する方法などがあります。</dd>
                    <dt>トラブルシューティング（異物、着色、臭気分析 等）</dt>
                    <dd>正常な有機材料にはあってはならないもの（混入異物、着色、臭気 等）は、そのものを製品として使用する場合、その原因を早急に特定して、問題を解決する必要があります。混入異物、着色物、臭気等に対して適切な方法で分析を行い、結果を迅速にお知らせします。</dd>
                </dl>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="20">組成分析</td>
                      <td rowspan="20">GC、HPLC、MS、<a href="../../documents/o1502_510.html">GC/MS</a>、<a href="../../documents/c0601_510.html">LC/MS</a>、<a href="../../documents/f1501_510.html">FT-IR</a>、NMR、XRD、EA、<a href="../../documents/i1801_530.html">ICP-AES</a>、<a href="../../documents/an1602_530.html">ICP-MS</a>、<a href="../../documents/i1201_530.html">高分解能ICP-MS</a></td>
                      <td><a href="../../documents/o393_142.html">インク の組成分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o427_142.html">ポリエステル塗料の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p302_142.html">UV硬化塗料の組成分析</a></td>
                    </tr>
                    <tr>
                      <td>めっき液、フォトレジスト、ペースト、塗料などの組成分析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o403_142.html">無電解めっき液の組成分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o484_142.html">LC/MSによるオリゴ糖の定性・定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o490_142.html">酸分解を用いたオリゴ糖の構成単糖分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o480_142.html">LC/MSを用いたグリセライドの分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o545_142.html">LC/MSによる胆汁酸の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o518_142.html">お茶飲料中カテキン類の高分解能LC/MS分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o491_142.html">LC/MS多変量解析による製品特性の解析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o520_142.html">LC/MS多変量解析による製品特性の解析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o537_142.html">LC/MS多変量解析による製品特性の解析（3）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o485_142.html">誘導体化を用いたアミノ酸の高感度一斉分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o515_142.html">誘導体化を用いたアミノ酸中のヒスタミンの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o494_142.html">誘導体化法によるD,L-アミノ酸の光学分割</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o538_142.html">NMR多変量解析による食用油の組成解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o539_142.html">NMR多変量解析による食用油の熱劣化解析</a></td>
                    </tr>
                    <tr>
                      <td>液晶材料の組成分析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i395_142.html">ポリマー中の微量ケイ素の定量分析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="56">構造解析</td>
                      <td rowspan="56">MS、 <a href="../../documents/o1502_510.html">GC/MS</a>、<a href="../../documents/c0601_510.html">LC/MS</a>、<a href="../../documents/o1601_510.html">MALDI-TOF/MS</a>、<a href="../../documents/f1501_510.html">FT-IR</a>、NMR、XRD、EA、 <a href="../../documents/x9301_510.html">単結晶Ｘ線構造解析</a>、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../../documents/o559_142.html">質量分析における種々のイオン化に適した分析例</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o259_142.html">NMR、ESI/MSによる界面活性剤の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o500_142.html">NMRによるラフィノース（三糖）の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o460_142.html">LC/MSによるポリプロピレングリコールの定性分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o475_142.html">NMRの化学シフト値について</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o469_142.html">NMRの積分比について</a></td>
                    </tr>
                     <tr>
                      <td><a href="../../documents/o473_142.html">1H-NMRのスピン結合について</a></td>
                    </tr>
                      <tr>
                      <td><a href="../../documents/o493_142.html">NMRにおけるH-H COSYスペクトル</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o384_142.html">13C-NMRスペクトル（DEPT法）</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o496_142.html">NMRにおけるHMQCスペクトル</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o533_142.html">HSQCスペクトル（高分解能2次元NMR測定法）</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o534_142.html">Edited-HSQCスペクトル（DTPT機能を追加したHSQCスペクトル）</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o497_142.html">NMRにおけるHMBCスペクトル</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o519_142.html">NMRにおける1D-TOCSYスペクトル</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o498_142.html">13C-NMRスペクトル（1Hノンデカップル）</a></td>
                      </tr>
                      <tr>
                      <td><a href="../../documents/o472_142.html">NMRによるNiめっき液の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o437_142.html">NMRによる光学活性化合物の識別</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o512_142.html">13C-NMRによる光学活性化合物の識別</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o462_142.html">CryoProbeによる医薬品中の微量成分の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o464_142.html">CryoProbeによる微量成分の13C-NMR測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o463_142.html">CryoProbeによるメントールのINADEQUATE測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o499_142.html">NMRにおける1D－INADEQUATE測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o461_142.html">CryoProbeによる微量成分の2D-NMR測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o436_142.html">CFH三重共鳴プローブを用いたフッ素系化合物の13C-NMR測定</a></td>
                    </tr>
                  
                    <tr>
                      <td><a href="../../documents/o471_142.html">
                      多核NMR分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/o470_142.html">多核NMRによるLiB電解質（LiPF6ならびに分解物）の分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/o513_142.html">19F-NMR測定（ホモデカップリング）によるF含有化合物の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o542_142.html">15N-NMRによる含窒素有機化合物の構造解析</a></td>
                    </tr>
                    <tr>
                      <td>
                        <a href="../../documents/o555_142.html">15N-NMRによる含窒素有機化合物の構造解析（２）</a>
                      </td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/o492_142.html">P-NMR測定による有機リン化合物の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o301_142.html">熱分解GC/MSによる顔料の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s412_142.html">フタロシアニン系化合物のTOF-SIMS分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o235_142.html">有機EL材料の構造解析</a></td>
                    </tr>
                     <tr>
                      <td><a href="../../documents/o476_142.html">NCI-MSによるトリフルラリンの分析</a></td>
                    </tr>
                      <tr>
                        <td><a href="../../documents/o543_142.html">MALDI-MSによる多糖類の分析</a></td>
                      </tr>
                      <tr>
                      <td><a href="../../documents/o477_142.html">MSとMS/MSの違いについて</a></td>
                    </tr>
                      <tr>
                        <td><a href="../../documents/o506_142.html">質量分析によるブロムフェナクの構造解析</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o536_142.html">LC-MS/MSによる医薬品の分析（1）</a></td>
                      </tr>
                      <tr>
                       <td><a href="../../documents/o489_142.html">MS/MS分析によるペプチドのアミノ酸配列解析</a></td>
                     </tr>
                      <tr>
                        <td><a href="../../documents/o529_142.html">MALDI-TOF/TOF-MSによるペプチドのアミノ酸配列解析</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o541_142.html">カラーフィルターにおける有機顔料のMSイメージング</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o510_142.html">質量分析手法MS<sup>E</sup>の利点</a></td>
                      </tr>
                      <tr>
                        <td><a href="../../documents/o501_142.html">MS<sup>E</sup>を用いたスルホン酸化合物の分析</a></td>
                      </tr>
                      <tr>
                      <td><a href="../../documents/o465_142.html">ASAP（大気圧固体試料プローブ）による質量分析</a> </td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o495_142.html">ASAP-MSによる有機半導体材料（MePTCDI）の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o449_142.html">ASAP（質量分析用大気圧固体試料プローブ）による有機EL材料の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o466_142.html">ASAP（大気圧固体試料プローブ）による顔料（Pigment Red 177）の質量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o509_142.html">ASAP（大気圧固体試料プローブ）による顔料の質量分析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o486_142.html">プラスチック成型品中の色素の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f081_142.html">ASAP(大気圧固体試料プローブ)による臭素系難燃剤の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o487_142.html">ASAP-MSによるレモン表面の農薬分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o467_142.html">揮発（香気）成分のSPMEおよびMC濃縮による定性分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o417_142.html">固相抽出-熱抽出GC/MSによる微量化合物の高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o535_142.html">イソシアネート化合物の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o558_142.html">イソシアネート化合物の構造解析：官能基数の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x9301_142.html">単結晶Ｘ線構造解析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="25">定量分析</td>
                      <td rowspan="25">GC、HPLC、CE、  <a href="../../documents/o1502_510.html">GC/MS</a>、<a href="../../documents/c0601_510.html">LC/MS</a>、NMR、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../../documents/o357_142.html">NMRによる定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/z001_142.html">定量NMRの標準物質</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/z003_142.html">定量NMRの定量値の再現性</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o530_142.html">NMRを用いた医薬品分析（純度試験、確認試験）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o522_142.html">1H-NMRによる有機顔料（黄色：キノフタロン系）の定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o451_142.html">NMRによるシリコンオイルの微量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o275_142.html">LC/MS/MS（SRM法）による微量成分の定量</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o482_142.html">LC/MSを用いた微量脂肪酸アミドの定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f074_142.html">各種有機化合物の微量分析（誘導体化法および測定方法）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o239_142.html">GC/MS（SIM）による樹脂中の有機スズ化合物の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f092_142.html">グリオキサールの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f052_142.html">HPLCによる低級脂肪族アルデヒド類の一斉分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f060_142.html">HPLCによるモノエタノールアミンの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o478_142.html">尿素関連物質のHPLC定量分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f056_142.html">微量のビスフェノールAの分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f075_142.html">GC/MSによるエチレンジアミン四酢酸の高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f089_142.html">エチレンジアミン四酢酸金属錯体の高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o350_142.html">GC、GC/MSを用いるヒドラジンの高感度分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f076_142.html">HPLCによる樹脂中の残存イソシアネートの分析</a></td>
                    </tr>
                     <tr>
                       <td><a href="../../documents/f093_142.html">HPLCによる脂肪族系イソシアネートの分析</a></td>
                     </tr>
                     <tr>
                      <td><a href="../../documents/f082_142.html">GC、GC/MSによるウレタン中の残存イソシアネート（HDI）の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p277_142.html">赤外吸収スペクトルの二次微分解析による脂肪酸金属塩の定量</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o452_142.html">元素分析におけるNaの妨害</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o453_142.html">元素分析におけるNaの妨害への対策</a></td>
                    </tr>
                    <tr>
                      <td>アセチルアセトンの高感度分析</td>
                    </tr>
                    <tr>
                      <td rowspan="9">トラブルシューティング<br>
                        （異物、着色、臭気分析 等）</td>
                      <td rowspan="9"><a href="../../documents/f1502_520.html">顕微FT-IR</a>、<a href="../../documents/s1403_530.html">EPMA</a>、 <a href="../../documents/an1316_520.html">Py-GC/MS</a> 、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="foreign_substance.html">異物分析（分析詳細）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s500_142.html">TOF-SIMSによる用紙のインクはじき部の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/f080_142.html">IRイメージング法による微小異物の分析（3）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/se103_142.html">カールフィッシャー水分測定（容量滴定法）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/se116_142.html">カールフィッシャー水分測定（気化法）　－スキャンモード測定－</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/b117_142.html">強塩基性アミンのカールフィッシャー水分滴定法による水分量測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/b118_142.html">強酸のカールフィッシャー水分滴定法による水分量測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o396_142.html">BHT 着色物の構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o507_142.html">重溶媒中の不純物分析</a></td>
                    </tr>
                    <tr>
                      <td>有機材料の加熱発生ガス分析</td>
                      <td><a href="../../documents/o1802_510.html">TCT-GC/MS</a>、 <a href="../../documents/an1316_510.html">Py-GC/MS</a> 、TDS-GC/MS</td>
                      <td><a href="gas.html">加熱時の発生ガス分析（分析詳細） </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-service-doc {
  tbody tr:first-child th:nth-child(1) {
      min-width: 250px!important;
		}
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>