---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '高分子材料',
	description: '',
}

const contentsList = [
    { num: 1, txt: '高分子材料の組成分析と構造解析', href: '#structure' },
    { num: 2, txt: '高分子材料の形態観察と物性評価', href: '#form-observation' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="高分子材料" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="材料" parent3="高分子材料"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/polymer_01.webp"}
                    alt="高温GPC装置"
                    lead="高分子材料は多岐の分野にわたり、利用されています。この材料はその組成と構造および組織形態により、物性は大きく異なり、この材料の分析は非常に重要になります。"
                />
                <Contents list={contentsList} />
                <h2 id="structure" class="h2-service">高分子材料の組成分析と構造解析</h2>
                <p>高分子材料の開発には、ポリマー（高分子）と添加剤の組成・構造解析およびポリマーの分子特性評価が必要です。<br>
                種々の前処理とクロマトグラフィーを駆使して成分を分離し、多様な分析法によって組成を同定する一方、平均分子量、分子量分布、立体規則性、末端基、結合様式などの分子特性を明らかにします。
                </p>
                <h3 class="h3-service-list">ポリマーの分子特性評価</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="10">分子量</td>
                      <td rowspan="10">GPC、溶液粘度、静的光散乱</td>
                      <td><a href="../../documents/c009_141.html">ゲル浸透クロマトグラフィー(GPC)</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/c010_141.html">光散乱検出器による絶対分子量及び分子サイズの算出</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p291_141.html">光散乱検出器（LS）による絶対分子量分布の測定原理</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p292_141.html">GPC-LALLSによる分子量分布測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p290_141.html">GPCによる絶対分子量測定（粘度法）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/c018_141.html">ゲル浸透クロマトグラフィー（GPC）における相対分子量と絶対分子量（粘度法）の比較</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/c1702_520.html">高温ゲル浸透クロマトグラフ</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p251_141.html">GPCにおける濃度依存性</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/p208_141.html">GPCによる相対分子量分布測定と絶対分子量分布測定の比較</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o531_141.html">MALDI-MSによる合成高分子の分析</a></td>
                    </tr>
                  <tr>
                    <td>立体規則性、結合様式</td>
                    <td>NMR（1H、13C）</td>
                    <td><a href="../../documents/pr1001_141.html">NMRによるポリオレフィンの一次構造解析</a></td>
                  </tr>
                  <tr>
                    <td>ミクロ構造</td>
                    <td>NMR（1H、13C）、<a href="../../documents/f1501_520.html">FT-IR</a></td>
                    <td><a href="../../documents/p230_141.html">ゴム系ポリマーのミクロ構造、立体規則性解析</a></td>
                  </tr>
                  <tr>
                    <td rowspan="2">末端基定量</td>
                    <td rowspan="2">滴定、1H-NMR</td>
                    <td>NMRによるナイロンの末端カルボキシル基、末端アミノ基の定量</td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/b114_141.html">ポリアミド樹脂の末端基定量</a></td>
                  </tr>
                  <tr>
                    <td rowspan="2">溶液粘度測定</td>
                    <td rowspan="2"></td>
                      <td><a href="../../documents/b111_141.html">ポリアミドの粘度数</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/b112_141.html">極限粘度</a></td>
                  </tr>
                  <tr>
                    <td>劣化評価</td>
                    <td>DSC、GPC</td>
                      <td><a href="../../documents/p323_141.html">高分子材料の劣化評価</a></td>
                  </tr>
                </tbody>
            </table>
            <h3 class="h3-service-list">組成分析と構造解析</h3>
            <table class="tbl-service-doc">
                <tbody><tr>
                  <th class="th-service-doc-section" scope="col">分析項目</th>
                  <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                  <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                </tr>
                <tr>
                  <td rowspan="12">材質分析</td>
                  <td rowspan="12"><a href="../../documents/f1501_520.html">FT-IR</a>、NMR（1H、13C）、<a href="../../documents/an1316_520.html">Py-GC/MS</a> </td>
                  <td><a href="../../documents/p333_141.html">FT-IR によるエポキシ樹脂の硬化率測定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o359_141.html">FT-IRを用いた分析例－ポリマーの種類の判定－</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o546_141.html">IR測定法（ATR法）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o550_141.html">IR測定法（顕微透過反射法）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/s503_141.html">顕微ラマン分光分析によるポリマーの定性</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/s502_141.html">顕微ラマン分光分析によるタンパクとナイロンの識別</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p264_141.html">Py-GC/MSによる黒色物中のバインダー樹脂の定性</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o444_141.html">Py-GC/MSによる導電性ポリマー（ポリフェニレンスルファイド）の定性分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p299_141.html">GC/MS［EI］とGC/MS［FI］を併用したアクリルモノマーの分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c002_141.html">PET（ポリエステル）樹脂中のオリゴマーの分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/f063_141.html">顕微IRイメージングによるラミネートフィルムの組成分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o553_141.html">ナイロン加熱処理品のIRイメージング測定</a></td>
                </tr>
                <tr>
                  <td rowspan="15">ポリマー構造解析</td>
                  <td rowspan="15">NMR（1H、13C）、化学分解-GC/MS、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                  <td><a href="../../documents/p275_141.html">1H-NMR分光法による無水マレイン酸グラフトポリオレフィンのグラフト率高感度定量分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c024_141.html">化学反応および<sup>1</sup>H-NMRを組合せた無水マレイン酸グラフトポリオレフィンの極微量グラフト構造解析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c026_141.html">NMRによる無水マレイン酸グラフトポリオレフィンのモノマーおよびオリゴマーグラフト構造の識別</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c016_141.html">誘導体化および13C-NMRによるポリブタジエンの長鎖分岐解析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p265_141.html">ポリエステルの13C-NMRによる構造決定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c017_141.html">メラミン樹脂の詳細構造解析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p267_141.html">液晶ポリエステルの熱分解同時誘導体化法による構造決定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/f096_141.html">反応管を用いた熱分解GC/MS法によるPBTの分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p266_141.html">ポリエステルの加メタノール分解による構造決定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p221_141.html">加水分解法によるポリマーの構造解析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c003_141.html">酸分解法を用いたポリエステル中ジカルボン酸の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o455_141.html">ポリ乳酸のD体、L体の比率測定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o531_141.html">MALDI-MSによる合成高分子の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o544_141.html">MALDI-MSによるシリコーンオイルの定性とMSイメージング</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/s413_141.html">フッ素系潤滑膜のTOF-SIMS分析</a></td>
                </tr>
                <tr>
                  <td rowspan="11">添加剤分析</td>
                  <td rowspan="11">抽出等前処理、<a href="../../documents/o1502_520.html">GC/MS</a>、<a href="../../documents/c0601_520.html">LC/MS</a></td>
                  <td><a href="../../documents/o389_141.html">GC/MSによるポリオレフィン中の添加剤の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p343_141.html">マイクロ抽出法による多層フィルムの添加剤分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c025_141.html">高分子添加剤のマイクロ抽出分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o445_141.html">GC/MS（FI）法による混合物の分子イオン測定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p258_141.html">LC/TOF MSによる高分子添加剤（フェノール骨格含有）の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p258_141.html">プラスチック成型品中の色素の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p308_141.html">ポリプロピレン複合材料の分別－NMR・GPC分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/f081_141.html">ASAP（大気圧固体試料プローブ）による臭素系難燃剤の分析</a></td>
                </tr>
                  <tr>
                  <td><a href="../../documents/p294_141.html">EGA-MS法による樹脂中の添加剤分析</a></td>
                </tr>
                  <tr>
                  <td><a href="../../documents/p297_141.html">プラスチック成型品中の難燃剤の分析</a></td>
                </tr>
                  <tr>
                    <td><a href="../../documents/p300_141.html">炭素繊維に塗布されるサイジング剤分析</a></td>
                  </tr>  
                <tr>
                  <td rowspan="5">全組成分析（ポリマー、添加剤）</td>
                  <td rowspan="5">抽出等前処理、<a href="../../documents/o1502_520.html">GC/MS</a>、<a href="../../documents/c0601_520.html">LC/MS</a>、NMR（1H、13C）、化学分解-GC/MS</td>
                  <td><a href="../../documents/p276_141.html">ポリプロピレンコンパウンドの分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p303_141.html">自動車用ポリプロピレン複合材料の分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o412_141.html">ポリアミド系エンプラ材料の組成分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p296_141.html">ポリカーボネート（PC）の全分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p302_141.html">UV硬化塗料の組成分析</a></td>
                </tr>
                <tr>
                  <td>加熱発生ガス分析</td>
                  <td><a href="../../documents/an1316_520.html">Py-GC/MS</a> 、TCT-GC/MS</td>
                  <td><a href="gas.html">加熱発生ガス分析（詳細） </a></td>
                </tr>
                <tr>
                  <td rowspan="5">トラブルシューティング<br>
                    （異物、着色、臭気）</td>
                  <td rowspan="5"><a href="../../documents/f1502_520.html">顕微FT-IR</a>、<a href="../../documents/s0501_520.html">SEM</a>、<a href="../../documents/s1403_530.html">EPMA</a>、HS-GC/MS</td>
                  <td><a href="foreign_substance.html">異物分析（詳細）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/f080_141.html">IRイメージング法による微小異物の分析（3）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/se103_141.html">カールフィッシャー水分測定（容量滴定法）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/o396_141.html">BHT着色物の構造解析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/c004_141.html">ポリエチレン劣化構造の1H-NMR解析</a><img src={IMG_PATH + "/service/up.gif"} alt="更新"></td>
                </tr>
              </tbody>
            </table>

            <h2 id="form-observation" class="h2-service">高分子材料の形態観察と物性評価 </h2>
            <p>高分子材料の内部や表面の微細構造、結晶構造・非晶構造の観察、および成形品断面の樹脂流れの観察による成形加工性評価と、規格に基づく機械的特性、電気的特性、耐環境特性、成形性などの試験をおこないます。<br>組織、結晶、高次構造、混合状態の解析には、電子顕微鏡、核磁気共鳴装置、Ｘ線回折装置などを、また、構造と力学的特性の関係には動的粘弾性装置を用いるなど多彩な機器を用います。</p>
            <h3 class="h3-service-list">形態観察</h3>
            <table class="tbl-service-doc">
                <tbody><tr>
                  <th class="th-service-doc-section" scope="col">分析項目</th>
                  <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                  <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-top" rowspan="13">組織、結晶、高次構造、混合状態の解析<br>
                    （表面・内部の微細構造、モルホロジー観察）</td>
                  <td rowspan="32"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/m1701_550.html">TEM/STEMトモグラフィ</a>、<a href="../../documents/s0501_520.html">SEM</a>、FIB-SEM、OM、<a href="../../documents/an1368_550.html">SPM</a></td>
                  <td class="td-service-doc-sub-top"><a href="../../documents/s493_141.html">SEMによる各種試料の観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m221_141.html">セルロースのSEM観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m223_141.html">セルロースナノファイバー(CNF)のSEM およびSTEM 観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p334_141.html">セルロースナノファイバー(CNF)複合材料のTEM 観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m225_141.html">セルロースナノファイバー(CNF)複合材料の3D-STEM観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m228_141.html">FIB-SEMによるセルロースナノファイバー(CNF)複合材料の3D解析</a></td>
                </tr>
                <tr>
                    <td class="td-service-doc-sub"><a href="../../documents/m249_141.html">複合材中のセルロースナノファイバー(CNF)三次元解析</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m239_141.html">テンプレートマッチングによる三次元繊維セグメンテーション</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m246_141.html">ガラス繊維強化プラスチック（GFRP）の繊維配向解析</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p243_141.html">ゴム中のフィラーの3D-TEM観察と元素マッピング</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m220_141.html">炭素繊維強化プラスチックのEELSラインプロファイル測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m222_141.html">電子回折法を用いた炭素繊維の積層構造の評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s533_141.html">包装容器基材の形態、結晶性および機械特性評価</a></td>
                </tr>
                <tr>
                  <td rowspan="2" class="td-service-doc-sub pd-lt10">ポリマーの微細構造観察</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p189_141.html">カラートナーの断面TEM観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub">
                    <a href="../../documents/s509_141.html">SEMによるEDS元素マッピングの比較</a>
                  </td>
                </tr>
                <tr>
                  <td rowspan="5" class="td-service-doc-sub pd-lt10">ポリマーのミクロ相分離構造観察</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p241_141.html">スチレン系ブロック共重合体の3D-TEM観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s457_141.html">走査型プローブ顕微鏡（SPM）による樹脂試料の機械特性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s541_141.html">走査型プローブ顕微鏡（SPM）によるゴムの劣化分析</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s543_141.html">走査型プローブ顕微鏡（SPM）による粘弾性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p340_141.html">ポリアミドを含む多成分系樹脂のTEM観察</a></td>
                </tr>
                <tr>
                  <td rowspan="6" class="td-service-doc-sub pd-lt10">ポリマーアロイの分散状態観察</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p330_142.html">ポリマーアロイの相分離構造観察 SEM，TEM，SPM の選択</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/m242_141.html">無染色によるポリマーアロイの相分離構造観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s476_141.html">走査型プローブ顕微鏡(SPM)によるポリマーの機械特性測定例</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s542_141.html">画像解析によるSPM弾性率像への形状の影響の対策</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p160_141.html">TEMによるブレンドゴム中のCBの分析</a></td>
                </tr>  
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s418_141.html">EELSによるシリコーン樹脂中のSiO2の分布測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10">劣化観察</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p235_141.html">ポリ塩化ビニル製品の表面劣化形態TEM観察</a></td>
                </tr>
                <tr>
                  <td rowspan="5" class="td-service-doc-sub pd-lt10">破面解析</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p185_141.html">SEMによる破面観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s463_141.html">炭素繊維強化プラスチックの破断面観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s508_141.html">イオン液体を用いたカラーコンタクトレンズ断面のSEM観察</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s461_141.html">断面TEMによる研磨面の評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p325_141.html">破面解析事例</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-top">結晶構造・非結晶構造の観察</td>
                  <td rowspan="2">OM、<a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                  <td class="td-service-doc-sub-top">&nbsp;</td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10">高分子固体・融液の動的粘弾性測定</td>
                  <td class="td-service-doc-sub-bottom"><a href="../../documents/p165_141.html">高分子の球晶構造のSEM観察</a></td>
                </tr>
                <tr>
                  <td rowspan="9"> 表面形状</td>
                  <td rowspan="9"><a href="../../documents/c1002_520.html">デジタルマイクロスコープ</a>、<a href="../../documents/an1368_550.html">SPM</a></td>
                  <td><a href="../../documents/p268_141.html">デジタルマイクロスコープによる印刷物の超高精細観察</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/s524_141.html">冷却加熱ステージを用いた球晶成長のデジタル顕微鏡観察</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p269_141.html">デジタルマイクロスコープによる成形品の形状測定（3D）</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p280_141.html">デジタルマイクロスコープVHX-1000の微分干渉像</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p281_141.html">デジタルマイクロスコープVHX-1000の偏光照明像</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p282_141.html">デジタルマイクロスコープVHX-1000の同軸落射照明像</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/s474_141.html">ピークフォースタッピングモードによる表面形状測定</a></td>
                </tr>
                <tr>
                    <td><a href="../../documents/s525_141.html">デジタル顕微鏡を用いた温度変化を伴うアルミ箔穴の面積測定</a></td>
                </tr>
                <tr>
                    <td><a href="../../documents/s532_141.html">走査型プローブ顕微鏡による高分子フィルムの水中形状観察</a></td>
                </tr>
                </tbody><tbody>
                  <tr>
                    <td class="td-service-doc-sub-top">樹脂流れの観察による成形加工性評価</td>
                    <td rowspan="3">OM、<a href="../../documents/s0501_520.html">SEM</a></td>
                    <td class="td-service-doc-sub-top">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="td-service-doc-sub pd-lt10">成形品断面の樹脂流れ観察</td>
                    <td class="td-service-doc-sub"><a href="../../documents/p216_141.html">樹脂流れの可視化（アロイ材料編）</a></td>
                  </tr>
                  <tr>
                    <td class="td-service-doc-sub-bottom pd-lt10">ポリマー加工品の断面・界面解析</td>
                    <td class="td-service-doc-sub-bottom">&nbsp;</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr>
                    <td>表面の化学結合状態解析</td>
                    <td><a href="../../documents/s1101_540.html">XPS</a></td>
                    <td class="td-service-doc-sub-bottom">
                      <a href="../../documents/s537_141.html">ARXPSによるナノスケール深さ方向分析</a>
                    </td>
                  </tr>
                </tbody>
            </table>
            <h3 class="h3-service-list">物性評価</h3>
            <table class="tbl-service-doc">
                <tbody><tr>
                  <th class="th-service-doc-section" scope="col">分析項目</th>
                  <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                  <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10" rowspan="2">融点、ガラス転移点、結晶化温度</td>
                  <td class="td-service-doc-sub" rowspan="2">DSC、DTA</td>
                  <td class="td-service-doc-sub"><a href="../../documents/p245_141.html">DSCによるポリマーの比熱容量測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p293_141.html">リアルビューDSC</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10">熱膨張係数</td>
                  <td class="td-service-doc-sub"><a href="../../documents/b1401_570.html">TMA</a></td>
                  <td class="td-service-doc-sub"><a href="../../documents/b110_141.html">調湿TMAを用いたコピー紙の湿度膨張測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10">酸化誘導期間</td>
                  <td class="td-service-doc-sub"></td>
                  <td class="td-service-doc-sub"><a href="../../documents/p201_141.html">PEの酸化誘導時間（OIT）測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub pd-lt10">硬化挙動</td>
                  <td class="td-service-doc-sub"></td>
                  <td class="td-service-doc-sub"><a href="../../documents/p196_141.html">熱硬化性樹脂の硬化挙動測定</a><a href="../../documents/p201_141.html"></a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom pd-lt10">分解挙動</td>
                  <td class="td-service-doc-sub-bottom">TGA、TG-DTA</td>
                  <td class="td-service-doc-sub-bottom"><a href="../../documents/p196_141.html"></a></td>
                </tr>
                <tr>
                  <td rowspan="11">高分子固体・融液の動的粘弾性測定</td>
                  <td rowspan="11">RSA、ARES、レオメーター</td>
                  <td><a href="../../documents/p321_141.html">ポリイミドフィルムの固体動的粘弾性測定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p319_141.html">CFRPの固体動的粘弾性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p320_141.html">ナイロン6シートの固体動的粘弾性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p326_141.html">PET2種の固体動的粘弾性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p327_141.html">PETシートの固体動的粘弾性測定（ねじり）</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p328_141.html">PPの溶融粘弾性測定（周波数依存性測定）</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p329_141.html">溶融ポリマーのマスターカーブ作成と流動の活性化エネルギーの算出</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p336_141.html">PPの最長緩和時間測定による成形性評価（1）</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p337_141.html">PPの最長緩和時間測定による成形性評価（2）</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p345_141.html">ARES-G2（動的粘弾性測定装置）を用いた伸長粘度測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/b119_141.html">水中におけるPETフィルムの動的粘弾性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-top">結晶、高次構造、混合状態の解析</td>
                  <td rowspan="12"><a href="../../documents/x0510_520.html">XRD</a>、<a href="../../documents/c0802_510.html">SAXS</a>、固体NMR、<a href="../../documents/f1501_520.html">FT-IR</a></td>
                  <td class="td-service-doc-sub-top">&nbsp;</td>
                </tr>
                <tr>
                  <td rowspan="11" class="td-service-doc-sub-bottom pd-lt10">結晶性配向性評価</td>
                  <td class="td-service-doc-sub"><a href="../../documents/x185_141.html">密度相関関数によるラメラ厚の推定</a></td>
                </tr>
              
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/x141_141.html">高分子表面の分子鎖配向性評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p247_141.html">ナフィオンの小角Ｘ線散乱測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s529_141.html">小角Ｘ線散乱によるベシクル構造の動径分布解析</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/s530_141.html">小角Ｘ線散乱による架橋構造の動径分布解析</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/x121_141.html">ポリマーシートの深さ制御 IN-Plane回折測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/x175_141.html">Ｘ線回折による結晶化度の算出</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub"><a href="../../documents/p310_115.html">FT-IRによる劣化ポリエチレンの結晶化度の測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom">
                    <a href="../../documents/o556_141.html">加熱IR測定によるポリプロピレンの状態評価</a>
                  </td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub">
                    <a href="../../documents/o557_141.html">N<sub>2</sub>雰囲気でのポリプロピレンの加熱IR測定</a>
                  </td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom"><a href="../../documents/x151_141.html">高分子表面の分子鎖配向性評価（3）</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-top">規格に基づく物性試験</td>
                  <td class="td-service-doc-sub-top">&nbsp;</td>
                  <td class="td-service-doc-sub-top"><a href="../../documents/f042_141.html">ポリマー材料の物性評価（1）</a></td>
                  </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom pd-lt10">プラスチックの物理的性質</td>
                  <td class="td-service-doc-sub-bottom">接触角測定装置</td>
                  <td class="td-service-doc-sub-bottom"><a href="../../documents/f038_141.html">接触角の測定</a></td>
                  </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom">フィルムのガス透過性試験</td>
                  <td class="td-service-doc-sub-bottom">GC</td>
                  <td class="td-service-doc-sub-bottom"><a href="../../documents/p305_141.html">フィルムの有機溶媒ガス透過性試験</a></td>
                  </tr>
              
                <tr>
                  <td class="td-service-doc-sub-bottom" rowspan="3">界面せん断強度 </td>
                  <td class="td-service-doc-sub-bottom" rowspan="3"><a href="../../documents/c1301_520.html">複合材界面特性評価装置</a></td>
                  <td class="td-service-doc-sub"><a href="../../documents/p295_141.html">マイクロドロップレット法による繊維と樹脂の界面せん断強度測定</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p300_141.html">炭素繊維に塗布されるサイジング剤分析</a></td>
                </tr>
                <tr>
                  <td><a href="../../documents/p338_141.html">CFRPの接合界面の評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-sub-bottom" rowspan="9">「微小領域の機械特性評価」</td>
                  <td class="td-service-doc-sub-bottom" rowspan="9">ナノインデンター</td>
                  <td><a href="../../documents/p311_900.html">ナノインデンテーション試験</a></td>
                  </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p331_141.html">微小領域の動的粘弾性測定 ミクロとマクロの比較</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p335_141.html">ナノインデンターによる動的粘弾性の温度依存性測定</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p342_141.html">ナノインデンター及びSPMによる薄膜や微小領域の粘弾性評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p322_141.html">JKR理論を用いた低弾性率粘着層の弾性率と界面エネルギー評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p341_141.html">異方性材料の測定方向の違いによる弾性率評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p344_141.html">ナノインデンターによる薄膜や微小領域の応力-ひずみ曲線の評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p318_900.html">プッシュアウト試験による繊維強化樹脂の界面強度評価</a></td>
                </tr>
                <tr>
                  <td class="td-service-doc-bottom"><a href="../../documents/p339_141.html">プッシュアウト試験による炭素繊維／ポリアミド樹脂の界面強度評価</a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-service-doc {
    tbody tr:first-child th:nth-child(1) {
        width: 270px;
    }

    tbody tr:first-child th:last-child {
        min-width: 350px!important;
    }
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>
