---
import { NAV_LIST } from '../consts';
import publicationsData from '@pages/publications/_publications.json';

const years = ((publicationsData as any)?.years ?? []).slice(1);

interface Props {
	parent?: string; // 親カテゴリー
	parent2?: string; // 子カテゴリー
	parent3?: string; // 孫カテゴリー
	addClass?: string; // 追加クラス
}

const { parent = '', parent2 = '', parent3 = '', addClass = '' } = Astro.props;

// 外部発表のメニューを取得
const Nav = NAV_LIST.find(nav => nav.name === '外部発表') as any;
---
<div class="sidebar_unit">
	<h2 class={`sidebar_title ${parent === Nav?.name ? 'is_active' : ''}`}><a href={`/publications/`}>外部発表（最新）</a></h2>
	<ul class="sidebar_list">
		{years.map((year: any) => (
			<li class="sidebar_item">
				<a href={`/publications/${year.year}.html`} class={`sidebar_item_name js_accordion_trigger ${parent2 === year.year ? 'is_active' : ''}`} data-target={year.year}>{year.year}年度</a>
			</li>
		))}
	</ul>
</div>
<style lang="scss">
@use "@styles/sidebar";
</style>

