---
import { NAV_LIST } from '../consts';

interface Props {
	parent?: string; // 親カテゴリー
	parent2?: string; // 子カテゴリー
	parent3?: string; // 孫カテゴリー
	addClass?: string; // 追加クラス
}

const { parent = '', parent2 = '', parent3 = '', addClass = '' } = Astro.props;

// 会社案内のメニューを取得
const Nav = NAV_LIST.find(nav => nav.name === '会社案内') as any;
---
<div class="sidebar_unit">
	<h2 class={`sidebar_title ${parent === Nav?.name ? 'is_active' : ''}`}><a href={Nav?.link}>会社案内トップ</a></h2>
	<ul class="sidebar_list">
		{Nav?.children?.map((category: any) => {
			// リンクからファイル名(slug)を抽出してdata-targetに使用
			const targetSlug = category.link ? category.link.split('/').pop().replace(/\.html?$/, '') : '';
			const isCategoryActive = parent2 === category.name;
			
			return (
				<li class="sidebar_item">
					<a href={category.link} class={`sidebar_item_name js_accordion_trigger ${isCategoryActive ? 'is_active' : ''}`} data-target={targetSlug}>{category.name}</a>
				</li>
			);
		})}
	</ul>
</div>
<style lang="scss">
@use "@styles/sidebar";
</style>

