---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '物性試験',
	description: '物性試験',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析機能（装置）" subTitle="Analyzer" src="mv/mv-analyzer.webp"/>
    <TitleH1 title="物性試験" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析機能（装置）" parent2="物性試験"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p>工業材料の基本的性質や粉体特性、触媒評価など、様々な物性測定にお応えします。</p>
                <table class="tbl-analyzer">
                    <tbody><tr>
                      <th>装置名</th>
                      <th>略号</th>
                      <th>メーカー</th>
                      <th>型番</th>
                    </tr>
                    <tr>
                      <td><a href="../documents/h0102_570.html">万能試験機</a></td>
                      <td>&nbsp;</td>
                      <td>エー・アンド・デイ</td>
                      <td>RTC-1310A</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/h0402_570.html">シャルピー衝撃試験機</a></td>
                      <td>&nbsp;</td>
                      <td>東洋精機製作所</td>
                      <td>DG-CB</td>
                    </tr>
                    <tr>
                      <td>メルトインデクサー</td>
                      <td>MI</td>
                      <td>東洋精機製作所</td>
                      <td>F-F01</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/h0101_570.html">HDT試験装置</a></td>
                      <td>HDT</td>
                      <td>東洋精機製作所</td>
                      <td>3M-2</td>
                    </tr>
                    <tr>
                      <td>デュロメータ硬度計</td>
                      <td>&nbsp;</td>
                      <td>高分子計器</td>
                      <td>A型、D型</td>
                    </tr>
                    <tr>
                      <td>アッベ屈折計</td>
                      <td>&nbsp;</td>
                      <td>アタゴ</td>
                      <td>RX-7000α</td>
                    </tr>
                    <tr>
                      <td>振動式粘度計</td>
                      <td>&nbsp;</td>
                      <td>エー・アンド・デイ</td>
                      <td>SV-10A</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/h9002_570.html">熱重量測定装置</a></td>
                      <td>TGA</td>
                      <td>島津製作所</td>
                      <td>TGA-50</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b2201_570.html">熱重量示差熱分析装置</a></td>
                      <td>水蒸気導入<br>TG-DTA</td>
                      <td>ネッチ・ジャパン</td>
                      <td>STA2500＋<br>HC9700</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b1401_570.html">熱機械分析装置</a></td>
                      <td>（調湿）TMA</td>
                      <td>ネッチ・ジャパン</td>
                      <td>TMA-4000SE+HC9700</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1303_570.html">高感度示差走査熱量計（熱流束型）</a></td>
                      <td>DSC</td>
                      <td>日立ハイテクサイエンス</td>
                      <td>X-DSC7000</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1401_570.html">固体粘弾性測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>TA Instruments</td>
                      <td>RSA-G2</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1402_570.html">溶融粘弾性測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>TA Instruments</td>
                      <td>ARES-G2</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/i0603_570.html">ガス置換ピクノメータ</a></td>
                      <td>&nbsp;</td>
                      <td>AntonPaar</td>
                      <td>UP-1200e</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b0901_570.html">レーザー回折／散乱式粒子径分布測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>堀場製作所</td>
                      <td>LA-950V2</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b1601_570.html">比表面積・細孔径分析装置</a></td>
                      <td>&nbsp;</td>
                      <td>Quantachrome</td>
                      <td>QUADRASORB evo<sup>TM</sup></td>
                    </tr>
                    <tr>
                      <td><a href="../documents/i0601_570.html">比表面積／細孔分布測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>マイクロトラック・ベル</td>
                      <td>BELSORP-miniII</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/i0301_570.html">水銀ポロシメーター</a></td>
                      <td>&nbsp;</td>
                      <td>Quantachrome</td>
                      <td>PoreMaster 60-GT</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/i0501_570.html">ガス吸着量測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>Quantachrome</td>
                      <td>AS-1-C/VP/TCD/MS</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b0801_570.html">触媒分析装置</a></td>
                      <td>&nbsp;</td>
                      <td>マイクロトラック・ベル</td>
                      <td>BELCAT-B</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b1001_570.html">ゼータ電位・粒子径・分子量測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>Malvern</td>
                      <td>ゼータサイザーナノ ZS</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/b1002_570.html">固体試料用ゼータ電位測定装置</a></td>
                      <td>&nbsp;</td>
                      <td>Anton Paar</td>
                      <td>SurPASS</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1701_570.html">ナノインデンター</a></td>
                      <td>&nbsp;</td>
                      <td>HYSITRON</td>
                      <td>TI Premier Multi Scale</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1301_570.html">複合材界面特性評価装置</a></td>
                      <td>&nbsp;</td>
                      <td>東栄産業</td>
                      <td>HM410</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
