---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '高分子分析',
	description: '高分子分析',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析機能（装置）" subTitle="Analyzer" src="mv/mv-analyzer.webp"/>
    <TitleH1 title="高分子分析" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析機能（装置）" parent2="高分子分析"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p>高分子材料の開発には、ポリマー（高分子）と添加剤の組成・構造解析およびポリマーの分子特性評価が必要です。種々の前処理とクロマトグラフィーを駆使して成分を分離し、多様な分析法によって組成を同定する一方、平均分子量、分子量分布、立体規則性、末端基、結合様式などの分子特性を明らかにします。</p>
                <table class="tbl-analyzer">
                    <tbody><tr>
                      <th>装置名</th>
                      <th>略号</th>
                      <th>メーカー</th>
                      <th>型式</th>
                    </tr>
                    <tr>
                      <td colspan="4" id="composition" class="td-bg-colored txt-em">組成分析と構造解析</td>
                      </tr>
                    <tr>
                      <td colspan="4" class="td-txt-colored txt-em">質量分析計</td>
                      </tr>
                    <tr>
                      <td class="td-analyzer-indent width300"><a href="../documents/o1502_520.html">ガスクロマトグラフ質量分析計</a></td>
                      <td>GC-MS</td>
                      <td>Agilent technologies</td>
                      <td>5977</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/o1501_520.html">ガスクロマトグラフ四重極飛行時間型質量分析計</a></td>
                      <td>GC-Q-TOF/MS</td>
                      <td>Agilent technologies</td>
                      <td>7200B</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/an1316_520.html">熱分解ガスクロマトグラフ質量分析計</a> </td>
                      <td>Py-GC-MS</td>
                      <td>島津製作所<br>
                  フロンティアラボ</td>
                      <td>QP2010 Ultra<br>
                  EGA/PY3030D</td>
                      </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/an1320_520.html">発生ガス質量分析計</a> </td>
                      <td>EGA-MS</td>
                      <td>島津製作所<br>
                  フロンティアラボ</td>
                      <td>QP2010 Ultra<br>
                  EGA/PY3030D</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/o1203_520.html">液体クロマトグラフハイブリッド型質量分析計</a></td>
                      <td>LC-MS/MS</td>
                      <td>Waters</td>
                      <td>SYNAPT G2-S HDMS</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c0601_520.html">液体クロマトグラフ飛行時間型質量分析計</a></td>
                      <td>LC-TOF/MS</td>
                      <td>Bruker Daltonics</td>
                      <td>micro TOF focus</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/o1601_520.html">マトリックス支援レーザー脱離イオン化-タンデム飛行時間型質量分析計</a></td>
                      <td>MALDI-TOF/TOF-MS</td>
                      <td>ブルカー･ダルトニクス</td>
                      <td>rapifleX TOF/TOF</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="td-txt-colored txt-em">核磁気共鳴装置</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/o1803_510.html">核磁気共鳴装置（Cryo Probe付属）</a></td>
                      <td>NMR</td>
                      <td>ブルカー・ジャパン</td>
                      <td>AVANCE NEO 600（本体），5mm DCH 600MHz Z-Gradient（Cryo Probe）</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c2101_520.html">核磁気共鳴装置（溶液NMR）400MHz</a></td>
                      <td>NMR</td>
                      <td>日本電子</td>
                      <td>JNM-ECZ400S</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1001_520.html">核磁気共鳴装置（溶液・固体NMR）400MHz</a></td>
                      <td>NMR</td>
                      <td>日本電子</td>
                      <td>JNM-ECA400</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="td-txt-colored txt-em">フーリエ変換赤外分光光度計</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/f1501_520.html">フーリエ変換赤外分光光度計</a></td>
                      <td>FT-IR<br></td>
                      <td>Agilent Technologies<br></td>
                      <td>Cary670</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/f1502_520.html">フーリエ変換顕微赤外分光光度計</a></td>
                      <td>顕微FT-IR</td>
                      <td>Agilent Technologies</td>
                      <td>Cary620</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent">フーリエ変換赤外分光光度計</td>
                      <td>FT-IR</td>
                      <td>Agilent Technologies</td>
                      <td>3100</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/an1370_520.html">フーリエ変換赤外分光法<br>
                      <span style="text-decoration:none">　</span>シールド加熱ダイヤモンド ATR</a></td>
                      <td>&nbsp;</td>
                      <td>Specac</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="td-txt-colored txt-em">Ｘ線装置、レーザラマン分光装置 他</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/x0510_520.html">試料水平型回転対陰極式多目的Ｘ線回折装置</a></td>
                      <td>XRD</td>
                      <td>リガク</td>
                      <td>RINT-TTRIII</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c0802_520.html">小角Ｘ線散乱装置</a></td>
                      <td>SAXS</td>
                      <td>リガク</td>
                      <td>NANO-Viewer</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent">熱分析装置</td>
                      <td>DSC、TGA</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/s0801_520.html">顕微レーザラマン分光装置</a></td>
                      <td>RAMAN</td>
                      <td>日本分光</td>
                      <td>NRS-3300</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1702_520.html">高温ゲル浸透クロマトグラフ</a></td>
                      <td>高温GPC</td>
                      <td>Agilent</td>
                      <td>PL-GPC220</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent">ゲル浸透クロマトグラフ（TDS付き）</td>
                      <td>GPC</td>
                      <td>東ソー<br>
                        Viscotek</td>
                      <td>HLC8220<br>
                      TDA302</td>
                    </tr>
                    <tr>
                      <td id="form-observation" colspan="4" class="td-bg-colored txt-em">形態観察と物性評価</td>
                      </tr>
                    <tr>
                      <td class="td-analyzer-indent">核磁気共鳴装置（固体NMR）400MHz</td>
                      <td>固体NMR</td>
                      <td>日本電子</td>
                      <td>JNM-ECA400</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1401_570.html">固体粘弾性測定装置</a></td>
                      <td></td>
                      <td>TA Instruments</td>
                      <td>RSA-G2</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1303_520.html">高感度示差走査熱量計（熱流束型）</a></td>
                      <td>DSC</td>
                      <td>日立ハイテクサイエンス</td>
                      <td>X-DSC7000</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/b1401_570.html">熱機械分析法</a></td>
                      <td>（調湿）TMA</td>
                      <td>ネッチ・ジャパン</td>
                      <td>TMA-4000SE+HC9700</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/s0501_520.html">電界放射形走査電子顕微鏡</a></td>
                      <td>FE-SEM</td>
                      <td>日立製作所</td>
                      <td>S-4800</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/s0502_520.html">電界放射形走査電子顕微鏡</a></td>
                      <td>FE-SEM</td>
                      <td>日本電子</td>
                      <td>JSM-7000F</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1002_520.html">デジタルマイクロスコープ</a></td>
                      <td>&nbsp;</td>
                      <td>キーエンス</td>
                      <td>VHX-1000</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent">光学顕微鏡</td>
                      <td>OM</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c2001_550.html">回転式ミクロトーム</a></td>
                      <td>&nbsp;</td>
                      <td>ライカマイクロシステムズ</td>
                      <td>HistoCore<br>AUTOCUT R</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent">万能力学試験機</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="td-analyzer-indent"><a href="../documents/c1301_520.html">複合材界面特性評価装置</a></td>
                      <td></td>
                      <td>東栄産業</td>
                      <td>HM410</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
