---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '安全性試験',
	description: '安全性試験',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析機能（装置）" subTitle="Analyzer" src="mv/mv-analyzer.webp"/>
    <TitleH1 title="安全性試験" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析機能（装置）" parent2="安全性試験"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="p-width-fix710">微生物や動物細胞を用いた化学物質の安全性試験として、エームス（Ames）試験、染色体異常試験、マウスリンフォーマTK試験等の<em>in vitro</em>遺伝毒性試験を薬事法、化審法、安衛法の各GLP対応にて実施しています。さらに関連する試験として、被験物質分析試験、細胞毒性試験、高分子フロースキーム試験（申請代行可）等を実施しております。</p>
                <table class="tbl-analyzer">
                    <tbody><tr>
                      <th>装置名</th>
                      <th>略号</th>
                      <th>メーカー</th>
                      <th>型番</th>
                    </tr>
                    <tr>
                      <td>自動コロニーカウンター</td>
                      <td>&nbsp;</td>
                      <td>システムサイエンス</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>染色体観察システム</td>
                      <td>&nbsp;</td>
                      <td>日本ローパー</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>マイクロプレートリーダー</td>
                      <td>&nbsp;</td>
                      <td>TECAN</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>落射蛍光顕微鏡</td>
                      <td>&nbsp;</td>
                      <td>オリンパス</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>倒立移相差顕微鏡</td>
                      <td>&nbsp;</td>
                      <td>オリンパス</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>実体顕微鏡</td>
                      <td>&nbsp;</td>
                      <td>オリンパス</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>全有機炭素計</td>
                      <td>TOC</td>
                      <td>島津製作所</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>液体クロマトグラフ</td>
                      <td>HPLC</td>
                      <td>Agilent technologies</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>ガスクロマトグラフ</td>
                      <td>GC</td>
                      <td>島津製作所</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>カールフィッシャー水分測定装置</td>
                      <td>&nbsp;</td>
                      <td>京都電子工業</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>紫外可視分光光度計</td>
                      <td>UV/VIS</td>
                      <td>島津製作所</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>セルカウンター</td>
                      <td>&nbsp;</td>
                      <td>バイオラッド</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/q1701_560.html">粉体封じ込め（コンテインメント）秤量システム</a></td>
                      <td>&nbsp;</td>
                      <td>a1-Safetech</td>
                      <td>ST1-900CV3/S-110</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/se102_560.html">カールフィッシャー水分計</a></td>
                      <td>KF</td>
                      <td>京都電子工業</td>
                      <td>MKC-610<br>
                        MKA-610<br>
                        ADP-611</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/se087_560.html">カールフィッシャー法による水分測定（Q&amp;A：よくある質問）</a></td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
