---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '表面分析',
	description: '表面分析',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析機能（装置）" subTitle="Analyzer" src="mv/mv-analyzer.webp"/>
    <TitleH1 title="表面分析" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析機能（装置）" parent2="表面分析"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p>表面・界面のnm領域を中心に、多様な装置（XPS／AES／TOF‑SIMS／EPMA・SEM／SPM）を組み合わせて多面的に解析します。<br>汚染・酸化・偏析・密着不良・劣化・異物などの原因を、前処理（断面作製）やGCIB等の低ダメージ深さ分析、必要に応じた非暴露ハンドリングも含めて“対策に繋がる結論”まで導きます。</p>
                <table class="tbl-analyzer">
                    <tbody><tr>
                      <th>装置名</th>
                      <th>略号</th>
                      <th>メーカー</th>
                      <th>型番</th>
                    </tr>
                    <tr>
                      <td>多機能走査型Ｘ線光電子分光装置（VersaProbe）</td>
                      <td rowspan="2">XPS/ESCA、UPS</td>
                      <td rowspan="2">ULVAC-PHI</td>
                      <td rowspan="2">PHI5000 VersaProbeII</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="../documents/s526_540.html">X線光電子装置用前処理装置 (VersaPrep)</a>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s9702_540.html">走査型Ｘ線光電子分光装置</a></td>
                      <td>XPS/ESCA</td>
                      <td>ULVAC-PHI</td>
                      <td>QuanteraⅡ</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="../documents/s0003_540.html">走査型オージェ電子分光装置 (SMART-200)</a>
                      </td>
                      <td>SMART</td>
                      <td>ULVAC-PHI</td>
                      <td>SMART-200</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s0701_540.html">飛行時間型二次イオン質量分析計</a></td>
                      <td>TOF-SIMS</td>
                      <td>ULVAC-PHI</td>
                      <td>TRIFT V</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s1403_540.html">電子線マイクロアナライザー</a></td>
                      <td>FE-EPMA</td>
                      <td>日本電子</td>
                      <td>JXA-8530F</td>
                      </tr>
                    <tr>
                      <td><a href="../documents/s0501_540.html">電界放射形走査電子顕微鏡</a></td>
                      <td>FE-SEM</td>
                      <td>日立製作所</td>
                      <td>S-4800</td>
                      </tr>
                    <tr>
                      <td><a href="../documents/s0502_540.html">電界放射形走査電子顕微鏡</a></td>
                      <td>FE-SEM</td>
                      <td>日本電子</td>
                      <td>JSM-7000F</td>
                      </tr>
                    <tr>
                      <td><a href="../documents/m1302_540.html">走査型電子顕微鏡</a></td>
                      <td>SEM</td>
                      <td>日本電子</td>
                      <td>JSM-7800F</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/c1305_540.html">低真空走査電子顕微鏡</a></td>
                      <td>SEM</td>
                      <td>日本電子</td>
                      <td>JSM-6460LA</td>
                    </tr>
                    <tr>
                    </tr><tr>
                      <td><a href="../documents/s1601_540.html">高感度SEM用EDS検出器</a></td>
                      <td>EDS</td>
                      <td>ブルカー・エイエックス</td>
                      <td>XFlash®5060FQ</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/m1303_540.html">電子後方散乱回折</a></td>
                      <td>EBSD</td>
                      <td>TSL</td>
                      <td>OIM</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/m1304_540.html">透過電子後方散乱回折</a></td>
                      <td>t-EBSD</td>
                      <td>TSL</td>
                      <td>OIM</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/an1368_540.html">走査型プローブ顕微鏡法</a></td>
                      <td>SPM</td>
                      <td>ブルカー製</td>
                      <td>MultiMode8（NanoScope V）</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s1901_540.html">走査型プローブ顕微鏡法<br>（Dimension XR）</a></td>
                      <td>SPM</td>
                      <td>ブルカージャパン</td>
                      <td>Dimension XR</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s0801_540.html">顕微レーザラマン分光装置</a></td>
                      <td>RAMAN</td>
                      <td>日本分光</td>
                      <td>NRS-3300</td>
                    </tr>
                    <tr>
                      <td><a href="../documents/s1405_540.html">大気非曝露冷却クロスセクションポリッシャ</a></td>
                      <td>CP</td>
                      <td>日本電子</td>
                      <td>IB-09020CP</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="../documents/s0901_540.html">卓上傾斜切削機</a>
                      </td>
                      <td>&nbsp;</td>
                      <td>NEAT</td>
                      <td>&nbsp;</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-analyzer {
  tr:first-of-type th:first-of-type {
    min-width: 100px;
  }

  tr:first-of-type th:last-of-type {
    min-width: 230px;
  }
}
</style>
