---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '社名（商号）変更のお知らせ',
	description: '社名（商号）変更のお知らせ',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="社名（商号）変更のお知らせ" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">2024年11月18日</p>
                <p>株式会社UBE科学分析センターは、2025年4月1日に社名を「株式会社DNP科学分析センター」に変更いたします。新社名になりましても業務内容に変更なく、これまでと変わらず、技術力向上に努め、徹底した情報管理を行ってまいりますので、今後とも変わらぬご愛顧を賜りますようお願い申し上げます。</p>
                <table class="tbl-news mgn-btm30">
                    <tbody>
                    <tr>
                        <th>新社名</th>
                        <td>
                        株式会社DNP科学分析センター<br>
                        英文表記：DNP Scientific Analysis Center, Inc.
                        </td>
                    </tr>
                    <tr>
                        <th>変更日</th>
                        <td>2025年4月1日</td>
                    </tr>
                    </tbody>
                </table>
                <p class="mgn-btm30">当社は2024年4月1日に大日本印刷株式会社（DNP）とUBE株式会社の合弁会社として新たなスタートを切りました。これまではUBEグループの素材開発支援で培ってきた素材の分析・解析技術を活かし、お客様の課題解決をサポートさせていただいておりましたが、今後はさらに、「加工技術」を強みとするDNPによって培われた技術との連携を深化させ、素材開発から加工・製品化に至る幅広い領域での課題解決に貢献できる企業を目指す決意を示すため、社名を変更することといたしました。</p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
