---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '高分解能型誘導結合プラズマ質量分析装置（HR-ICP-MS）を更新',
	description: '高分解能型誘導結合プラズマ質量分析装置（HR-ICP-MS）を更新',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="高分解能型誘導結合プラズマ質量分析装置（HR-ICP-MS）を更新" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">平成25年1月4日</p>
                <div class="clearfix mgn-rt10">
                <img src={IMG_PATH + "information/info_hr-icp-ms_01.jpg"} alt="写真：高分解能型誘導結合プラズマ質量分析装置（HR-ICP-MS）" class="flt-right mgn-lt50 mgn-rt10">
                <p>無機組成分析研究室では、高分解能型誘導結合プラズマ質量分析装置（HR-ICP-MS）を更新しました。
                    <br>
                    （サーモフィッシャーサイエンティフィック社製 ELEMENT XR）</p>
                <p>HR-ICP-MS装置では、金属元素をはじめ、非金属元素であるリンやケイ素の極微量分析が可能です。希土類元素など一部の元素については、fg/mL (ppq）レベルの分析も可能です。また、複雑な組成を有する溶液中の微量元素の分析に対して高分解能条件下での測定が可能であるため、より信頼性の高いデータが得られる特長があります。半導体関連材料、電池材料、セラミックス材料中の極微量元素の分析に威力を発揮します。</p>
                </div>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
