---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: 'システムメンテナンスのお知らせ',
	description: 'システムメンテナンスのお知らせ',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="システムメンテナンスのお知らせ" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">2017年12月1日</p>
                <p>平素は、当社ホームページをご利用いただきありがとうございます。</p>
                <p>&nbsp;</p>
                <p>システムメンテナンス作業のため、下記の期間、当社ホームページを閲覧できません。</p>
                <p>ご迷惑をおかけ致しますが、何卒ご理解ご協力のほどよろしくお願いいたします。</p>
                <h2>停止日時</h2>
                <p>2017年12月17日（日）　AM 09：00 ～ PM 13：00</p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
