---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '成形加工シンポジア’16で特別賞受賞',
	description: '成形加工シンポジア’16で特別賞受賞',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="成形加工シンポジア’16で特別賞受賞" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">2016年11月1日</p>
                <p>2016年10月26日、27日に開催された成形加工シンポジア’16で、当社社員が「特別賞」を受賞しました。</p>
                
                <table class=" tbl-news mgn-lt80">
                <tbody><tr>
                    <th>学会名</th>
                    <td>成形加工シンポジア’16</td>
                </tr>
                <tr>
                <th>受賞名</th>
                <td>特別賞</td>
                </tr>
                <tr>
                <th>受賞者</th>
                <td>堀口 高英、星野 拓也</td>
                </tr>
                <tr>
                <th>受賞日</th>
                <td>2016年10月26日</td>
                </tr>
                <tr>
                <th>受賞題目</th>
                <td>無水マレイン酸変性ポリエチレン/ナイロン6のヒートシール界面における接着メカニズム解析</td>
                </tr>
                <tr>
                <th>主催</th>
                <td>一般社団法人プラスチック成型加工学会</td>
                </tr>
                </tbody></table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
