---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '社名変更のお知らせ',
	description: '社名変更のお知らせ',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="社名変更のお知らせ" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">平成23年4月1日</p>
                <p>弊社儀4月1日付を以ちまして正式社名を下記のように改称することとなりましたのでお知らせ申し上げます。</p>
                <hr class="hr-mgn-btm10">
                <ul class="mgn-lt100 font-large">
                    <li><strong>新社名 ： 株式会社UBE科学分析センター</strong></li>
                    <li>旧社名 &nbsp;： 株式会社ユービーイー科学分析センター</li>
                </ul>
                <hr class="hr-mgn-btm20">
                <p class="mgn-lt100">〒105-6791<br>
                東京都港区芝浦1丁目2番1号シーバンスＮ館<br>
                TEL：03-5419-6333（ダイヤルイン）<br>
                FAX：03-5419-6334<br>
                <br>
                ※住所、TEL・FAX番号は従来通りです。</p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
