---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
const meta = {
	title: '大阪営業部移転のお知らせ',
	description: '大阪営業部移転のお知らせ',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="インフォメーション" subTitle="Information" src="mv/mv-topics.webp" />
    <TitleH1 title="大阪営業部移転のお知らせ" />
    <div class="main">
        <Inner>
            <div id="main-column1">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <p class="txt-right">平成23年8月18日</p>
                <p>この度、下記の通り事務所を移転することになりました。つきましては、移転を機に皆様のご期待に添えるよう一層努力いたす所存でございますので、引き続き倍旧のご支援ご鞭撻を賜りますようお願い申し上げます。</p>
                <h3 class="h3-news">1.移転先</h3>
                <p>〒530-0003<br>
                大阪市北区　堂島一丁目6番20号　堂島アバンザ 20F<br>
                TEL：06-6346-2853<br>
                FAX：06-6346-1763<br>
                <br>
                ※TEL・FAX番号は従来通りです。</p>

                <h3 class="h3-news">2.営業開始日</h3>
                <p>8月18日（木）より営業を開始しました。</p>
                <h3 class="h3-news">3.アクセス</h3>
                <p>地図は <a href={BASE_DIR + "profile/office.html#osaka"}>こちらから</a> ご確認ください。</p>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>
