---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: 'クリーンルーム環境',
	description: '',
}

const contentsList = [
    { num: 1, txt: '大気分析', href: '#air' },
    { num: 2, txt: 'コンタミネーション分析', href: '#contami' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="クリーンルーム環境" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="エレクトロニクス" parent3="クリーンルーム環境"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/electronics_clean_room_01.webp"}
                    alt="クリーンルーム環境"
                    lead="クリーンルームは半導体製品、フラットパネル、太陽電池、マイクロマシンなどの製造工場においては必須の設備となっています。これは製品製造の各工程において、塵埃が重大な欠損を引き起こし不良が発生するため、清浄空間での作業が必要とされるからです。クリーンルームの清浄度は製品製造における品質管理上の重要な評価項目の一つです。<br>弊社では、経験豊富な技術者がサンプリングにお伺いし、微量有機成分、微量無機成分の分析を致します。"
                />
                <Contents list={contentsList} />
                <h2 id="air" class="h2-service">大気分析</h2>
                <p>クリーンルームの評価には、空気中の無機系微粒子のほか、クリーンルーム構成材、デバイス製造装置、人体から発生する有機系化合物などがあります。弊社はこれら対象物質を高感度に、迅速に分析いたします。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="2">微量有機成分</td>
                      <td rowspan="2">TDS-GC/MS、<a href="../../documents/an1319_510.html">TDS-MS</a>、<br><a href="../../documents/o1802_510.html">TCT-GC/MS</a></td>
                      <td><a href="../../documents/o200_127.html">実験室大気中の微量有機物分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o202_127.html">TCT-GC/MSによる揮散ガス中の極微量有機物の分析</a></td>
                    </tr>
                    <tr>
                      <td>微量無機成分</td>
                      <td><a href="../../documents/an1602_530.html">ICP-MS</a>、IC（1）、<a href="../../documents/i0801_530.html">IC（2）</a>、CE</td>
                      <td>ICP-MS、ICによるクリーンルーム大気の微量無機成分の分析</td>
                    </tr>
                    </tbody>
                </table>
                <h2 id="contami" class="h2-service">コンタミネーション分析</h2>
                <p>クリーンルームの評価とは別に製品の汚染（コンタミネーション）の評価も重要な分析項目です。製品汚染には無機成分や有機成分による汚染があり、弊社は、これらのケミカル汚染の状況を高感度に分析いたします。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>微量有機成分</td>
                      <td>TDS-GC/MS、<a href="../../documents/an1319_510.html">TDS-MS</a>、TCT-GC/MS</td>
                      <td><a href="../../documents/o201_127.html">クリーンルーム大気中の有機物とシリコンウエハ上汚染有機物との比較</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">微量無機成分</td>
                      <td rowspan="2"><a href="../../documents/an1602_530.html">ICP-MS</a>、IC（1）、<a href="../../documents/i0801_530.html">IC（2）</a>、CE</td>
                      <td><a href="../../documents/i110_127.html">ICP-MS によるシリコンウエハ表面の金属不純物の定量</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i379_127.html">ICP-MS/MSによる超純水中の硫黄の高感度分析</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-service-doc {
  tbody tr:first-child th:nth-child(1) {
    min-width: 170px!important;
  }

  tbody tr:first-child th:last-child {
    min-width: 430px!important;
  }
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>