---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: 'ディスプレイ',
	description: '',
}

const contentsList = [
    { num: 1, txt: 'LCD', href: '#lcd' },
    { num: 2, txt: '有機EL', href: '#organic-el' },
];

---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="ディスプレイ" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="エレクトロニクス" parent3="ディスプレイ"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/display_01.webp"}
                    alt="ディスプレイ"
                    lead="高精細化・低消費電力化・長寿命化が求められる現在のディスプレイ開発では、微細パターンの均一性確保、材料劣化の早期検出、生産ラインでの歩留まり改善など、多くの技術課題が顕在化しています。DNP科学分析センターは、長年蓄積した液晶・有機EL材料評価、デバイス故障解析、異物・界面分析の専門技術を活かし、開発から量産までの課題解決を強力に支援します。"
                />
                <Contents list={contentsList} />
                <h2 id="lcd" class="h2-service">LCD</h2>
                <p>液晶ディスプレイ（LCD）は、2枚のガラス板の間に液晶物質を挟み、電圧をかけることによって液晶分子の向きを変え、光の透過率を増減させることで像を表示する構造になっています。<br>弊社はLCDデバイスの故障解析に経験と高い技術を有しており、FPDの開発に貢献しております。
                </p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                  <tbody><tr>
                    <th class="th-service-doc-section" scope="col">分析項目</th>
                    <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                    <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                  </tr>
                  <tr>
                    <td>表面組成・化学状態</td>
                    <td>XPS</td>
                    <td><a href="../../documents/s392_122.html">XPS価電子帯スペクトルによる材料評価</a></td>
                  </tr>
                  <tr>
                    <td>有機膜の分子構造</td>
                    <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                    <td><a href="../../documents/s370_122.html">クラスター型一次イオンを用いた有機顔料の分析</a></td>
                  </tr>
                  <tr>
                    <td>表面汚染</td>
                    <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                    <td>TOF-SIMSによるLCD材料の分析</td>
                  </tr>
                  <tr>
                    <td>多層構造</td>
                    <td>AES</td>
                    <td>オージェによるLCDのデプスプロファイル測定</td>
                  </tr>
                  <tr>
                    <td rowspan="2">断面層構造</td>
                    <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                    <td><a href="../../documents/s400_122.html">傾斜切削法を用いた有機感光体（OPC）のTOF-SIMS分析（1）</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/s401_122.html">傾斜切削法を用いた有機感光体（OPC）のTOF-SIMS分析（2）</a></td>
                  </tr>
                  <tr>
                    <td rowspan="3">結晶構造</td>
                    <td rowspan="3">XRD</td>
                    <td><a href="../../documents/x141_122.html">高分子表面の分子鎖配向性評価（1）</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/x142_122.html">高分子表面の分子鎖配向性評価（2）</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/x151_122.html">高分子表面の分子鎖配向性評価（3）</a></td>
                  </tr>
                  <tr>
                    <td rowspan="2">欠陥解析</td>
                    <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                    <td><a href="../../documents/s380_122.html">結晶性粒界構造の解析</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/s381_122.html">アモルファス粒界構造の解析</a></td>
                  </tr>
                  <tr>
                    <td rowspan="3">異物分析</td>
                    <td rowspan="3"><a href="../../documents/f1501_510.html">FT-IR</a>、AES</td>
                    <td><a href="../../documents/o291_122.html">顕微IRマッピング法による材料表面の分析</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/f080_122.html">IRイメージング法による微小異物の分析（3）</a></td>
                  </tr>
                  <tr>
                    <td><a href="../../documents/s182_122.html">オージェによる異物断面の分析</a></td>
                  </tr>
                  </tbody>
                </table>

                <h2 id="organic-el" class="h2-service">有機EL</h2>
                <p>有機ELディスプレイは、電気を流すと光る性質をもった有機物質(発光体)を使ったディスプレイで、自発光で見やすく、省電力、高速応答であるという特徴を持っています。有機ELの研究開発には、有機成分の組成や構造を詳細に調べなければなりませんが、弊社は有機成分の構造解析に強みを持っており、有機ELの研究開発に大きく貢献いたします。
                </p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>表面組成・化学状態</td>
                      <td>XPS</td>
                      <td>XPSによる有機薄膜分析</td>
                    </tr>
                    <tr>
                      <td rowspan="3">有機膜の分子構造</td>
                      <td>NMR</td>
                      <td>有機EL材料の構造解析</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../../documents/s240_122.html">TOF-SIMSによるEL材料の分析</a></td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td><a href="../../documents/o449_122.html">ASAP（質量分析用大気圧固体試料プローブ）による有機EL材料の分析</a></td>
                    </tr>
                    <tr>
                      <td>有機膜の組成分析</td>
                      <td><a href="../../documents/an1316_510.html">Py-GC/MS</a></td>
                      <td><a href="../../documents/o282_122.html">熱分解GC/MSによる有機EL化合物錯体系の構造解析</a></td>
                    </tr>
                    <tr>
                      <td>表面汚染</td>
                      <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../../documents/s216_122.html">TOF-SIMSによるカラーフィルタ表面の分析</a></td>
                    </tr>
                    <tr>
                      <td>多層構造</td>
                      <td>AES</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td rowspan="2">断面層構造</td>
                      <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/m262_122.html">FIB-STEM法を用いた有機ELディスプレイの分析</a></td>
                    </tr>
                    <tr>
                      <td>有機EL膜の異物分析</td>
                    </tr>
                    <tr>
                      <td>断面の結晶構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM-ED</a></td>
                      <td>異物の構造解析</td>
                    </tr>
                    <tr>
                      <td>異物分析</td>
                      <td><a href="../../documents/f1501_510.html">FT-IR</a></td>
                      <td><a href="../../documents/f058_122.html">ＩＲイメージング法による微小異物の分析</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>