---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '記録媒体',
	description: '',
}

const contentsList = [
    { num: 1, txt: 'HDD', href: '#hdd' },
    { num: 2, txt: 'DVD、CD', href: '#dvd' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="記録媒体" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="エレクトロニクス" parent3="記録媒体"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/record_01.webp"}
                    alt="記録媒体"
                    lead="高密度化・高速化が進む記憶媒体開発では、材料組成のばらつき、薄膜界面の微小欠陥、磁性層の均一性など、歩留まりと信頼性に直結する課題が増大しています。当センターは磁性粒子・磁化膜の構造解析に加え、微細欠陥の三次元可視化や界面状態評価など多角的な解析技術を保有。製品性能低下の根因特定からプロセス改善まで、研究開発と量産現場を強力に支援します。"
                />
                <Contents list={contentsList} />
                <h2 id="hdd" class="h2-service">HDD</h2>
                <p>ハードディスクの記録密度は水平磁化から垂直磁化になって、飛躍的に高まってきました。今後はさらに高密度化を図るためディスクリートメディア、パターンドメディアが開発されようとしています。弊社はハードディスクの開発研究を深い経験と高い技術でサポートいたします。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>表面組成・化学状態</td>
                      <td>XPS</td>
                      <td>DLC膜の状態分析</td>
                    </tr>
                    <tr>
                      <td>表面潤滑膜</td>
                      <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td><a href="../../documents/s413_123.html">フッ素系潤滑膜のTOF-SIMS分析</a></td>
                    </tr>
                    <tr>
                      <td>断面の結晶構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM-ED</a></td>
                      <td>NBD観察による結晶方位の決定</td>
                    </tr>
                    <tr>
                      <td>欠陥解析</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/s250_123.html">STEM-EDSによるマッピング測定</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">粒径の分布</td>
                      <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/s410_123.html">画像解析による粒界層の解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s335_123.html">粒子径解析ソフトの応用</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">粒界組成</td>
                      <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/m238_123.html">垂直磁気記録媒体の断面および平面構造解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/pr0923a_123.html">HDD（ハードディスクドライブ）媒体の粒界解析</a></td>
                    </tr>
                    </tbody>
                </table>
                <h2 id="dvd" class="h2-service">DVD、CD</h2>
                <p>DVD、CDはリムーバブルな大容量記録媒体として、広く普及していますが、ブルーレイディスクが登場し、ディスク構造も多層で緻密になってきました。弊社はディスクの記録層だけでなく、高分子層の分析も広く行っております。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="2">表面組成・化学状態</td>
                      <td rowspan="2">XPS、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>記録層の表面汚染</td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s412_123.html">フタロシアニン系化合物のTOF-SIMS分析</a></td>
                    </tr>
                    <tr>
                      <td>微量不純物</td>
                      <td></td>
                      <td>SIMSによる微量元素のデプスプロファイル測定</td>
                    </tr>
                    <tr>
                      <td>表面潤滑膜</td>
                      <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>潤滑膜の組成、構造解析</td>
                    </tr>
                    <tr>
                      <td>断面層構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/s314_123.html">DVD-Rの断面観察（1）</a></td>
                    </tr>
                    <tr>
                      <td>断面の結晶構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM-ED</a></td>
                      <td>STEM観察による多層構造の確認</td>
                    </tr>
                    <tr>
                      <td>粒界組成</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a></td>
                      <td>記録層の粒界解析</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>