---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';
import Contents from '@components/Contents.astro';

const meta = {
	title: '半導体',
	description: '',
}

const contentsList = [
    { num: 1, txt: 'ウエハ', href: '#wafer' },
    { num: 2, txt: '半導体デバイス', href: '#device' },
    { num: 3, txt: 'LED、LD素子', href: '#led' },
    { num: 4, txt: 'ナノ材料', href: '#nano' },
];
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="半導体" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="エレクトロニクス" parent3="半導体"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/electronics_semiconductor_01.webp"}
                    alt="半導体"
                    lead="微細化・高性能化と同時に、材料劣化の早期検知、界面の不良要因解明、プロセス中の微量不純物管理など、半導体開発・量産現場では複雑な課題が増えています。DNP科学分析センターは、超微量分析、表面・界面解析、電子顕微鏡分析など長年培った専門技術を基盤に、デバイス構造の深い理解と課題の根因解析を実現。開発初期から量産立上げまで、お客様の技術課題解決を強力に支援します。"
                />
                <Contents list={contentsList} />
                <h2 id="wafer" class="h2-service">ウエハ</h2>
                <p>ウエハは、高度に組成を管理したSiやGaAsのような素材で作られた円柱状のインゴットを、薄くスライスした円盤状の板で、半導体素子製造の基盤材料です。弊社はウエハ中の極微量の不純物分析をはじめ、結晶状態の解析やドーパントの分析等、ウエハの分析に幅広く対応しております。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                        <th class="th-service-doc-section" scope="col">分析項目</th>
                        <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                        <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                        <td rowspan="4">表面形状</td>
                        <td rowspan="4"><a href="../../documents/an1368_540.html">SPM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                        <td><a href="../../documents/s411_121.html">AFMによる精密研磨面の表面形状比較</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s442_121.html">原子間力顕微鏡（AFM）によるエッチング段差測定</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s308_121.html">ベアリング解析による表面形状評価</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s309_121.html">パワースペクトル密度による表面形状評価</a></td>
                    </tr>
                    <tr>
                        <td rowspan="4">表面組成・化学状態</td>
                        <td rowspan="4">XPS、<a href="../../documents/f1501_510.html">FT-IR</a>、<a href="../../documents/s0701_540.html"><br>
                        TOF-SIMS</a></td>
                        <td><a href="../../documents/s231_121.html">ESCAによる表面官能基濃度の定量（1）</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s232_121.html">ESCAによる表面官能基濃度の定量（2）</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s233_121.html">ESCAによる表面官能基濃度の定量（3）</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s262_121.html">TOF-SIMSによる有機材料の表面汚染評価</a></td>
                    </tr>
                    <tr>
                        <td>表面層構造</td>
                        <td>AES</td>
                        <td>オージェによる3D元素マッピング</td>
                    </tr>
                    <tr>
                        <td rowspan="3">表面結晶構造</td>
                        <td rowspan="3"><a href="../../documents/x0510_530.html">XRD</a></td>
                        <td><a href="../../documents/x110_121.html">面内回折法による表面構造解析（1）</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/x117_121.html">面内回折法による表面構造解析（2）</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/x113_121.html">反射法による完全極点図形測定</a></td>
                    </tr>
                    <tr>
                        <td rowspan="2">断面の結晶構造</td>
                        <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a>、TEM-ED</td>
                        <td>断面の結晶欠陥解析</td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s438_121.html">Cs補正STEMによる各種材料観察</a></td>
                    </tr>
                    <tr>
                        <td rowspan="2">表面汚染状態の調査</td>
                        <td>AES</td>
                        <td><a href="../../documents/s185_121.html">オージェによるウエハ上のシミ部の分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                        <td><a href="../../documents/s208_121.html">TOF-SIMSによるウエハ表面の分析</a></td>
                    </tr>
                    <tr>
                        <td rowspan="2">表面有機物汚染</td>
                        <td rowspan="2"><a href="../../documents/o1802_510.html">TCT-GC/MS</a></td>
                        <td><a href="../../documents/o201_121.html">微量有機物の分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../materials/gas.html">加熱発生ガス分析</a></td>
                    </tr>
                    <tr>
                        <td>表面金属汚染</td>
                        <td><a href="../../documents/an1602_530.html">ICP-MS</a></td>
                        <td><a href="../../documents/i110_121.html">ICP-MSによるシリコンウエハ表面の金属不純物の定量</a></td>
                    </tr>
                    <tr>
                        <td rowspan="3">欠陥解析</td>
                        <td rowspan="3">AES、FIB-SEM、FIB-TEM</td>
                        <td><a href="../../documents/s183_121.html">オージェによるウォーターマークの分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/m257_121.html">FIB-SEM法を用いたSiウエハ上異物の分析</a></td>
                    </tr>
                    <tr>
                        <td><a href="../../documents/m254_121.html">FIB-TEM法を用いたSiウエハ上の微小異物の分析</a></td>
                    </tr>
                    </tbody>
                </table>
                <h2 id="device" class="h2-service">半導体デバイス</h2>
                <p>半導体デバイスは、ウエハ上に、トランジスタやダイオードなどの素子を組み合わせ電子回路を作製したものです。弊社は半導体デバイスの欠陥解析に深い経験と高い技術を有しており、半導体デバイスの開発に貢献しております。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>表面形状</td>
                      <td><a href="../../documents/an1368_540.html">SPM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s264_121.html">SPMによるSiウエハの表面粗さ測定</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">表面組成・化学状態</td>
                      <td rowspan="2">XPS、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s420_121.html">EDS制限視野マッピング測定</a></td>
                    </tr>
                    <tr>
                      <td>デバイスの表面汚染の分析</td>
                    </tr>
                    <tr>
                      <td rowspan="4">多層構造</td>
                      <td rowspan="4">AES、<a href="../../documents/x0510_530.html">XRD</a>、FIB-SEM</td>
                      <td><a href="../../documents/x110_121.html">面内回折法による表面構造解析（1）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x117_121.html">面内回折法による表面構造解析（2）</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x115_121.html">多孔質low-k膜ポアサイズ分布解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m253_121.html">積層セラミックコンデンサの3D解析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">断面層構造</td>
                      <td rowspan="2"><a href="../../documents/m1602_550.html">TEM</a>、AES</td>
                      <td><a href="../../documents/s419_121.html">EELSスペクトルラインプロファイルによる酸化膜解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s320_121.html">オージェ及びレーザラマンによるセラミックスの構造評価</a></td>
                    </tr>
                    <tr>
                      <td rowspan="3">断面の結晶構造</td>
                      <td><a href="../../documents/x0510_510.html">XRD</a></td>
                      <td><a href="../../documents/x114_121.html">多層薄膜の深さ制御In-Plane回折測定</a></td>
                    </tr>
                    <tr>
                      <td>FIB-SIM</td>
                      <td><a href="../../documents/s252_121.html">SIM像によるチャネリングコントラスト</a></td>
                    </tr>
                    <tr>
                      <td>FIB-SEM</td>
                      <td><a href="../../documents/m204_900.html">FIBマイクロサンプリング法を用いた集積回路配線部のSEM-EDS-EBSD分析</a></td>
                    </tr>
                    <tr>
                      <td rowspan="3">欠陥解析</td>
                      <td rowspan="3"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a>、FIB-SIM</td>
                      <td><a href="../../documents/s434_121.html">SIM像を用いたLSIの不良箇所の特定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s397_121.html">GaN中の転位解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m258_121.html">FIB-TEM法を用いたパターン配線上の微小異常部の分析</a></td>
                    </tr>
                    </tbody>
                </table>
                <h2 id="led" class="h2-service">LED、LD素子</h2>
                <p>発光ダイオード（LED）、レーザーダイオード（LD）は順方向に電圧を加えた際に発光する半導体素子のことで、照明、表示用として広く用いられています。弊社はLED、LDデバイスの故障解析に経験と高い技術を有しており、LED、LDの開発に貢献しております。</p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td >多層構造</td>
                      <td>AES、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>断面層構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s334_121.html">発光ダイオードの断面観察</a></td>
                    </tr>
                    <tr>
                      <td>断面の結晶構造</td>
                      <td><a href="../../documents/m1602_550.html">電子線回折TEM-ED</a></td>
                      <td><a href="../../documents/s397_121.html">TEMによるGaN中転移構造の詳細観察</a></td>
                    </tr>
                    <tr>
                      <td rowspan="4">欠陥解析</td>
                      <td rowspan="4"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s382_121.html">ヘテロ接合界面に生成した微小ドメインの解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/m224_121.html">多変量解析法を用いた化学状態分布の評価</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s470_114.html">半導体ヘテロ接合界面のTEMひずみ解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s281_121.html">EELSマッピング</a></td>
                    </tr>
                    </tbody>
                </table>
                <h2 id="nano" class="h2-service">ナノ材料</h2>
                <p>
                    CNT（カーボンナノチューブ）の特性はCNTの性質（直径、長さ、不純物、欠陥）と密接な関係があります。CNTの研究開発にはこれらの性質を正しく評価しなければならず、そのためには、様々な分析法を組み合わせて総合的に解釈する必要があります。特に、CNTは、一本一本が複雑に絡み合い凝集しているため、この状態での精密な規格評価は出来ません。弊社は、CNTの分散方法を様々な角度から検討し、各種解析に適したサンプル作製を行っております。<br>
                    CNTの分析については、<a href="../materials/cnt.html">材料（ナノ材料）</a>でも詳しくご紹介しております。
                </p>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td rowspan="6">直径</td>
                      <td rowspan="6"><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a>、<a href="../../documents/s0801_540.html">Raman</a>、<a href="../../documents/x0510_530.html">XRD</a></td>
                      <td><a href="../../documents/s340_121.html">TEMによる単層カーボンナノチューブの直径分布測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s364_121.html">単層カーボンナノチューブ（SWCNT）の高コントラスト測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s362_121.html">多層カーボンナノチューブの長さと直径のSEM測定</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s341_121.html">ラマン分光法による単層カーボンナノチューブの直径分布評価</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s355_121.html">単層カーボンナノチューブのラマンスペクトルに及ぼす励起レーザ光強度の影響</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x144_121.html">多層カーボンナノチューブの直径と積層間隔について</a></td>
                    </tr>
                    <tr>
                      <td rowspan="4">長さ</td>
                      <td rowspan="4"><a href="../../documents/an1368_540.html">SPM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td><a href="../../documents/s337_121.html">AFMを用いた単層カーボンナノチューブの長さ解析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s344_121.html">界面活性剤による単層カーボンナノチューブの孤立分散</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s345_121.html">単層カーボンナノチューブの長さ分布に及ぼす界面活性剤濃度の効果</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s362_121.html">多層カーボンナノチューブの長さと直径のSEM測定</a></td>
                    </tr>
                    <tr>
                      <td rowspan="3">欠陥、不純物</td>
                      <td rowspan="3"><a href="../../documents/s0801_540.html">Raman</a>、熱重量分析、<a href="../../documents/m1602_550.html">TEM</a></td>
                      <td><a href="../../documents/s342_121.html">ラマン分光法による単層カーボンナノチューブの欠陥評価</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/i158_121.html">カーボンナノチューブに含まれる「金属元素」の分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/o338_121.html">カーボンナノチューブに含まれる「多環芳香族炭化水素」の分析</a></td>
                    </tr>
                    <tr>
                      <td>表面状態</td>
                      <td>ESCA(XPS, UPS)、<a href="../../documents/s0801_540.html">Raman</a></td>
                      <td><a href="../../documents/s352_121.html">単層カーボンナノチューブの分析（XPS、ラマン分光法）</a></td>
                    </tr>
                    <tr>
                      <td rowspan="2">多面的評価</td>
                      <td rowspan="2">総合分析</td>
                      <td><a href="../../documents/s343_121.html">単層カーボンナノチューブの分散状態観察</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/x139_121.html">SEM-XRDによる多層カーボンナノチューブの直径評価</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";

.tbl-service-doc {
  tbody tr:first-child th:last-child {
    min-width: 410px!important;
  }
}
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>
