---
/********************************************************************
 * 	TOP
 **********************************************************************/
 import { BASE_DIR, IMG_PATH } from '/src/consts';
import Layout from '@layouts/Layout.astro';
import Inner from '@components/Inner.astro';
import SidebarArea from '@components/SidebarArea.astro';
import MvLower from '@components/MvLower.astro';
import TitleH1 from '@components/TitleH1.astro';
import MvCategory from '@components/MvCategory.astro';

const meta = {
	title: '太陽電池',
	description: '',
}
---
<Layout pageId="documents" title={meta.title} description={meta.description}>
    <MvLower title="分析対象" subTitle="Analytic subjects" src="mv/mv-service.webp" />
    <TitleH1 title="太陽電池" />
    <div class="main">
        <Inner>
            <SidebarArea parent="分析対象" parent2="エレクトロニクス" parent3="太陽電池"/>
            <div id="content">
                <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33"></a></div>
                <MvCategory 
                    imageSrc={IMG_PATH + "/service/solar_cell_01.webp"}
                    alt="太陽電池"
                    lead="次世代太陽電池では、膜質均一性の確保・界面劣化・成分拡散・耐久性向上など、開発から量産化まで多くの技術課題が存在します。当センターでは、XPS・TOF‑SIMS・電子顕微鏡などの高度解析を駆使し、劣化要因の特定、プロセスばらつきの可視化、材料・構造の最適化を強力にサポートします。研究段階から製造ライン改善まで、課題解決につながる確かな分析力でお応えします。"
                />
                <h2 id="lcd" class="h2-service">太陽電池</h2>
                <h3 class="h3-service-list">分析項目</h3>
                <table class="tbl-service-doc">
                    <tbody><tr>
                      <th class="th-service-doc-section" scope="col">分析項目</th>
                      <th class="th-service-doc-analyzer" scope="col">使用機器・手法</th>
                      <th class="th-service-doc-doc-title" scope="col">分析事例</th>
                    </tr>
                    <tr>
                      <td>表面形状</td>
                      <td><a href="../../documents/an1368_540.html">SPM</a>、<a href="../../documents/s0502_520.html">SEM</a></td>
                      <td>表面の形状劣化の観察</td>
                    </tr>
                    <tr>
                      <td rowspan="2">多層構造・化学状態</td>
                      <td rowspan="2">XPS、AES、XRD</td>
                      <td><a href="../../documents/s443_126.html">Arガスクラスターイオンビームを用いた有機膜のXPS深さ方向分析</a></td>
                    </tr>
                    <tr>
                      <td><a href="../../documents/s455_126.html">XPSによる有機薄膜太陽電池表面層の深さ方向分析</a></td>
                    </tr>
                    <tr>
                      <td>断面層構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0701_510.html">TOF-SIMS</a></td>
                      <td>TOF-SIMSによる結晶Si太陽電池モジュールの分析</td>
                    </tr>
                    <tr>
                      <td rowspan="2">断面の結晶構造</td>
                      <td><a href="../../documents/m1602_550.html">TEM-ED</a></td>
                      <td>微小欠陥の解析</td>
                    </tr>
                    <tr>
                      <td>FIB-SIM</td>
                      <td>結晶方位の解析</td>
                    </tr>
                    <tr>
                      <td>欠陥解析</td>
                      <td><a href="../../documents/m1602_550.html">TEM</a>、<a href="../../documents/s0501_520.html">SEM</a></td>
                      <td>TEMによる微小欠陥の解析</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </Inner>
    </div>
</Layout>

<style lang="scss">
@use "@styles/lower.scss";
</style>

<script>
	import '@scripts/rowspanBottomLine.js';
</script>