---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from "/src/consts";
import Layout from "@layouts/Layout.astro";
import Inner from "@components/Inner.astro";
import SidebarArea from "@components/SidebarArea.astro";
import MvLower from "@components/MvLower.astro";
import TitleH1 from "@components/TitleH1.astro";
import Contents from "@components/Contents.astro";

const meta = {
  title: "無機分析",
  description: "無機分析",
};

const contentsList = [
  { num: 1, txt: "組成分析と構造解析", href: "#composition" },
  { num: 2, txt: "超微量分析", href: "#ultramicro" },
];
---

<Layout pageId="documents" title={meta.title} description={meta.description}>
  <MvLower title="分析事例" subTitle="Analytic case" src="mv/mv-analysis.webp"/>
  <TitleH1 title="無機分析" />
  <div class="main">
    <Inner>
      <SidebarArea parent="分析事例" parent2="無機分析" />
      <div id="content">
        <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33" /></a></div>
        <p>
          組成分析と構造解析　電子材料・半導体・金属・セラミックス・セメント・触媒など無機材料の元素分析と、化合物組成の解析、結晶構造・組織の解析、熱的性質の解析などを、広範囲におこなっています。とりわけ、無機化合物に対する深い知識と試料の高度な前処理技術をベースに、材料をマクロレベルから分子レベルにいたるまで精密に解析し、新素材開発に役立つキャラクタリゼーションをすすめていることが、大きな特徴です。超微量分析　最新鋭の分析機器と緻密な分析化学手法を用いて、試料に含まれるきわめて微量の元素やイオンの種類・濃度を調べ、純度評価や超微量不純物の分析を行います。クリーンルームテクノリジーを活用した高純度試料の前処理をベースに、高感度・高精度の分析をすすめ、半導体製造用薬品・有機電子材料などにとって、なくてはならない役割を担うとともにクリーンルームの環境評分析もお引き受けしています。
        </p>
        <Contents list={contentsList} />
        <div class="analysis-category">
          <h2 id="composition" class="h2-service">組成分析と構造解析</h2>
          <h3 class="h3-service-list">Ｘ線回折法および<a href="../documents/c0802_530.html">小角Ｘ線散乱法</a>（XRD、SAXS）</h3>
          <ul>
          <li><a href="../documents/x114_121.html">多層薄膜の深さ制御In-Plane回折測定</a>　（自動車/パワー半導体・エレクトロニクス/半導体）</li>
          <li><a href="../documents/x183_115.html">Ｘ線回折による配向度測定</a>　（自動車/高分子材料）</li>
          <li><a href="../documents/s540_115.html">小角X線散乱による樹脂フィルムの配向性評価</a>　（自動車/高分子材料）</li>
          <li><a href="../documents/x121_115.html">ポリマーシートの深さ制御 IN-Plane回折測定</a>　（自動車/高分子材料・材料/無機材料、高分子材料）</li>
          <li><a href="../documents/x110_121.html">面内回折法による表面構造解析（1）</a>　（自動車/パワー半導体・エレクトロニクス/半導体）</li>
          <li><a href="../documents/x117_121.html">面内回折法による表面構造解析（2）</a>　（自動車/パワー半導体・エレクトロニクス/半導体・材料/高分子材料）</li>
          <li><a href="../documents/x113_121.html">反射法による完全極点図形測定</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/x115_121.html">多孔質low-k膜ポアサイズ分布解析</a>　（自動車/パワー半導体・エレクトロニクス/半導体）</li>
          <li><a href="../documents/x141_122.html">高分子表面の分子鎖配向性評価（1）</a>　（エレクトロニクス/ディスプレイ・材料/高分子材料、無機材料）</li>
          <li><a href="../documents/x142_122.html">高分子表面の分子鎖配向性評価（2）</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/x151_122.html">高分子表面の分子鎖配向性評価（3）</a>　（エレクトロニクス/ディスプレイ）</li>
          <li>Liイオン電池（正極材）のＸ線回折による構造解析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>ファンダメンタル･パラメータ法による定量分析　（材料/無機材料） </li>
          <li><a href="../documents/p247_141.html">ナフィオンの小角Ｘ線散乱測定</a>　（材料/高分子材料）</li>
          <li><a href="../documents/c008_143.html">分光光度計による固体材料表面の正反射率測定</a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/x118_143.html">Ｘ線反射率による多層膜の膜厚、密度、表面（界面）粗さ評価</a>　（材料/無機材料）</li>
          <li><a href="../documents/x119_143.html">外部および内部標準による精密格子定数解析</a>　（材料/無機材料）</li>
          <li><a href="../documents/x149_145.html">学振法に準拠する炭素材料粉末の評価</a>　（材料/触媒）</li>
          </ul>
          <h3 class="h3-service-list"><a href="../documents/an1305_530.html">蛍光Ｘ線分光分析法（XRF）</a></h3>
          <ul>
          <li>Liイオン電池（正極材）の蛍光Ｘ線による組成分析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/x112_143.html">蛍光X線ファンダメンタルパラメータ法による定量分析</a>　（材料/無機材料） </li>
          </ul>
        
            <h3 class="h3-service-list"><a href="../documents/s0801_510.html">レーザラマン分光分析法（RAMAN）</a></h3>
          <ul>
            <li><a href="../documents/s506_143.html">顕微ラマン分光分析による結晶形の評価</a>　（材料/金属・無機材料）</li>
            <li><a href="../documents/s516_143.html">顕微ラマン分光分析によるアルミの白化原因究明</a>　（材料/金属・無機材料） </li>
          </ul>
        
          <h3 class="h3-service-list"><a href="../documents/s1403_530.html">電子線プローブ微小部分析法</a>（EPMA）</h3>
          <ul>
          <li><a href="../documents/p279_147.html">ミリングプロによるガラス中埋没物の同定</a>　（材料/異物分析）</li>
          <li><a href="../documents/s478_143.html">元素偏在の定量的評価の試み －ジニ係数－</a>　（材料/金属・無機材料）</li>
          </ul>
          <h3 class="h3-service-list"><a href="../documents/m1602_550.html">透過電子顕微鏡法</a>（TEM）</h3>
          <ul>
          <li><a href="../documents/l004_124.html">EELSスペクトルによるMn酸化状態の解析</a>　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/l029_124.html">Co酸化物中LiのEELSマッピング検討</a>　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/p160_115.html">複合材料の総合解析モルフォロジー観察</a>　（自動車/高分子材料）</li>
          <li><a href="../documents/s402_113.html">Cs補正STEM</a>　（自動車/パワー半導体）</li>
          <li><a href="../documents/s382_114.html">ヘテロ接合界面に生成した微小ドメインの解析</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li><a href="../documents/s397_121.html">TEMによるGaN中転移構造の詳細観察</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li><a href="../documents/s281_121.html">EELSマッピング</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li><a href="../documents/s397_121.html">GaN中の転位解析</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li><a href="../documents/s380_122.html">結晶性粒界構造の解析</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s486_143.html">SEM-EBSD法を用いた指定結晶粒界部のFIB-TEM分析</a>　（エレクトロニクス/記録材料、材料/金属・無機材料）</li>
          <li><a href="../documents/s381_122.html">アモルファス粒界構造の解析</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s250_123.html">STEM-EDSによるマッピング測定</a>　（エレクトロニクス/金属・無機材料）</li>
          <li><a href="../documents/s504_145.html">PtRu合金触媒のSTEM-EDS分析</a>　（材料/触媒・粉体）</li>
          <li><a href="../documents/s314_123.html">DVD-Rの断面観察（1）</a>　（エレクトロニクス/記録材料）</li>
          <li><a href="../documents/s461_143.html">断面TEMによる研磨面の評価</a>　（材料/高分子材料、金属・無機材料） </li>
          <li><a href="../documents/s335_123.html">粒子径解析ソフトの応用</a>　（エレクトロニクス/記録材料）</li>
          <li><a href="../documents/pr0923a_123.html">HDD媒体の粒界解析</a>　（エレクトロニクス/記録材料）</li>
          <li>カーボン材料の劣化状態の観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/m1702_550.html">電子エネルギー損失分光</a>　（材料/金属・無機材料） </li>
          <li><a href="../documents/s494_143.html">Electron Energy Loss Spectroscopy（EELS）スペクトル解析</a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/l004_124.html">EELSスペクトルによるMn酸化状態の解析</a>　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/l029_124.html">Co酸化物中LiのEELSマッピング検討</a>　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/p160_141.html">TEMによるブレンドゴムのCBの分析</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p189_141.html">カラートナーの断面TEM観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p235_141.html">ポリ塩化ビニル製品の表面劣化形態TEM観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p241_141.html">スチレン系ブロック共重合体のTEM観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p243_141.html">ゴム中のフィラーの3D-TEM観察と元素マッピング</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s482_143.html">電子回折法による土壌鉱物の同定</a>　（材料/金属・無機材料） </li>
          <li><a href="../documents/s340_144.html">TEMによる単層カーボンナノチューブの直径分布測定</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s346_144.html">カーボンナノチューブ複合材料のTEM観察</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s364_144.html">単層カーボンナノチューブ(SWCNT)の高コントラスト測定</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/x144_144.html">多層カーボンナノチューブの直径と積層間隔について</a>　（エレクトロニクス/半導体・材料/無機材料、ナノ材料）</li>
          </ul>
          <h3 class="h3-service-list"><a href="../documents/s0501_530.html">走査電子顕微鏡法（1）</a>、<a href="../documents/s0502_530.html">走査電子顕微鏡法（2）</a>（SEM）</h3>
          <ul>
          <li><a href="../documents/p207_115.html">複合材料中充填材の配向度の可視化（成形品の流動解析）</a>　（自動車/高分子材料）</li>
          <li><a href="../documents/s334_121.html">発光ダイオードの断面観察</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li>Li二次電池正極材料の断面観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Li電池用セパレーターの多孔質構造の観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面SEM観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の断面SEM観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その1　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その2　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その3　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/p306_900.html">大きな試料のSEM-EDS分析</a></li>
          <li><a href="../documents/p165_141.html">高分子の球晶構造のSEM観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s513_900.html">イオン液体を浸漬させたムラサキツユクサ葉裏のSEM-EDS分析</a></li>
          <li><a href="../documents/s472_145.html">SEMによる低加速電圧でのEDSマップ</a>　（材料/触媒） </li>
          <li><a href="../documents/s510_900.html">SEMによるEDS元素マッピング分析時間の検討</a></li>
          <li><a href="../documents/s479_143.html">EDS法による不特定微量元素の検出</a>　（材料/金属・無機材料） </li>
          <li><a href="../documents/p307_900.html">EDSの精度について</a></li>
          <li><a href="../documents/s480_143.html">EDS法、WDS法による重複ピークの分析</a>　（材料/金属・無機材料） </li>
          <li><a href="../documents/p185_141.html">SEMによる破面観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p234_144.html">低真空SEMによる樹脂中のカーボンナノチューブの観察</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s349_144.html">複合材中のカーボンナノチューブ分散状態SEM観察</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s351_144.html">複合材中カーボンナノチューブ分散状態の立体的観察（ステレオ観察）</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s362_144.html">多層カーボンナノチューブの長さと直径のSEM測定</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/x139_144.html">SEM-XRDによる多層カーボンナノチューブの直径評価</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s383_147.html">反射電子像観察による異物探索</a>　（材料/異物分析）</li>
          <li><a href="../documents/s462_143.html">EBSDによる線材曲げ部の評価</a>　（材料/無機材料）</li>
          <li><a href="../documents/s485_143.html">EBSDによる線材曲げ部の方位差マップ</a>　（材料/無機材料）</li>
          <li><a href="../documents/s473_143.html">EBSDによる線材破断部付近の調査</a>　（材料/無機材料） </li>
          <li><a href="../documents/s471_143.html">EBSDによる亜鉛メッキ鋼板の結晶方位解析</a>　（材料/無機材料）</li>
          <li><a href="../documents/m217_143.html">SEM-EBSDによる炭酸カルシウムの結晶方位解</a>　（材料/無機材料）</li>
          <li><a href="../documents/s486_143.html">SEM-EBSD法を用いた指定結晶粒界部のFIB-TEM分析</a>　（エレクトロニクス/記録材料、材料/金属・無機材料）</li>
          </ul>
          <h2 id="ultramicro" class="h2-service">超微量分析</h2>
          <h3 class="h3-service-list"><a href="../documents/an1303_530.html">誘導結合プラズマ発光分光分析法</a>（ICP-AES）</h3>
          <ul>
          <li>
            <a href="../documents/i366_143.html">
              Si/SiO<sub>2</sub> 混合物中の金属Si とSiO<sub>2</sub> の分別定量法
            </a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/i342_143.html">試料の溶液化（湿式分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i343_143.html">試料の溶液化（加圧酸分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i344_143.html">試料の溶液化（マイクロウェーブ分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i350_143.html">試料の溶液化（溶融分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i339_143.html">ICP-AESの定量感度</a>　（材料/無機材料）</li>
          <li>Liイオン電池負極活物質中の金属元素分析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極活物質中の金属元素分析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/i218_131.html">ICP-AES、ICP-MS、ICによる微量元素（金属・非金属）分析</a>　（ライフサイエンス/医薬・食品）</li>
          <li><a href="../documents/i231_133.html">技能試験「茶葉中の無機元素分析」</a>　（ライフサイエンス/食品）</li>
          <li><a href="../documents/i284_133.html">技能試験「玄米中の無機元素分析（3）」</a>　（ライフサイエンス/食品） </li>
          <li><a href="../documents/i308_133.html">認証標準物質NMIJ CRMの分析 ｢メカジキ魚肉粉末中の元素分析｣</a>　（ライフサイエンス/食品） </li>
          
          <li><a href="../documents/i158_144.html">カーボンナノチューブに含まれる「金属元素」の分析</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/i136_145.html">自動車触媒中のP、Sの分析</a>　（材料/触媒）</li>
          <li><a href="../documents/i122_145.html">W、Cs担持アルミナ触媒の組成分析</a>　（材料/触媒）</li>
          <li><a href="../documents/i286_143.html">認証標準物質NMIJ CRMの分析「炭化けい素中の微量元素分析」</a>　（材料/無機材料）</li>
          <li><a href="../documents/i287_141.html">認証標準物質NMIJ CRMの分析「PP樹脂中の重金属分析」</a>　（材料/高分子材料）</li>
          <li><a href="../documents/i324_143.html">認証標準物質NMIJ CRMの分析「河川水中の微量元素分析」</a>　（材料/無機材料）</li>
          <li><a href="../documents/i242_143.html">技能試験「水中の重金属分析（日環53-10WM）」</a>（材料/無機材料）</li>
          <li><a href="../documents/i333_143.html">ICP-AES による半定量分析</a>（材料/金属・無機材料） </li>
          </ul>
          <h3 class="h3-service-list">加熱気化全自動水銀測定法</h3>
          <h3 class="h3-service-list">高分解能誘導結合プラズマ－質量分析法（HR-ICP-MS）、<a href="../documents/an1602_530.html">誘導結合プラズマ質量分析法</a>（ICP-MS）</h3>
          <ul>
          <li><a href="../documents/i342_143.html">試料の溶液化（湿式分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i343_143.html">試料の溶液化（加圧酸分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i344_143.html">試料の溶液化（マイクロウェーブ分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i350_143.html">試料の溶液化（溶融分解）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i351_131.html">マイクロ波分解/ICP-MS法による医薬品中の元素不純物測定（ICH-Q3Dガイドライン対応）</a> 　（ライフサイエンス/医薬・食品）</li>
          <li><a href="../documents/i352_131.html">マイクロ波分解/ICP-MS法による医薬品中の白金族元素の分析</a> 　（ライフサイエンス/医薬・食品）</li>
          <li><a href="../documents/i340_143.html">ICP-MSの定量感度</a>　（材料/無機材料）</li>
          <li><a href="../documents/i380_143.html">トリプル四重極型ICP-MSを用いたマスシフト法</a>　（材料/無機材料）</li>
          <li><a href="../documents/i353_143.html">ICP-MSによる高純度アンモニア水中の極微量元素の定量度</a> 　（材料/無機材料）</li>
          <li><a href="../documents/i110_121.html">ICP-MSによるシリコンウエハ表面の金属不純物の定量</a>　（エレクトロニクス/半導体、クリーンルーム環境・材料/無機材料）</li>
          <li>Liイオン電池負極活物質中の金属元素分析析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極活物質中の金属元素分析　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/i218_131.html">ICP-AES、ICP-MS、ICによる微量元素（金属・非金属）分析</a>　（ライフサイエンス/医薬・食品）</li>
          <li><a href="../documents/i221_133.html">食品中の微量金属の定量</a>　（ライフサイエンス/食品）</li>
          <li><a href="../documents/i224_133.html">ICP-MSによる食品容器・包装材料中の有害金属分析</a>　（ライフサイエンス/食品）</li>
          <li><a href="../documents/i231_133.html">技能試験「茶葉中の無機元素分析」</a>　（ライフサイエンス/食品）</li>
            <li><a href="../documents/i286_143.html">認証標準物質NMIJ CRMの分析「炭化けい素中の微量元素分析」</a>　（材料/無機材料） </li>
          <li><a href="../documents/i266_143.html">HR-ICP-MSによる希土類元素の高感度分析</a>　（材料/無機材料）</li>
          <li><a href="../documents/i283_143.html">HR-ICP-MS法（有機溶媒直接導入測定）による有機溶媒中のシリコンの定量分析</a>　（材料/無機材料）  </li>
          <li><a href="../documents/i305_143.html">HR-ICP-MSによるけい素の同位体分析</a>　（材料/無機材料）   </li>
          <li><a href="../documents/i326_143.html">固相抽出／ICP-MSによるK2CO3中のCoの定量分析</a>　（材料/無機材料）</li>
          <li><a href="../documents/i145_143.html">セラミックス中の微量特定有害金属の分析（1）</a>　（材料/無機材料）</li>
          <li><a href="../documents/i158_144.html">カーボンナノチューブに含まれる「金属元素」の分析</a>　（材料/ナノ材料）</li>
          </ul>
          <h3 class="h3-service-list">(黒鉛炉)原子発光分析法((GF)AAS)</h3>
          <ul>
          <li><a href="../documents/i149_143.html">セラミックス中の微量特定有害金属の分析（2）</a>　（材料/無機材料）</li>
          </ul>
          <h3 class="h3-service-list">イオンクロマトグラフ法（IC)</h3>
          <ul>
          <li><a href="../documents/i218_131.html">ICP-AES、ICP-MS、ICによる微量元素（金属・非金属）分析</a>　（ライフサイエンス/医薬・食品）</li>
          <li><a href="../documents/i264_143.html">イオンクロマトグラフ－質量分析法による不純物の同定</a> （材料/金属・無機材料）</li>
          <li><a href="../documents/i336_143.html">イオンクロマトグラフ－質量分析計による六価クロムの定量分析</a> （材料/金属・無機材料） </li>
          <li><a href="../documents/i279_143.html">イオンクロマトグラフによるアセトニトリル中の陰イオンの定量分析</a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/i381_143.html">イオンクロマトグラフ（IC）・イオンクロマトグラフ-質量分析計（IC-MS）による無機陽イオンの定量下限と定量性</a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/f097_143.html">ICによる残存シラノールの分析</a>　（エレクトロニクス/半導体、材料/有機材料、金属・無機材料） </li>
          <li><a href="../documents/i114_146.html">イオンクロマトグラフ法によるアミン類の分析</a>　（材料/加熱発生ガス分析）</li>
          <li><a href="../documents/i159_145.html">アルミナ系触媒中のClの分析</a>　（材料/触媒）</li>
          </ul>
          <h3 class="h3-service-list"><a href="../documents/an1319_530.html">昇温脱離ガス質量分析法（TDS-MS）</a></h3>
          <ul>
            <li><a href="../documents/f091_146.html">TDS-MSによるLiB正極活物質温度特性の分析</a>　（自動車/リチウムイオン二次電池・エレクトロニクス/リチウムイオン二次電池・材料/加熱発生ガス）</li>
            <li><a href="../documents/f095_146.html">LiB正極のTDS-MSによる温度特性の分析（1）</a>　（自動車/リチウムイオン二次電池・エレクトロニクス/リチウムイオン二次電池・材料/加熱発生ガス）</li>
          </ul>
          <p>&nbsp;</p>
          
        <!--analysis-category end-->
        </div>
      </div>
    </Inner>
  </div>
</Layout>

<style lang="scss">
  @use "@styles/lower.scss";
</style>
