---
/********************************************************************
 * 	TOP
 **********************************************************************/
import { BASE_DIR, IMG_PATH } from "/src/consts";
import Layout from "@layouts/Layout.astro";
import Inner from "@components/Inner.astro";
import SidebarArea from "@components/SidebarArea.astro";
import MvLower from "@components/MvLower.astro";
import TitleH1 from "@components/TitleH1.astro";

const meta = {
  title: "表面分析",
  description: "表面分析",
};
---

<Layout pageId="documents" title={meta.title} description={meta.description}>
  <MvLower title="分析事例" subTitle="Analytic case" src="mv/mv-analysis.webp"/>
  <TitleH1 title="表面分析" />
  <div class="main">
    <Inner>
      <SidebarArea parent="分析事例" parent2="表面分析" />
      <div id="content">
        <div class="print-btn"><a href="#" onclick="window.print();return false;"><img src={IMG_PATH + "common/btn_print.svg"} alt="このページを印刷する" width="189" height="33" /></a></div>
        <p>
          機能性材料やナノテク材料など先端材料では、表面酸化、腐食、汚染、偏析、膜構造、組成変化、形状変化など、材料の表面に関するさまざまな問題の解明が重要になっています。このような問題に対し、最新鋭の分析機器（ESCA、オージェ、SIMS、EPMA、SPM）を駆使して、材料の表面や界面の情報をとらえ、これらの知見を総合的に判断して、問題の解決にあったています。
        </p>
        <div class="accordion-none">
          <h2><a href="../documents/s1101_540.html">Ｘ線光電子分光装置</a>（XPS/ESCA）、紫外線光電子分光装置（UPS）</h2>
          <ul>
          <li><a href="../documents/s231_121.html">ESCAによる表面官能基濃度の定量（1）</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s232_121.html">ESCAによる表面官能基濃度の定量（2）</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s233_121.html">ESCAによる表面官能基濃度の定量（3）</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s392_122.html">XPS価電子帯スペクトルによる材料評価</a>　（エレクトロニクス/ディスプレイ）</li>
          <li>XPSによるLiイオン電池正極表面の分析　（エレクトロニクス/リチウムイオン二次電池）</li>
        
          <li><a href="../documents/s468_124.html">Ar-GCIBを用いたLiイオン電池負極表面のXPS深さ方向分析</a>　（エレクトロニクス/リチウムイオン二次電池） </li>
        <!-- 0214 ナノかエレ/半導体にはある
          <li><a href="../documents/s352_144.html">単層カーボンナノチューブの分析（XPS、ラマン分光法）</a>　（材料/触媒）</li>
        -->
          <li><a href="../documents/s443_126.html">Arガスクラスターイオンビームを用いた有機膜のXPS深さ方向分析</a> （エレクトロニクス/太陽電池）</li>
          <li><a href="../documents/s455_126.html">XPSによる有機薄膜太陽電池表面層の深さ方向分析</a> （エレクトロニクス/太陽電池）</li>
          <li><a href="../documents/s537_141.html">ARXPSによるナノスケール深さ方向分析</a>（材料/高分子材料）</li>
          <li><a href="../documents/s173_145.html">ESCAによる触媒表面の分析 (S173)</a>　（材料/触媒）</li>
          <li><a href="../documents/s520_143.html">光電子分光用の前処理装置～より付着物の少ない前処理へ～</a>　（材料/無機材料）</li>
          <li><a href="../documents/s464_143.html">Ar-GCIBを利用した無機材料の化学状態の評価</a>　（材料/無機材料） </li>
          <li><a href="../documents/s465_143.html">化学結合状態の温度変化の測定</a>　（材料/無機材料） </li>
          <li>
            <a href="../documents/s526_143.html">X線光電子装置用前処理装置 (VersaPrep)</a>　（材料/無機材料） 
          </li>
          </ul>
          
          <h2>走査型オージェ電子分光法（SAM）</h2>
          <ul>
          <li><a href="../documents/s183_121.html">オージェによるウォーターマークの分析</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s185_121.html">オージェによるウエハ上のシミ部の分析</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s320_121.html">オージェ及びレーザラマンによるセラミックスの構造評価</a>　（自動車/パワー半導体・エレクトロニクス/半導体）</li>
          <li><a href="../documents/s182_122.html">オージェによる異物断面の分析</a>　（エレクトロニクス/ディスプレイ）</li>
          <li>オージェによるリチウムイオン電池正極表面の評価　（エレクトロニクス/リチウムイオン二次電池）</li>
          </ul>
           
          <h2><a href="../documents/s0701_540.html">飛行時間型二次イオン質量分析法</a>（TOF-SIMS）</h2>
          <ul>
          <li><a href="../documents/s208_121.html">TOF-SIMSによるウエハ表面の分析</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s262_121.html">TOF-SIMSによる有機材料の表面汚染評価</a>　（材料/異物分析）</li>
          <li><a href="../documents/s500_142.html">TOF-SIMSによる用紙のインクはじき部の分析</a>　（材料/有機材料）</li>
          <li><a href="../documents/s216_122.html">TOF-SIMSによるカラーフィルタ表面の分析</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s240_122.html">TOF-SIMSによるEL材料の分析（1）</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s370_122.html">クラスター型一次イオンを用いた有機顔料の分析</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s400_122.html">傾斜切削法を用いた有機感光体（OPC）のTOF-SIMS分析（1）</a>　（エレクトロニクス/ディスプレイ）</li>
          <li><a href="../documents/s401_122.html">傾斜切削法を用いた有機感光体（OPC）のTOF-SIMS分析（2）</a>　（エレクトロニクス/ディスプレイ）</li>
          <li>TOF-SIMSによるLiイオン電池正極表面の分析　（エレクトロニクス/リチウムイオン二次電池）</li>
          </ul>
          <h2><a href="../documents/s1403_540.html">電子線プローブ微小部分析法</a>（EPMA）</h2>
            <ul>
          <li><a href="../documents/p279_147.html">ミリングプロによるガラス中埋没物の同定</a>　（材料/異物分析）</li>
          <li><a href="../documents/s478_143.html">元素偏在の定量的評価の試み －ジニ係数－</a>　（材料/金属・無機材料） </li>
          </ul>
          <h2><a href="../documents/s0501_540.html">走査電子顕微鏡法（1）</a>、<a href="../documents/s0502_540.html">走査電子顕微鏡法（2）</a>（SEM）</h2>
          <ul>
          <li><a href="../documents/p332_147.html">大きな試料をそのままSEM で観たい</a>　（材料/異物分析）</li>
          <li><a href="../documents/p207_115.html">複合材料中充填材の配向度の可視化（成形品の流動解析）</a>　（自動車/高分子材料）</li>
          <li><a href="../documents/s334_121.html">発光ダイオードの断面観察</a>　（自動車/LED素子・エレクトロニクス/半導体）</li>
          <li>Li二次電池正極材料の断面観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Li電池用セパレーターの多孔質構造の観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面SEM観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の断面SEM観察　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その1　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その2　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li>Liイオン電池正極の表面EDS分析－その3　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/s534_111.html">高感度EDSによるLiB用負極内のバインダー・分散剤の分布評価</a>　（自動車/リチウムイオン二次電池）</li>
          <li><a href="../documents/p306_900.html">大きな試料のSEM-EDS分析</a></li>
          <li><a href="../documents/p165_141.html">SEMによる 高分子の球晶構造のSEM観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s493_141.html">SEMによる各種試料の観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s513_900.html">イオン液体を浸漬させたムラサキツユクサ葉裏のSEM-EDS分析</a></li>
          <li><a href="../documents/s508_141.html">イオン液体を用いたカラーコンタクトレンズ断面のSEM観察</a>　（材料/高分子材料） </li>
          <li><a href="../documents/s1601_540.html">高感度SEM用EDS検出器</a>　（表面分析） </li>
          <li><a href="../documents/s472_145.html">SEMによる低加速電圧でのEDSマップ</a>　（材料/触媒）</li>
          <li><a href="../documents/s510_900.html">SEMによるEDS元素マッピング分析時間の検討</a></li>
          <li><a href="../documents/s479_143.html">EDS法による不特定微量元素の検出</a>　（材料/金属・無機材料） </li>
          <li><a href="../documents/s514_900.html">高感度EDSによる微量元素の検出</a></li>
          <li><a href="../documents/s515_900.html">EDSマックスピクセルスペクトラム法による微量元素の検出</a></li>
          <li><a href="../documents/p307_900.html">EDSの精度について</a></li>
          <li><a href="../documents/s480_143.html">EDS法、WDS法による重複ピークの分析</a>　（材料/金属・無機材料）  </li>
          <li><a href="../documents/p185_141.html">SEMによる破面観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s463_141.html">炭素繊維強化プラスチックの破断面観察</a>　（材料/高分子材料）</li>
          <li><a href="../documents/p234_144.html">低真空SEMによる樹脂中のカーボンナノチューブの観察</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s349_144.html">複合材中のカーボンナノチューブ分散状態SEM観察</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s351_144.html">複合材中カーボンナノチューブ分散状態の立体的観察（ステレオ観察）</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s362_144.html">多層カーボンナノチューブの長さと直径のSEM測定</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/x139_144.html">SEM-XRDによる多層カーボンナノチューブの直径評価</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s383_147.html">反射電子像観察による異物探索</a>　（材料/異物分析）</li>
          <li><a href="../documents/s462_143.html">EBSDによる線材曲げ部の評価</a>　（材料/無機材料）</li>
          <li><a href="../documents/s485_143.html">EBSDによる線材曲げ部の方位差マップ</a>　（材料/無機材料）</li>
          <li><a href="../documents/s473_143.html">EBSDによる線材破断部付近の調査</a>　（材料/無機材料）</li>
          <li><a href="../documents/s471_143.html">EBSDによる亜鉛メッキ鋼板の結晶方位解析</a>　（材料/無機材料）</li>
          <li><a href="../documents/m217_143.html">SEM-EBSDによる炭酸カルシウムの結晶方位解</a>　（材料/無機材料）</li>
          <li><a href="../documents/m204_900.html">FIBマイクロサンプリング断面加工試料のSEM-EBSD測定</a></li>   
          <li><a href="../documents/m205_143.html">SEM-EBSD、EDS同時測定による同一結晶系材料の相分離</a>　（材料/金属・無機材料）</li>  
          <li><a href="../documents/m208_143.html">SEM-EBSD、EDS同一視野測定によるTi合金のミクロ組織評価</a>　（材料/金属・無機材料）</li>   
          <li><a href="../documents/s486_143.html">SEM-EBSD法を用いた指定結晶粒界部のFIB-TEM分析</a>　（エレクトロニクス/記録材料、材料/金属・無機材料）</li>
          </ul>
          
          <h2><a href="../documents/an1368_540.html">走査型プローブ顕微鏡法</a>（SPM）</h2>
          <ul>
          <li><a href="../documents/s474_141.html">ピークフォースタッピングモードによる表面形状測定</a> （材料/高分子材料） </li>
          <li><a href="../documents/s308_121.html">走査型プローブ顕微鏡－ベアリング解析による表面形状評価－</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s442_121.html">原子間力顕微鏡（AFM）によるエッチング段差測定</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s309_121.html">走査型プローブ顕微鏡－パワースペクトル密度による表面形状評価－</a>　（エレクトロニクス/半導体）</li>
          <li><a href="../documents/s275_144.html">走査型プローブ顕微鏡－電気力顕微鏡－</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s426_144.html">走査型プローブ顕微鏡（SPM）による分析の概要</a>　（材料/ナノ材料）</li>
          <li><a href="../documents/s457_141.html">走査型プローブ顕微鏡（SPM）による樹脂試料の機械特性測定</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s476_141.html">走査型プローブ顕微鏡（SPM）によるポリマーの機械特性測定例</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s541_141.html">走査型プローブ顕微鏡（SPM）によるゴムの劣化分析</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s543_141.html">走査型プローブ顕微鏡（SPM）による粘弾性測定</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s527_143.html">走査型プローブ顕微鏡（SPM）による複合材料の弾性率分布評価</a>　（材料/金属・無機材料）</li>
          <li><a href="../documents/s512_900.html">走査型プローブ顕微鏡（SPM）像中の画像抽出による解析</a></li>
          <li><a href="../documents/s542_141.html">画像解析によるSPM弾性率像への形状の影響の対策</a></li>
          <li><a href="../documents/s499_900.html">吸着力による親水性評価</a></li>
          <li><a href="../documents/s492_900.html">ケルビンプローブフォース顕微鏡による表面電位測定</a></li>
          <li><a href="../documents/s521_900.html">拡がり抵抗顕微鏡による抵抗分布測定</a></li>
          <li><a href="../documents/s535_124.html">走査型プローブ顕微鏡（SPM）を用いた導電パス解析</a>　（エレクトロニクス/リチウムイオン二次電池）</li>
          <li><a href="../documents/s491_900.html">AFMにおける解析パラメータ</a></li>
          <li><a href="../documents/s337_144.html">AFMを用いた単層カーボンナノチューブの長さ解析</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s343_144.html">単層カーボンナノチューブの分散状態観察</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s344_144.html">界面活性剤による単層カーボンナノチューブの孤立分散</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s345_144.html">単層カーボンナノチューブの長さ分布に及ぼす界面活性剤濃度の効果</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s350_144.html">ポリマー材料中に分散したカーボンナノチューブの電気力顕微鏡観察</a>　（材料/ナノ材料）</li>
          </ul>
          
          <h2><a href="../documents/s0801_540.html">レーザラマン分光分析法</a>（RAMAN）</h2>
          <ul>
          <li><a href="../documents/s501_900.html">壊したくない、開けたくない、速く知りたいなら 顕微ラマン</a></li>
          <li><a href="../documents/s517_900.html">顕微ラマン分光分析によるお手軽・簡易・大気フリー測定</a></li>
          <li><a href="../documents/s503_141.html">顕微ラマン分光分析によるポリマーの定性</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s502_141.html">顕微ラマン分光分析によるタンパクとナイロンの識別</a>　（材料/高分子材料）</li>
          <li><a href="../documents/s396_131.html">レーザラマンによるラミネートフィルムの分析</a>　（ライフサイエンス/医薬）</li>
          <li><a href="../documents/s342_144.html">ラマン分光法による単層カーボンナノチューブの欠陥評価</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s355_144.html">単層カーボンナノチューブのラマンスペクトルに及ぼす励起レーザ光強度の影響</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s352_144.html">単層カーボンナノチューブの分析「XPS、ラマン分光法」</a>　（エレクトロニクス/半導体・材料/ナノ材料）</li>
          <li><a href="../documents/s466_143.html">カーボン材料のラマンスペクトルの励起波長依存性</a>　（材料/無機材料）</li>
          <li><a href="../documents/s516_143.html">顕微ラマン分光分析によるアルミの白化原因究明</a>　（材料/金属・無機材料）  </li>
          </ul>
        </div>
      </div>
    </Inner>
  </div>
</Layout>

<style lang="scss">
  @use "@styles/lower.scss";
</style>
